<ion-item-divider>Interfaces</ion-item-divider>
<ion-item
  button
  *ngFor="let interfaceInfo of pkg.installed!.interfaceInfo | keyvalue"
  [routerLink]="['interfaces', interfaceInfo.key]"
>
  <ion-icon
    slot="start"
    [name]="interfaceInfo.value.ui ? 'desktop-outline' : 'terminal-outline'"
  ></ion-icon>
  <ion-label>
    <h2>{{ interfaceInfo.value.name }}</h2>
    <p>{{ interfaceInfo.value.description }}</p>
  </ion-label>
  <ion-button
    *ngIf="interfaceInfo.value.ui"
    slot="end"
    fill="clear"
    color="primary"
    (click)="launchUI(interfaceInfo.value, $event)"
    [disabled]="pkg.installed!.status.main.status !== 'running'"
  >
    <ion-icon slot="icon-only" name="open-outline"></ion-icon>
  </ion-button>
</ion-item>
