<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <pwa-back-button></pwa-back-button>
    </ion-buttons>
    <ion-title>Service Details</ion-title>
    <ion-buttons slot="end">
      <badge-menu-button></badge-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="pkg">
    <div class="status-readout" style="margin: 0 10px;">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img [src]="pkg['static-files'].icon" />
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <h1 style="font-family: 'Montserrat';" [class.less-large]="pkg.manifest.title.length > 20">
            {{ pkg.manifest.title }}
          </h1>
          <h5>{{ pkg.manifest.version | displayEmver }}</h5>
        </ion-label>
      </ion-item>
      <div class="side-by-side-buttons">
        <ion-button 
          *ngIf="pkg.state === PackageState.Installed && (pkg | hasUi)"
          slot="start"
          expand="block"
          [routerLink]="['config']"
          [disabled]="!(pkg | isLaunchable)"
          (click)="launchUiTab()"
        >
          Web
          <ion-icon slot="end" name="rocket-outline"></ion-icon>
        </ion-button>
        <ion-button slot="end" *ngIf="rendering.feStatus === FeStatus.NeedsConfig" expand="block" [routerLink]="['config']">
          Configure
        </ion-button>
        <ion-button slot="end" *ngIf="[FeStatus.Running, FeStatus.StartingUp, FeStatus.NeedsAttention] | includes : rendering.feStatus" expand="block" color="danger" (click)="stop()">
          Stop
        </ion-button>
        <ion-button slot="end" *ngIf="rendering.feStatus === FeStatus.DependencyIssue" expand="block" (click)="scrollToRequirements()">
          Fix
        </ion-button>
        <ion-button slot="end" *ngIf="rendering.feStatus === FeStatus.Stopped" expand="block" color="success" (click)="tryStart()">
          Start
        </ion-button>
      </div>
    </div>

    <div *ngIf="[PackageState.Installing, PackageState.Updating] | includes : pkg.state" style="padding: 16px;">
      <p>Downloading: {{ (pkg['install-progress'] | installState).downloadProgress }}%</p>
      <ion-progress-bar 
        [color]="pkg['install-progress']['download-complete'] ? 'success' : 'secondary'" 
        [value]="(pkg['install-progress'] | installState).downloadProgress / 100"
      ></ion-progress-bar>

      <p>Validating: {{ (pkg['install-progress'] | installState).validateProgress }}%</p>
      <ion-progress-bar
        [color]="pkg['install-progress']['validation-complete'] ? 'success' : 'secondary'" 
        [value]="(pkg['install-progress'] | installState).validateProgress / 100"
      ></ion-progress-bar>

      <p>Installing: {{ (pkg['install-progress'] | installState).unpackProgress }}%</p>
      <ion-progress-bar 
        [color]="pkg['install-progress']['unpack-complete'] ? 'success' : 'secondary'" 
        [value]="(pkg['install-progress'] | installState).unpackProgress / 100"
      ></ion-progress-bar>
    </div>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          <status size="large" weight="500" [rendering]="rendering"></status>
        </ion-card-subtitle>
        <ion-card-title>
          <ion-icon style="vertical-align: middle; padding-right: 12px;" name="medkit-outline"></ion-icon>
          <span style="vertical-align: middle;">Health Checks</span>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item *ngIf="mainStatus.health | empty; else health">
          <ion-label>
            No health checks
          </ion-label>
        </ion-item>
        <ng-template #health>
          <ion-item *ngIf="!(mainStatus.health | empty); else noHealth" color="light" style="margin: 10px;">
            <ion-label>
              <ion-grid>
                <ion-row *ngFor="let health of mainStatus.health | keyvalue : asIsOrder">
                  <ion-col size-lg="2" size-md="3" size-sm="4" size-xs="6">
                    <h2>{{ health.key }}:</h2>
                  </ion-col>
                  <ion-col size-lg="2" size-md="3" size-sm="4" size-xs="6">
                    <div style="padding-top: 4px;">
                      <ion-icon *ngIf="health.value.result === 'success'" name="checkmark-outline" color="success"></ion-icon>
                      <ion-icon *ngIf="health.value.result === 'starting'" name="timer-outline" color="warning"></ion-icon>
                      <ion-icon *ngIf="health.value.result === 'loading' || health.value.result ==='warming-up'" name="sync-circle-outline" color="warning"></ion-icon>
                      <ion-icon *ngIf="health.value.result === 'failure'" name="close-outline" color="danger"></ion-icon>
                      <ion-icon *ngIf="health.value.result === 'disabled'" name="remove-outline" color="dark"></ion-icon>
                    </div>
                  </ion-col>
                  <ion-col size-lg="2" size-md="3" size-sm="4" size-xs="6">
                    <p style="margin-left: 24px;" *ngIf="health.value.result === 'failure'"><ion-text color="danger">*{{ health.value.error }}</ion-text></p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>
          </ion-item>
        </ng-template>
      </ion-card-content>
    </ion-card>

    <ng-container *ngIf="!([FeStatus.Installing, FeStatus.Updating, FeStatus.Removing] | includes : rendering.feStatus)">
      <ion-grid class="ion-text-center" style="margin: 0 6px;">
        <ion-row>
          <ion-col *ngFor="let button of buttons" sizeMd="4" sizeSm="6" sizeXs="6">
              <ion-button style="width: 100%; min-height: 120px;" color="light" [disabled]="button.disabled | includes : rendering.feStatus" (click)="button.action()">
                <div>
                  <ion-icon size="large" [name]="button.icon"></ion-icon>
                  <br/><br/>
                  {{ button.title }}
                </div>
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item-group class="ion-padding-bottom">
        <!-- dependencies -->
        <ng-container *ngIf="!(pkg.installed['current-dependencies'] | empty)">
          <ion-item-divider id="dependencies">Dependencies</ion-item-divider>
          <!-- A current-dependency is a subset of the pkg.manifest.dependencies that is currently required as determined by the service config. -->
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let dep of pkg.installed['current-dependencies'] | keyvalue" sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="6">
                <ion-item>
                  <ion-thumbnail slot="start">
                    <img [src]="patch.data['package-data'][dep.key] ? patch.data['package-data'][dep.key]['static-files'].icon : pkg.installed.status['dependency-errors'][dep.key]?.icon" />
                  </ion-thumbnail>
                  <ion-label class="ion-text-wrap">
                    <h2 style="font-family: 'Montserrat'">{{ patch.data['package-data'][dep.key] ? patch.data['package-data'][dep.key].manifest.title : pkg.installed.status['dependency-errors'][dep.key]?.title }}</h2>
                    <p>{{ pkg.manifest.dependencies[dep.key].version | displayEmver }}</p>
                    <p><ion-text [color]="pkg.installed.status['dependency-errors'][dep.key] ? 'warning' : 'success'">{{ pkg.installed.status['dependency-errors'][dep.key] ? pkg.installed.status['dependency-errors'][dep.key].type : 'satisfied' }}</ion-text></p>
                  </ion-label>

                  <ion-button *ngIf="!pkg.installed.status['dependency-errors'][dep.key] || (pkg.installed.status['dependency-errors'][dep.key] && [DependencyErrorType.InterfaceHealthChecksFailed, DependencyErrorType.HealthChecksFailed] | includes : pkg.installed.status['dependency-errors'][dep.key].type)" slot="end" size="small" [routerLink]="['/services', dep.key]">
                    View
                  </ion-button>

                  <ng-container *ngIf="pkg.installed.status['dependency-errors'][dep.key]">
                    <ion-button *ngIf="!patch.data['package-data'][dep.key]" slot="end" size="small" (click)="fixDep('install', dep.key)">
                      Install
                    </ion-button>

                    <ng-container *ngIf="patch.data['package-data'][dep.key] && patch.data['package-data'][dep.key].state === PackageState.Installed">
                      <ion-button *ngIf="pkg.installed.status['dependency-errors'][dep.key].type === DependencyErrorType.NotRunning" slot="end" size="small" [routerLink]="['/services', dep.key]">
                        Start
                      </ion-button>
                      <ion-button *ngIf="pkg.installed.status['dependency-errors'][dep.key].type === DependencyErrorType.IncorrectVersion" slot="end" size="small" (click)="fixDep('update', dep.key)">
                        Update
                      </ion-button>
                      <ion-button *ngIf="pkg.installed.status['dependency-errors'][dep.key].type === DependencyErrorType.ConfigUnsatisfied" slot="end" size="small" (click)="fixDep('configure', dep.key)">
                        Configure
                      </ion-button>
                    </ng-container>

                    <div *ngIf="patch.data['package-data'][dep.key] && patch.data['package-data'][dep.key].state !== PackageState.Installed" slot="end" class="spinner">
                      <ion-spinner [color]="patch.data['package-data'][dep.key].state === PackageState.Removing ? 'danger' : 'primary'" style="height: 3vh; width: 3vh" name="dots"></ion-spinner>
                    </div>
                  </ng-container>     
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>  
      </ion-item-group>
    </ng-container>
  </ng-container>
</ion-content>
