<div class="grid gap-8 p-7 justify-center">
  <!-- close button -->
  <ng-content select="[slot=close]"></ng-content>
  <marketplace-package-hero [pkg]="pkg">
    <!-- control buttons -->
    <ng-content select="[slot=controls]"></ng-content>
  </marketplace-package-hero>
  <div class="grid grid-cols-1 gap-x-8">
    <marketplace-about [pkg]="pkg"></marketplace-about>
    <marketplace-dependencies
      *ngIf="!(pkg.manifest.dependencies | empty)"
      [pkg]="pkg"
    ></marketplace-dependencies>
    <release-notes [pkg]="pkg"></release-notes>
    <marketplace-additional
      class="mt-6"
      [pkg]="pkg"
      (version)="version$.next($event)"
    ></marketplace-additional>
  </div>
</div>
