<ng-container *ngIf="pkg$ | async as pkg">
  <app-show-header [pkg]="pkg"></app-show-header>

  <ion-content *ngIf="pkg | toDependencies as dependencies">
    <ion-item-group *ngIf="pkg | toStatus as status">
      <!-- ** status ** -->
      <app-show-status
        [pkg]="pkg"
        [dependencies]="dependencies"
        [status]="status"
      ></app-show-status>
      <!-- ** installed && !backing-up ** -->
      <ng-container *ngIf="isInstalled(pkg) && !isBackingUp(status)">
        <!-- ** health checks ** -->
        <app-show-health-checks
          *ngIf="isRunning(status)"
          [pkg]="pkg"
        ></app-show-health-checks>
        <!-- ** dependencies ** -->
        <app-show-dependencies
          *ngIf="dependencies.length"
          [dependencies]="dependencies"
        ></app-show-dependencies>
        <!-- ** menu ** -->
        <app-show-menu
          [buttons]="pkg | toButtons: (currentMarketplace$ | async): (altMarketplaceData$ | async)"
        ></app-show-menu>
      </ng-container>
    </ion-item-group>

    <!-- ** installing, updating, restoring ** -->
    <ion-content *ngIf="showProgress(pkg)">
      <app-show-progress
        *ngIf="pkg | progressData as progressData"
        [pkg]="pkg"
        [progressData]="progressData"
      ></app-show-progress>
    </ion-content>
  </ion-content>
</ng-container>
