<h3 class="title" (click)="toggle()">
  <button
    tuiIconButton
    size="s"
    iconLeft="tuiIconChevronDown"
    type="button"
    class="button"
    [class.button_open]="open"
    [style.border-radius.%]="100"
    [appearance]="invalid ? 'destructive' : 'secondary'"
  ></button>
  <ng-content></ng-content>
  {{ spec.name }}
  <tui-tooltip
    *ngIf="spec.description"
    [content]="spec.description"
    (click.stop)="(0)"
  ></tui-tooltip>
</h3>

<tui-expand class="expand" [expanded]="open">
  <div class="g-form-group" [class.g-form-group_invalid]="invalid">
    <form-group [spec]="spec.spec"></form-group>
  </div>
</tui-expand>
