<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <div style="padding-bottom: 32px">
          <img src="assets/img/logo.png" style="max-width: 240px" />
        </div>

        <ion-card color="dark">
          <ion-card-header>
            <ion-button
              *ngIf="swiper?.activeIndex === 1"
              class="back-button"
              fill="clear"
              color="light"
              (click)="previous()"
            >
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
            <ion-card-title>
              Embassy Setup
              <span *ngIf="swiper?.activeIndex === 1"> (recover)</span>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-margin-bottom">
            <swiper (swiper)="setSwiperInstance($event)">
              <ng-template swiperSlide>
                <ion-item
                  button
                  [disabled]="error"
                  detail="true"
                  routerLink="/embassy"
                >
                  <ion-icon color="dark" slot="start" name="add"></ion-icon>
                  <ion-label>
                    <h2><ion-text color="success">Start Fresh</ion-text></h2>
                    <p>Get started with a brand new Embassy</p>
                  </ion-label>
                </ion-item>
                <ion-item
                  button
                  [disabled]="error"
                  detail="true"
                  lines="none"
                  (click)="next()"
                >
                  <ion-icon color="dark" slot="start" name="reload"></ion-icon>
                  <ion-label>
                    <h2><ion-text color="danger">Recover</ion-text></h2>
                    <p>
                      Restore from backup or use an existing Embassy data drive
                    </p>
                  </ion-label>
                </ion-item>
              </ng-template>
              <ng-template swiperSlide>
                <ion-item button detail="true" routerLink="/recover">
                  <ion-icon color="dark" slot="start" name="save"></ion-icon>
                  <ion-label>
                    <h2>
                      <ion-text color="warning">Restore From Backup</ion-text>
                    </h2>
                    <p>Recover an Embassy from encrypted backup</p>
                  </ion-label>
                </ion-item>
                <ion-item button detail="true" lines="none" (click)="import()">
                  <ion-icon color="dark" slot="start" name="cube"></ion-icon>
                  <ion-label>
                    <h2>
                      <ion-text color="primary">Use Existing Drive</ion-text>
                    </h2>
                    <p>Attach and use a valid Embassy data drive</p>
                  </ion-label>
                </ion-item>
              </ng-template>
            </swiper>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
