<ion-content>
  <ion-grid *ngIf="!loading">
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <div style="padding-bottom: 32px">
          <img
            src="assets/img/logo.png"
            class="pb-1"
            style="max-width: 220px"
          />
        </div>
        <ion-card color="dark">
          <ion-card-header>
            <ion-button
              *ngIf="swiper?.activeIndex === 1"
              class="back-button"
              fill="clear"
              color="light"
              (click)="previous()"
            >
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
            <ion-card-title>
              {{ swiper?.activeIndex === 0 ? 'embassyOS Setup' : 'Recover
              Options' }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-margin-bottom">
            <swiper
              [autoHeight]="true"
              [observeParents]="true"
              (swiper)="setSwiperInstance($event)"
            >
              <!-- SLIDE 1 -->
              <ng-template swiperSlide>
                <!-- fresh -->
                <ion-item
                  button
                  [disabled]="error"
                  detail="false"
                  lines="none"
                  routerLink="/embassy"
                >
                  <ion-icon slot="start" name="add"></ion-icon>
                  <ion-label>
                    <h2><ion-text color="success">Start Fresh</ion-text></h2>
                    <p>Get started with a brand new Embassy</p>
                  </ion-label>
                </ion-item>

                <!-- recover -->
                <ion-item
                  button
                  [disabled]="error"
                  detail="false"
                  lines="none"
                  (click)="next()"
                >
                  <ion-icon slot="start" name="reload"></ion-icon>
                  <ion-label>
                    <h2><ion-text color="danger">Recover</ion-text></h2>
                    <p>Recover, restore, or transfer Embassy data</p>
                  </ion-label>
                </ion-item>
              </ng-template>

              <!-- SLIDE 2 -->
              <ng-template swiperSlide>
                <!-- restore from backup -->
                <ion-item
                  button
                  lines="none"
                  detail="false"
                  routerLink="/recover"
                >
                  <ion-icon slot="start" name="save-outline"></ion-icon>
                  <ion-label>
                    <h2>
                      <ion-text color="warning">Restore From Backup</ion-text>
                    </h2>
                    <p>Restore an Embassy from an encrypted backup</p>
                  </ion-label>
                </ion-item>

                <!-- attach -->
                <ion-item
                  button
                  detail="false"
                  lines="none"
                  routerLink="/attach"
                >
                  <ion-icon slot="start" name="cube-outline"></ion-icon>
                  <ion-label>
                    <h2>
                      <ion-text color="primary">Use Existing Drive</ion-text>
                    </h2>
                    <p>
                      Use an existing, valid Embassy data drive (not a backup)
                    </p>
                  </ion-label>
                </ion-item>

                <!-- transfer -->
                <ion-item
                  button
                  detail="false"
                  lines="none"
                  routerLink="/transfer"
                >
                  <ion-icon slot="start" name="share-outline"></ion-icon>
                  <ion-label>
                    <h2>
                      <ion-text color="success">Transfer</ion-text>
                    </h2>
                    <p>
                      Transfer data from an existing, valid Embassy data drive
                      (not a backup) to a new drive<br />(e.g. in order to
                      transfer data to another device)
                    </p>
                  </ion-label>
                </ion-item>
              </ng-template>
            </swiper>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
