<ion-header>
  <ion-toolbar>
    <ion-title>Release Notes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h4>This release:</h4>
  <p class="section-subheader">{{ version }}</p>
  <p class="note-padding">
    See the
    <a
      href="https://github.com/Start9Labs/embassy-os/releases/tag/v0.3.1"
      target="_blank"
      noreferrer
      >extended release notes</a
    >
    for more details.
  </p>
  <h6>Highlights</h6>
  <ul class="spaced-list">
    <li>Enables drag and drop package installs</li>
    <li>Introduces the ability to restart services</li>
    <li>Enables download of logs</li>
    <li>
      Performance enhancements for service action execution thorough JavaScript
      procedures
    </li>
    <li>Fixes health check dependency requirement for services</li>
    <li>
      Multiple bugfixes, UI rendering performance updates, and resource
      optimizations
    </li>
  </ul>
  <h4>Previous releases:</h4>
  <p class="section-subheader">0.3.0.3</p>
  <p class="note-padding">Bugfixes and minor performance updates.</p>
  <p class="section-subheader">0.3.0.2</p>
  <p class="note-padding">Minor bugfixes and performance improvements.</p>
  <p class="section-subheader">0.3.0</p>
  <p>
    Check out the full
    <a
      href="https://start9labs.medium.com/embassyos-0-3-0-f3d2d2ea016f"
      target="_blank"
      noreferrer
      >Release Notes</a
    >.
  </p>
  <h6>Highlights</h6>
  <ul class="spaced-list">
    <li>
      SSD Support - Embassy now requires an external SSD, offering more storage,
      better reliability, and a faster experience.
    </li>
    <li>Websockets - Provides a smooth, "real-time" feel.</li>
    <li>
      Full Embassy Backups - Create encrypted backups of your Embassy and all
      its services with a single button.
    </li>
    <li>
      LAN Shared Folders (for backups) - Easily perform "over-the-air" backups
      on your desktop/laptop or a drive plugged into your desktop/laptop.
    </li>
    <li>
      Revamped User Interface - The user interface has been rewritten and
      redesigned to be more performant, understandable, and beautiful.
    </li>
    <li>
      Session Management - View your Embassy's active sessions and log out
      remotely.
    </li>
    <li>
      Alt Marketplaces - Optionally connect to and browse alternative service
      marketplaces.
    </li>
    <li>
      Progress Reporting - View live progress of services installs/updates and
      EmbassyOS updates.
    </li>
    <li>
      Health Checks - View the health of your services at a glance, along with
      helpful messages if something is wrong.
    </li>
  </ul>

  <div class="ion-text-center ion-padding">
    <ion-button fill="outline" color="dark" (click)="dismiss()">
      Begin
    </ion-button>
  </div>
</ion-content>
