<ion-header>
  <ion-toolbar>
    <ion-title>Release Notes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>This release</h2>
  <h4>0.3.1~1</h4>
  <p class="note-padding">
    View the complete
    <a
      href="https://github.com/Start9Labs/embassy-os/releases/tag/v0.3.1.1"
      target="_blank"
      noreferrer
      >release notes</a
    >
    for more details.
  </p>
  <h6>Highlights</h6>
  <ul class="spaced-list">
    <li>Multiple bug fixes.</li>
  </ul>

  <br />
  <h2>Previous releases in this series</h2>
  <h4>0.3.1</h4>
  <p class="note-padding">
    View the complete
    <a
      href="https://github.com/Start9Labs/embassy-os/releases/tag/v0.3.1"
      target="_blank"
      noreferrer
      >release notes</a
    >
    for more details.
  </p>
  <h6>Highlights</h6>
  <ul class="spaced-list">
    <li>
      Drag and drop installs. Install a service simply by dragging it into the
      browser
    </li>
    <li>
      Password reset flow. Requires physical access to the device for security
      purposes
    </li>
    <li>Selective backups. Only back up the services you choose</li>
    <li>New button to restart a service</li>
    <li>New button to log out all sessions</li>
    <li>New button to copy/paste service and OS logs</li>
    <li>Significant speedup for service configuration and property viewing</li>
    <li>Multiple bugfixes and performance improvements</li>
  </ul>
  <div class="ion-text-center ion-padding">
    <ion-button
      fill="solid"
      color="primary"
      (click)="dismiss()"
      class="enter-click btn-128"
    >
      Begin
    </ion-button>
  </div>
</ion-content>
