<ion-header>
  <ion-toolbar>
    <ion-title>
      Select Backup {{ type === 'create' ? 'Target' : 'Source' }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- loading -->
  <text-spinner
    *ngIf="loading$ | async; else loaded"
    [text]="type === 'create' ? 'Loading Backup Targets' : 'Loading Backup Sources'"
  ></text-spinner>

  <!-- loaded -->
  <ng-template #loaded>
    <ion-item-group>
      <ion-item-divider>Saved Targets</ion-item-divider>
      <ion-item
        button
        *ngFor="let target of targets"
        (click)="select(target)"
        [disabled]="
          (isOneOff && !target.mountable) ||
          (type === 'restore' && !target['embassy-os'])
        "
      >
        <ng-container *ngIf="target | getDisplayInfo as displayInfo">
          <ion-icon
            slot="start"
            [name]="displayInfo.icon"
            size="large"
          ></ion-icon>
          <ion-label>
            <h1 style="font-size: x-large">{{ displayInfo.name }}</h1>
            <target-status [type]="type" [target]="target"></target-status>
            <p>{{ displayInfo.description }}</p>
            <p>{{ displayInfo.path }}</p>
          </ion-label>
        </ng-container>
      </ion-item>

      <div *ngIf="!targets.length" class="ion-text-center ion-padding-top">
        <h2 class="ion-padding-bottom">No saved targets</h2>
        <ion-button (click)="goToTargets()">Go to Targets</ion-button>
      </div>
    </ion-item-group>
  </ng-template>
</ion-content>
