<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container>
    <div class="center text-center">
      <div class="card">
        <h4>This service was installed from:</h4>
        <p class="courier-new color-success-shade">{{ packageMarketplace }}</p>
        <h4>But you are currently connected to:</h4>
        <p class="courier-new color-primary-shade">{{ currentMarketplace }}</p>
      </div>
      <br />
      <div>
        <p>To switch marketplaces visit your</p>
        <ion-button
          color="success"
          routerLink="embassy/marketplaces"
          (click)="dismiss()"
          >Marketplace Settings</ion-button
        >
        <p>or you can</p>
        <ion-button
          [routerLink]="['marketplace/', pkgId]"
          click="dismiss()"
          (click)="dismiss()"
          >Continue to {{ currentMarketplace }}</ion-button
        >
      </div>
    </div>
  </ng-container>
</ion-content>
