<ion-header>
  <ion-toolbar>
    <ion-title>Backups</ion-title>
    <ion-buttons slot="end">
      <badge-menu-button></badge-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item-group>
    <ion-item button backupCreate>
      <ion-icon slot="start" name="duplicate-outline"></ion-icon>
      <ion-label>
        <h2>Create Backup</h2>
        <p>Back up your Embassy and service data</p>
      </ion-label>
    </ion-item>
    <ion-item button backupRestore>
      <ion-icon slot="start" name="color-wand-outline"></ion-icon>
      <ion-label>
        <h2>Restore From Backup</h2>
        <p>Restore one or more services from backup</p>
      </ion-label>
    </ion-item>
    <ion-item button routerLink="jobs">
      <ion-icon slot="start" name="construct-outline"></ion-icon>
      <ion-label>
        <h2>Backup Jobs</h2>
        <p>Create, edit, and delete scheduled backups</p>
      </ion-label>
    </ion-item>
    <ion-item button routerLink="targets">
      <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
      <ion-label>
        <h2>Backup Targets</h2>
        <p>Create, edit, and delete backup targets</p>
      </ion-label>
    </ion-item>
  </ion-item-group>
</ion-content>
