.slot-start {
  display: inline-block;
  vertical-align: middle;
}

ion-input {
  font-weight: bold;
  --placeholder-font-weight: 400;
}

ion-item-divider {
  text-transform: unset;
  --padding-start: 0;
  border-bottom: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))))
}

.nested-wrapper {
  padding: 0 0 30px 30px;
}

.validation-error {
  p {
    font-size: small;
    color: var(--ion-color-danger);
  }
}