<ion-item-group [formGroup]="formGroup">
  <div *ngFor="let entry of formGroup.controls | keyvalue: asIsOrder">
    <!-- union enum -->
    <ng-container *ngIf="unionSpec && entry.key === unionSpec.tag.id">
      <ion-item>
        <ion-button
          *ngIf="unionSpec.tag.description"
          class="slot-start"
          fill="clear"
          size="small"
          (click)="
            presentUnionTagDescription(
              $event,
              unionSpec.tag.name,
              unionSpec.tag.description
            )
          "
        >
          <ion-icon name="help-circle-outline"></ion-icon>
        </ion-button>
        <ion-label>
          <ion-text color="dark">
            <b>{{ unionSpec.tag.name }}</b>
          </ion-text>
        </ion-label>
        <!-- class enter-click disables the enter click on the modal behind the select -->
        <ion-select
          [interfaceOptions]="{
            message: getWarningText(unionSpec.warning),
            cssClass: 'enter-click'
          }"
          slot="end"
          placeholder="Select"
          [formControlName]="unionSpec.tag.id"
          [selectedText]="unionSpec.tag['variant-names'][entry.value.value]"
          (ionChange)="updateUnion($event)"
        >
          <ion-select-option
            *ngFor="let option of Object.keys(unionSpec.variants)"
            [value]="option"
          >
            {{ unionSpec.tag['variant-names'][option] }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ng-container>
    <div *ngIf="objectSpec[entry.key] as spec" [class.indent]="unionSpec">
      <!-- string or number -->
      <ng-container *ngIf="spec.type === 'string' || spec.type === 'number'">
        <!-- label -->
        <h4
          class="input-label"
          [class.validation-error]="formGroup.get(entry.key)?.errors"
        >
          <form-label
            [data]="{
              spec: spec,
              new: original?.[entry.key] === undefined,
              edited: entry.value.dirty
            }"
          ></form-label>
        </h4>
        <ion-item color="dark" class="ion-margin-bottom">
          <ion-textarea
            *ngIf="spec.type === 'string' && spec.textarea; else notTextArea"
            [placeholder]="spec.placeholder || 'Enter ' + spec.name"
            [formControlName]="entry.key"
            (ionFocus)="presentAlertChangeWarning(entry.key, spec)"
            (ionChange)="handleInputChange()"
          >
          </ion-textarea>
          <ng-template #notTextArea>
            <ion-input
              type="text"
              [inputmode]="spec.type === 'number' ? 'tel' : 'text'"
              [class.redacted]="
                spec.type === 'string' &&
                entry.value.value &&
                spec.masked &&
                !unmasked[entry.key]
              "
              [placeholder]="spec.placeholder || 'Enter ' + spec.name"
              [formControlName]="entry.key"
              (ionFocus)="presentAlertChangeWarning(entry.key, spec)"
              (ionChange)="handleInputChange()"
            >
            </ion-input>
          </ng-template>
          <ion-button
            *ngIf="spec.type === 'string' && spec.masked"
            slot="end"
            fill="clear"
            color="light"
            (click)="unmasked[entry.key] = !unmasked[entry.key]"
          >
            <ion-icon
              slot="icon-only"
              [name]="unmasked[entry.key] ? 'eye-off-outline' : 'eye-outline'"
              size="small"
            ></ion-icon>
          </ion-button>
          <ion-note
            *ngIf="spec.type === 'number' && spec.units"
            slot="end"
            color="light"
            style="font-size: medium"
            >{{ spec.units }}</ion-note
          >
        </ion-item>
        <form-error
          *ngIf="formGroup.get(entry.key)?.errors"
          [control]="$any(formGroup.get(entry.key))"
          [spec]="spec"
        >
        </form-error>
      </ng-container>
      <!-- boolean or enum -->
      <ion-item
        *ngIf="['boolean', 'enum'] | includes: spec.type"
        style="--padding-start: 0"
      >
        <ion-button
          *ngIf="spec.description"
          fill="clear"
          (click)="presentAlertDescription($event, spec)"
          style="--padding-start: 0"
        >
          <ion-icon
            name="help-circle-outline"
            slot="icon-only"
            size="small"
          ></ion-icon>
        </ion-button>
        <ion-label>
          <b>
            {{ spec.name }}
            <ion-text *ngIf="entry.value.dirty" color="warning">
              (Edited)</ion-text
            >
            <ion-text
              *ngIf="original?.[entry.key] === undefined"
              color="success"
            >
              (New)</ion-text
            >
          </b>
        </ion-label>
        <!-- boolean -->
        <ion-toggle
          *ngIf="spec.type === 'boolean'"
          slot="end"
          [formControlName]="entry.key"
          (ionChange)="handleBooleanChange(entry.key, spec)"
        ></ion-toggle>
        <!-- enum -->
        <!-- class enter-click disables the enter click on the modal behind the select -->
        <ion-select
          *ngIf="spec.type === 'enum' && formGroup.get(entry.key) as control"
          [interfaceOptions]="{
            message: getWarningText(spec.warning),
            cssClass: 'enter-click'
          }"
          slot="end"
          placeholder="Select"
          [formControlName]="entry.key"
          [selectedText]="spec['value-names'][control.value]"
        >
          <ion-select-option
            *ngFor="let option of spec.values"
            [value]="option"
          >
            {{ spec['value-names'][option] }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <!-- object or union -->
      <ng-container *ngIf="spec.type === 'object' || spec.type === 'union'">
        <!-- label -->
        <ion-item-divider
          (click)="toggleExpandObject(entry.key)"
          style="cursor: pointer"
          [class.error-border]="entry.value.invalid"
          [class.validation-error]="entry.value.invalid"
        >
          <form-label
            [data]="{
              spec: spec,
              new: original?.[entry.key] === undefined,
              newOptions: objectDisplay[entry.key].hasNewOptions,
              edited: entry.value.dirty
            }"
          ></form-label>
          <ion-icon
            slot="end"
            name="chevron-up"
            [color]="entry.value.invalid ? 'danger' : undefined"
            [ngStyle]="{
              transform: objectDisplay[entry.key].expanded
                ? 'rotate(0deg)'
                : 'rotate(180deg)',
              transition: 'transform 0.25s ease-out'
            }"
          ></ion-icon>
        </ion-item-divider>
        <!-- body -->
        <div
          [id]="getElementId(entry.key)"
          [ngStyle]="{
            'max-height': objectDisplay[entry.key].height,
            overflow: 'hidden',
            'transition-property': 'max-height',
            'transition-duration': '.25s'
          }"
        >
          <div class="nested-wrapper">
            <form-object
              [objectSpec]="
                spec.type === 'union'
                  ? spec.variants[$any(entry.value).controls[spec.tag.id].value]
                  : spec.spec
              "
              [formGroup]="$any(entry.value)"
              [current]="current?.[entry.key]"
              [original]="original?.[entry.key]"
              [unionSpec]="spec.type === 'union' ? spec : undefined"
              (onExpand)="resize(entry.key)"
              (hasNewOptions)="setHasNew(entry.key)"
            ></form-object>
          </div>
        </div>
      </ng-container>
      <!-- list (not enum) -->
      <ng-container *ngIf="spec.type === 'list' && spec.subtype !== 'enum'">
        <ng-container
          *ngIf="formGroup.get(entry.key) as formArr"
          [formArrayName]="entry.key"
        >
          <!-- label -->
          <ion-item-divider
            [class.error-border]="entry.value.invalid"
            [class.validation-error]="entry.value.invalid"
          >
            <form-label
              [data]="{
                spec: spec,
                new: original?.[entry.key] === undefined,
                edited: entry.value.dirty
              }"
            ></form-label>
            <ion-button
              strong
              fill="clear"
              color="dark"
              slot="end"
              (click)="addListItemWrapper(entry.key, spec)"
            >
              <ion-icon slot="start" name="add"></ion-icon>
              Add
            </ion-button>
          </ion-item-divider>
          <form-error
            *ngIf="formGroup.get(entry.key)?.errors"
            [control]="$any(formGroup.get(entry.key))"
            [spec]="spec"
          >
          </form-error>
          <!-- body -->
          <div class="nested-wrapper">
            <div
              *ngFor="
                let abstractControl of $any(formArr).controls;
                let i = index
              "
              class="ion-padding-top"
            >
              <!-- nested -->
              <ng-container
                *ngIf="spec.subtype === 'object' || spec.subtype === 'union'"
              >
                <!-- nested label -->
                <ion-item
                  button
                  (click)="toggleExpandListObject(entry.key, i)"
                  [class.error-border]="abstractControl.invalid"
                >
                  <form-label
                    [data]="{
                      spec: $any({
                        name:
                          objectListDisplay[entry.key][i].displayAs ||
                          'Entry ' + (i + 1)
                      }),
                      new: false,
                      edited: abstractControl.dirty
                    }"
                  ></form-label>
                  <ion-icon
                    slot="end"
                    name="chevron-up"
                    [color]="abstractControl.invalid ? 'danger' : undefined"
                    [ngStyle]="{
                      transform: objectListDisplay[entry.key][i].expanded
                        ? 'rotate(0deg)'
                        : 'rotate(180deg)',
                      transition: 'transform 0.25s ease-out'
                    }"
                  ></ion-icon>
                </ion-item>
                <!-- nested body -->
                <div
                  style="padding-left: 24px"
                  [id]="getElementId(entry.key, i)"
                  [ngStyle]="{
                    'max-height': objectListDisplay[entry.key][i].height,
                    overflow: 'hidden',
                    'transition-property': 'max-height',
                    'transition-duration': '.25s'
                  }"
                >
                  <form-object
                    [objectSpec]="
                      spec.subtype === 'union'
                        ? $any(spec.spec).variants[
                            abstractControl.controls[$any(spec.spec).tag.id]
                              .value
                          ]
                        : $any(spec.spec).spec
                    "
                    [formGroup]="abstractControl"
                    [current]="current?.[entry.key]?.[i]"
                    [original]="original?.[entry.key]?.[i]"
                    [unionSpec]="
                      spec.subtype === 'union' ? $any(spec.spec) : undefined
                    "
                    (onInputChange)="
                      updateLabel(entry.key, i, $any(spec.spec)['display-as'])
                    "
                    (onExpand)="resize(entry.key, i)"
                  ></form-object>
                  <div style="text-align: right; padding-top: 12px">
                    <ion-button
                      fill="clear"
                      (click)="presentAlertDelete(entry.key, i)"
                      color="danger"
                    >
                      <ion-icon slot="start" name="close"></ion-icon>
                      Delete
                    </ion-button>
                  </div>
                </div>
              </ng-container>
              <!-- string or number -->
              <ion-item-group
                [id]="getElementId(entry.key, i)"
                *ngIf="spec.subtype === 'string' || spec.subtype === 'number'"
              >
                <ion-item color="dark">
                  <ion-input
                    type="text"
                    [inputmode]="spec.subtype === 'number' ? 'tel' : 'text'"
                    [placeholder]="
                      $any(spec.spec).placeholder || 'Enter ' + spec.name
                    "
                    [formControlName]="i"
                  >
                  </ion-input>
                  <ion-button
                    strong
                    slot="end"
                    color="danger"
                    (click)="presentAlertDelete(entry.key, i)"
                  >
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                  </ion-button>
                </ion-item>
                <form-error
                  *ngIf="abstractControl.errors"
                  [control]="abstractControl"
                  [spec]="$any(spec.spec)"
                >
                </form-error>
              </ion-item-group>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <!-- list (enum) -->
      <ng-container *ngIf="spec.type === 'list' && spec.subtype === 'enum'">
        <ng-container
          *ngIf="formGroup.get(entry.key) as formArr"
          [formArrayName]="entry.key"
        >
          <!-- label -->
          <p class="input-label">
            <form-label
              [class.validation-error]="entry.value.invalid"
              [data]="{
                spec: spec,
                new: original?.[entry.key] === undefined,
                edited: entry.value.dirty
              }"
            ></form-label>
          </p>
          <!-- list -->
          <ion-item
            button
            detail="false"
            color="dark"
            (click)="presentModalEnumList(entry.key, $any(spec), formArr.value)"
          >
            <ion-label style="white-space: nowrap !important">
              <h2>{{ getEnumListDisplay(formArr.value, $any(spec.spec)) }}</h2>
            </ion-label>
            <ion-button slot="end" fill="clear" color="light">
              <ion-icon slot="icon-only" name="chevron-down"></ion-icon>
            </ion-button>
          </ion-item>
          <form-error
            *ngIf="formGroup.get(entry.key)?.errors"
            [control]="$any(formGroup.get(entry.key))"
            [spec]="spec"
          >
          </form-error>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ion-item-group>
