.slot-start {
  display: inline-block;
  vertical-align: middle;
  --padding-start: 0;
  --padding-end: 7px;
}

.error-border {
  border-color: var(--ion-color-danger-shade);
  --border-color: var(--ion-color-danger-shade);
}

ion-input {
  font-family: 'Courier New';
  font-weight: bold;
  --placeholder-font-weight: 400;
}

ion-item-divider {
  text-transform: unset;
  --padding-top: 18px;
  --padding-start: 0;
  border-bottom: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))))
}

.nested-wrapper {
  padding: 0 0 16px 24px;
}

.validation-error {
  opacity: 1;
}

.error-message {
  p {
    margin-bottom: 4px;
    font-size: small;
    color: var(--ion-color-danger);
  }
}

.indent {
  margin-left: 24px;
}