@import '@taiga-ui/core/styles/taiga-ui-local';

.status {
  font-size: x-large;
  margin: 1em 0;
  display: block;
}

.g-action_static {
  cursor: default;

  &:hover {
    background: transparent;
  }
}
