@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
  display: block;
  height: 100%;
}

tui-root {
  @include transition(filter);
  height: 100%;
  font-family: 'Open Sans', sans-serif;

  &.offline {
    filter: saturate(0.75) contrast(0.85);
  }
}
