<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="embassy"></ion-back-button>
    </ion-buttons>
    <ion-title>Marketplace Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-item-group>
    <ion-item-divider>Saved Marketplaces</ion-item-divider>
    <ion-item button detail="false" (click)="presentModalAdd()">
      <ion-icon slot="start" name="add" color="dark"></ion-icon>
      <ion-label>
        <ion-text color="dark">
          <b>Add alt marketplace</b>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item
      *ngFor="let mp of marketplaces"
      detail="false"
      [button]="mp.id !== selectedId"
      (click)="presentAction(mp.id)"
    >
      <div *ngIf="mp.id !== selectedId" slot="start" class="padding"></div>
      <ion-icon
        *ngIf="mp.id === selectedId"
        slot="start"
        size="large"
        name="checkmark"
        color="success"
      ></ion-icon>
      <ion-label>
        <h2>{{ mp.name }}</h2>
        <p>{{ mp.url }}</p>
      </ion-label>
    </ion-item>
  </ion-item-group>
</ion-content>
