.wrapper {
  position: relative;
  margin-right: 1vh;
}

.md-badge {
  background-color: var(--ion-color-danger);
  position: absolute;
  top: -8px;
  left: 56%;
  border-radius: 6px;
  z-index: 1;
  font-size: 80%;
}
