<ion-button class="widgets" color="dark" (click)="onWidgets()">
  <ion-icon name="grid-outline"></ion-icon>
</ion-button>
<ion-button
  *ngIf="!(open$ | async)"
  class="sidebar"
  color="dark"
  (click)="onSidebar()"
>
  <ion-icon name="grid-outline"></ion-icon>
</ion-button>
<div class="wrapper">
  <ion-badge
    *ngIf="!(sidebarOpen$ | async) && (unreadCount$ | async) as unreadCount"
    mode="md"
    class="md-badge"
    color="danger"
  >
    {{ unreadCount }}
  </ion-badge>
  <ion-menu-button color="dark"></ion-menu-button>
</div>
