<ion-header>
  <ion-toolbar>
    <ion-title>Services</ion-title>
    <ion-buttons slot="end">
      <badge-menu-button></badge-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- loading -->
  <ng-template #loading>
    <text-spinner text="Connecting to Embassy"></text-spinner>
  </ng-template>

  <!-- not loading -->
  <ng-container *ngIf="connected$ | async else loading">
    <app-list-empty
      *ngIf="empty; else list"
      class="ion-text-center ion-padding"
    ></app-list-empty>

    <ng-template #list>
      <app-list-reorder
        *ngIf="pkgs.length"
        [(pkgs)]="pkgs"
        [reordering]="reordering"
        (reorderingChange)="onReordering($event)"
      ></app-list-reorder>

      <ng-container *ngIf="recoveredPkgs.length && !reordering">
        <ion-item-group>
          <ion-item-divider>Recovered Services</ion-item-divider>
          <app-list-rec
            *ngFor="let rec of recoveredPkgs"
            [rec]="rec"
            (deleted)="deleteRecovered(rec)"
          ></app-list-rec>
        </ion-item-group>
      </ng-container>
    </ng-template>
  </ng-container>
</ion-content>
