<ion-header>
  <ion-toolbar>
    <ion-title>Installed Services</ion-title>
    <ion-buttons slot="end">
      <badge-menu-button></badge-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- loaded -->
  <ng-container *ngIf="pkgs$ | async as pkgs; else loading">
    <ng-container *ngIf="!pkgs.length; else list">
      <div class="welcome-header">
        <h1>Welcome to embassyOS</h1>
      </div>
      <widget-list></widget-list>
    </ng-container>

    <ng-template #list>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let pkg of pkgs" sizeSm="12" sizeLg="6">
            <app-list-pkg
              *ngIf="pkg | packageInfo | async as info"
              [pkg]="info"
            ></app-list-pkg>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
  </ng-container>

  <!-- loading -->
  <ng-template #loading>
    <text-spinner text="Connecting to Embassy"></text-spinner>
  </ng-template>
</ion-content>
