<ion-header>
  <ion-toolbar>
    <ion-title>Services</ion-title>
    <ion-buttons slot="end">
      <badge-menu-button></badge-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- loaded -->
  <ng-container *ngIf="pkgs$ | async as pkgs; else loading">
    <app-list-empty
      *ngIf="!pkgs.length; else list"
      class="ion-text-center ion-padding"
    ></app-list-empty>

    <ng-template #list>
      <ion-item-divider class="ion-padding-bottom"
        >Installed Services</ion-item-divider
      >

      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let pkg of pkgs" sizeSm="12" sizeLg="6">
            <app-list-pkg
              *ngIf="pkg | packageInfo | async as info"
              [pkg]="info"
            ></app-list-pkg>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
  </ng-container>

  <!-- loading -->
  <ng-template #loading>
    <text-spinner text="Connecting to Embassy"></text-spinner>
  </ng-template>
</ion-content>
