.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pkgs {
  width: 100%;
  margin-top: 24px;
}

.label {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon {
  width: 40px;
  height: 40px;
}

ion-item {
  --background: transparent;
}
