<div
  *ngIf="pkgs.length; else empty"
  tuiGroup
  orientation="vertical"
  class="pkgs"
>
  <tui-checkbox-block
    *ngFor="let pkg of pkgs"
    [disabled]="pkg.disabled"
    [(ngModel)]="pkg.checked"
    (ngModelChange)="handleChange()"
  >
    <div class="label">
      <img class="icon" alt="" [src]="pkg.icon" />
      {{ pkg.title }}
    </div>
  </tui-checkbox-block>
</div>

<ng-template #empty>
  <h2 class="center">No services installed!</h2>
</ng-template>

<footer class="modal-buttons">
  <button tuiButton appearance="flat" (click)="toggleSelectAll()">
    Toggle all
  </button>
  <button tuiButton [disabled]="!hasSelection" (click)="done()">
    {{ btnText }}
  </button>
</footer>
