<ion-header>
  <ion-toolbar>
    <ion-title>Release Notes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>This Release</h2>

  <h4>0.3.6-alpha.1</h4>
  <h6>This is an ALPHA release! DO NOT use for production data!</h6>
  <h6>Expect that any data you create or store on this version of the OS can be LOST FOREVER!</h6>

  <div class="ion-text-center ion-padding">
    <ion-button
      fill="solid"
      color="primary"
      (click)="dismiss()"
      class="enter-click btn-128"
    >
      Begin
    </ion-button>
  </div>
</ion-content>
