<!-- @TODO customize button colors -->
<div class="flex absolute top-[9.25rem] left-[2rem] sm:top-[10rem] z-50">
  <button
    tuiButton
    type="button"
    class="p-2 mr-2 blue"
    appearance="primary"
    *ngIf="localPkg"
    [routerLink]="['/services', pkg.manifest.id]"
  >
    View Installed
  </button>
  <ng-container *ngIf="localPkg; else install">
    <ng-container *ngIf="localPkg.state === PackageState.Installed">
      <button
        tuiButton
        type="button"
        class="p-2 mr-2"
        appearance="primary"
        *ngIf="(localVersion | compareEmver : pkg.manifest.version) === -1"
        (click)="tryInstall()"
      >
        Update
      </button>
      <button
        tuiButton
        type="button"
        class="p-2 mr-2"
        appearance="secondary-destructive"
        *ngIf="(localVersion | compareEmver : pkg.manifest.version) === 1"
        (click)="tryInstall()"
      >
        Downgrade
      </button>
      <ng-container *ngIf="showDevTools$ | async">
        <button
          tuiButton
          type="button"
          class="p-2 mr-2"
          appearance="primary"
          *ngIf="(localVersion | compareEmver : pkg.manifest.version) === 0"
          (click)="tryInstall()"
        >
          Reinstall
        </button>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #install>
    <button tuiButton type="button" appearance="primary" (click)="tryInstall()">
      Install
    </button>
  </ng-template>
</div>
