<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <pwa-back-button></pwa-back-button>
    </ion-buttons>
    <ion-title>External Drives</ion-title>
    <ion-buttons slot="end">
      <badge-menu-button></badge-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!($loading$ | async)" class="ion-padding-top">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="lines" refreshingSpinner="lines"></ion-refresher-content>
  </ion-refresher>

  <ion-item-group>
    <!-- <ion-list> -->
      <ion-item *ngFor="let d of disks; let i = index">
        <ion-icon slot="start" name="save-outline"></ion-icon>
        <ion-label>{{d.logicalname}} ({{ d.size }})</ion-label>
        <ion-button *ngIf="!(d.$ejecting$ | async)" slot="end" fill="clear" color="medium" (click)="ejectDisk(i)">
          <ion-icon color="primary" class="icon" src="/assets/icon/eject.svg"></ion-icon>
        </ion-button>
        <ion-spinner *ngIf="d.$ejecting$ | async" name="lines" color="medium"></ion-spinner>
      </ion-item>
    <!-- </ion-list> -->
  </ion-item-group>
</ion-content>

<ion-content *ngIf="$loading$ | async" class="ion-padding-top">
  <ion-spinner class="center" name="lines" color="warning"></ion-spinner>
</ion-content>
