<!-- @TODO Implement InputNumber step once it is added in Taiga UI -->
<tui-input-number
  [tuiHintContent]="spec.description"
  [tuiTextfieldPostfix]="spec.units || ''"
  [pseudoInvalid]="invalid"
  [precision]="Infinity"
  [decimal]="spec.integer ? 'never' : 'not-zero'"
  [min]="spec.min ?? -Infinity"
  [max]="spec.max ?? Infinity"
  [(ngModel)]="value"
  (focusedChange)="onFocus($event)"
>
  {{ spec.name }}
  <span *ngIf="spec.required">*</span>
  <input tuiTextfield [placeholder]="spec.placeholder || ''" />
</tui-input-number>
