<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="system"></ion-back-button>
    </ion-buttons>
    <ion-title>WiFi Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="with-widgets">
  <div class="cap-width" *tuiLet="enabled$ | async as enabled">
    <ion-item-group>
      <ion-item>
        <ion-label>
          <h2>
            Adding WiFi credentials to StartOS allows you to remove the Ethernet
            cable and move the device anywhere you want. StartOS will
            automatically connect to available networks.
            <a
              href="https://docs.start9.com/latest/user-manual/wifi"
              target="_blank"
              rel="noreferrer"
            >
              View instructions
            </a>
          </h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label><b>Wi-Fi</b></ion-label>
        <ion-toggle
          slot="end"
          [checked]="enabled"
          (ionChange)="toggleWifi($any($event))"
        ></ion-toggle>
      </ion-item>
    </ion-item-group>

    <ng-container *ngIf="enabled">
      <ng-container *ngIf="wifi$ | async as wifi; else loading">
        <!-- known networks -->
        <ion-item-divider *ngIf="!(wifi.ssids | empty)">
          Known Networks
        </ion-item-divider>
        <ion-item-group>
          <ion-item *ngFor="let ssid of wifi.ssids | keyvalue">
            <ion-label>
              <h2>{{ ssid.key }}</h2>
              <p *ngIf="ssid.key === wifi.connected" class="inline">
                <ion-icon
                  color="success"
                  name="ellipse"
                  style="padding-right: 4px"
                ></ion-icon>
                <ion-text color="dark"><b>Connected</b></ion-text>
              </p>
            </ion-label>
            <div slot="end" class="inline slot-end">
              <img [src]="ssid.value | toWifiIcon" style="max-width: 32px" />
              <ion-button
                [id]="ssid.key"
                style="--padding-start: 6px; --padding-end: 4px"
                fill="clear"
              >
                <ion-icon
                  slot="icon-only"
                  name="ellipsis-horizontal-circle"
                ></ion-icon>
              </ion-button>
            </div>
            <ion-popover [trigger]="ssid.key" triggerAction="click">
              <ng-template>
                <ion-content>
                  <ion-item
                    button
                    *ngIf="ssid.key !== wifi.connected"
                    (click)="connect(ssid.key)"
                  >
                    <ion-label>Connect</ion-label>
                  </ion-item>
                  <ion-item
                    button
                    lines="none"
                    (click)="forget(ssid.key, wifi)"
                  >
                    <ion-label>Forget this network</ion-label>
                  </ion-item>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-item-group>
        <!-- other networks -->
        <ion-item-divider>Other Networks</ion-item-divider>
        <ion-item-group>
          <ng-container *ngFor="let avWifi of wifi['available-wifi']">
            <ion-item *ngIf="avWifi.ssid">
              <ion-label>{{ avWifi.ssid }}</ion-label>
              <div slot="end" class="inline slot-end">
                <ion-button
                  color="dark"
                  class="connect-button"
                  (click)="presentModalAdd(avWifi)"
                >
                  Connect
                </ion-button>
                <ion-icon
                  style="margin-right: 12px"
                  [name]="avWifi.security.length ? 'lock-closed-outline' : 'lock-open-outline'"
                ></ion-icon>
                <img
                  [src]="avWifi.strength | toWifiIcon"
                  style="max-width: 32px"
                />
              </div>
            </ion-item>
          </ng-container>
        </ion-item-group>
        <div class="ion-text-end ion-padding-top">
          <ion-button
            (click)="presentModalAddOther(wifi)"
            color="dark"
            strong
            size="small"
            style="font-size: 12px"
          >
            Other...
          </ion-button>
        </div>
      </ng-container>

      <!-- loading  -->
      <ng-template #loading>
        <ion-item-divider>Known Networks</ion-item-divider>
        <ion-item-group>
          <ion-item *ngFor="let entry of ['', '']" class="skeleton-parts">
            <ion-label>
              <ion-skeleton-text
                animated
                style="width: 25%"
              ></ion-skeleton-text>
            </ion-label>
          </ion-item>
        </ion-item-group>
        <ion-item-divider>Other Networks</ion-item-divider>
        <ion-item-group>
          <ion-item *ngFor="let entry of ['', '', '']" class="skeleton-parts">
            <ion-label>
              <ion-skeleton-text
                animated
                style="width: 25%"
              ></ion-skeleton-text>
            </ion-label>
          </ion-item>
        </ion-item-group>
      </ng-template>
    </ng-container>
  </div>
</ion-content>
