<div class="label">
  {{ spec.name }}
  @if (spec.description || spec.disabled) {
    <tui-icon [tuiTooltip]="spec | hint" />
  }
  <button
    tuiLink
    type="button"
    class="add"
    [disabled]="!canAdd"
    (click)="add()"
  >
    + {{ 'Add' | i18n }}
  </button>
</div>
<tui-error [error]="order | tuiFieldError | async"></tui-error>

@for (item of array.control.controls; track item; let index = $index) {
  @if (spec.spec.type === 'object') {
    <form-object
      class="object"
      [class.object_open]="!!open.get(item)"
      [formGroup]="$any(item)"
      [spec]="$any(spec.spec)"
      [@tuiHeightCollapse]="animation"
      [@tuiFadeIn]="animation"
      [open]="!!open.get(item)"
      (openChange)="open.set(item, $event)"
    >
      {{ item.value | mustache: $any(spec.spec).displayAs }}
      <ng-container *ngTemplateOutlet="remove"></ng-container>
    </form-object>
  } @else {
    <form-control
      class="control"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
      [tuiTextfieldIcon]="remove"
      [formControl]="$any(item)"
      [spec]="$any(spec.spec)"
      [@tuiHeightCollapse]="animation"
      [@tuiFadeIn]="animation"
    ></form-control>
  }
  <ng-template #remove>
    <button
      tuiIconButton
      type="button"
      class="remove"
      iconStart="@tui.trash"
      appearance="icon"
      size="m"
      title="Remove"
      (click.stop)="removeAt(index)"
    ></button>
  </ng-template>
}
