<div
  class="rounded-xl bg-gradient-to-bl from-zinc-400/75 to-zinc-600 p-px shadow-lg shadow-zinc-400/10"
>
  <div *ngIf="pkg$ | async as pkg" class="bg-zinc-800 rounded-xl p-7">
    <div class="grid grid-flow-row items-center gap-6">
      <div class="flex justify-between">
        <h3 class="text-lg font-bold small-caps">
          What's new in
          <b>{{ pkg.manifest.version }}</b>
        </h3>
        <p
          *ngIf="pkg['published-at'] as published"
          class="text-base font-light small-caps mb-1 text-zinc-300"
        >
          Latest Release - {{ published | date : 'medium' }}
        </p>
      </div>
      <div class="flex justify-between gap-6">
        <p
          class="text-base mt-1 flex-wrap"
          [innerHTML]="pkg.manifest['release-notes']"
        ></p>
        <button
          tuiButton
          type="button"
          appearance="secondary"
          size="m"
          class="mt-3 place-self-end sm:place-self-start md:place-self-start lg:place-self-end"
        >
          Previous releases
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <ion-content class="with-widgets">
  <ng-container *ngIf="notes$ | async as notes; else loading">
    <div *ngFor="let note of notes | keyvalue : asIsOrder">
      <ion-button
        expand="full"
        color="light"
        class="version-button"
        [class.ion-activated]="isSelected(note.key)"
        (click)="setSelected(note.key)"
      >
        <p class="version">{{ note.key | displayEmver }}</p>
      </ion-button>
      <ion-card
        tuiElement
        #element="elementRef"
        class="panel"
        color="light"
        [id]="note.key"
        [style.maxHeight.px]="getDocSize(note.key, element)"
      >
        <ion-text
          id="release-notes"
          safeLinks
          [innerHTML]="note.value | markdown | dompurify"
        ></ion-text>
      </ion-card>
    </div>
  </ng-container>

  <ng-template #loading>
    <text-spinner text="Loading Release Notes"></text-spinner>
  </ng-template>
</ion-content> -->
