{
    "/rpc/v1": {
        "target": "http://localhost:8100/rpc/v1"
    },
    "/ws": {
        "target": "http://localhost:8100/ws"
    },
    "/public/*": {
        "target": "http://localhost:8100/public",
        "pathRewrite": {
            "^/public": ""
        }
    }
}