@import '@taiga-ui/core/styles/taiga-ui-local';

.template {
  @include transition(opacity);

  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  font: var(--tui-font-text-l);
  font-weight: bold;

  &_hidden {
    opacity: 0;
  }
}

.drop {
  @include fullsize();
  @include transition(opacity);
  display: flex;
  align-items: center;
  justify-content: space-around;

  &_hidden {
    opacity: 0;
  }
}

.label {
  display: flex;
  align-items: center;
  max-width: 50%;
}

small {
  max-width: 50%;
  font-weight: normal;
  color: var(--tui-text-02);
  margin-left: auto;
}

tui-tag {
  z-index: 1;
  margin: 0 -0.25rem 0 auto;
}
