<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Restore From Backup</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="refresh()">
        Refresh
        <ion-icon slot="end" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item class="ion-margin-bottom">
    <ion-label>
      <h2>
        Select the drive containing the backup you would like to restore.
      </h2>
    </ion-label>
  </ion-item>

  <!-- loading -->
  <ng-container *ngIf="loading">
    <ion-item-divider>
      <ion-skeleton-text animated style="width: 120px; height: 16px;"></ion-skeleton-text>
    </ion-item-divider>
    <ion-item>
      <ion-avatar slot="start" style="margin-right: 24px;">
        <ion-skeleton-text animated style="width: 30px; height: 30px; border-radius: 0;"></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated style="width: 100px; height: 20px; margin-bottom: 12px;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 50px; height: 16px; margin-bottom: 16px;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100px;"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ng-container>

  <!-- not loading -->
  <ng-container *ngIf="!loading">

    <!-- error -->
    <ion-item *ngIf="loadingError">
      <ion-label>
        <ion-text color="danger">
          {{ loadingError }}
        </ion-text>
      </ion-label>
    </ion-item>

    <!-- no error -->

    <ng-container *ngIf="!loadingError">

      <ion-item *ngIf="!disks.length">
        <ion-label>
          <ion-text color="warning">
            No drives found. Insert a backup drive into your Embassy and click "Refresh" above.
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-item-group *ngIf="disks.length">
        <div *ngFor="let disk of disks">
          <ion-item-divider>
            {{ disk.vendor || 'Unknown Vendor' }} - {{ disk.model || 'Unknown Model' }} - {{ disk.capacity | convertBytes }}
          </ion-item-divider>
          <ion-item button *ngFor="let partition of disk.partitions" [disabled]="!partition.hasBackup" (click)="presentModal(partition.logicalname)">
            <ion-icon slot="start" name="save-outline" size="large"></ion-icon>
            <ion-label>
              <h1>{{ partition.label || partition.logicalname }}</h1>
              <h2>{{ partition.capacity | convertBytes }}</h2>
              <p *ngIf="partition.hasBackup">
                <ion-text color="success">
                  Embassy backups detected
                </ion-text>
              </p>
            </ion-label>
            <ng-container *ngIf="partition.hasBackup">
              <ion-icon *ngIf="!partition.backupInfo" slot="end" color="danger" name="lock-closed-outline"></ion-icon>
              <ion-icon *ngIf="partition.backupInfo" slot="end" color="success" name="lock-open-outline"></ion-icon>
            </ng-container>
          </ion-item>
        </div>
      </ion-item-group>

    </ng-container>
  </ng-container>
</ion-content>
