<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Restore From Backup
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <text-spinner *ngIf="loading" text="Loading Drives"></text-spinner>
  <text-spinner *ngIf="submitting" text="Initiating Backup"></text-spinner>

  <ion-content *ngIf="!loading && !submitting">
    <ion-item class="ion-margin-bottom">
      <ion-label>
        <h2>
          Select the drive containing the backup you would like to restore.
          <br />
          <br />
          <ion-text color="warning">
            Warning! All current data for {{ patch.data['package-data'][pkgId].manifest.title }} will be overwritten by the backup.
          </ion-text>
        </h2>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="allPartitionsMounted">
      <ion-text class="ion-text-wrap" color="warning">No drives found containing a valid backup for {{ patch.data['package-data'][pkgId].manifest.title }}. Insert the storage device containing the backup you intend to restore.</ion-text>
    </ion-item>

    <ion-item-group>
      <div *ngFor="let disk of disks | keyvalue">
        <ion-item-divider>{{ disk.key }} - {{ disk.value.size }}</ion-item-divider>
        <ion-item button *ngFor="let partition of disk.value.partitions | keyvalue" [disabled]="partition.value['is-mounted']" (click)="presentModal(partition.key)">
          <ion-icon slot="start" name="save-outline" size="large"></ion-icon>
          <ion-label>
            <h1>{{ partition.value.label || partition.key }}</h1>
            <h2>{{ partition.value.size || 'unknown size' }}</h2>
            <p *ngIf="!partition.value['is-mounted']; else unavailable"><ion-text color="success">Available</ion-text></p>
            <ng-template #unavailable>
              <p><ion-text color="danger">Unavailable</ion-text></p>
            </ng-template>
          </ion-label>
        </ion-item>
      </div>
    </ion-item-group>
  </ion-content>
</ion-content>
