<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Restore From Backup
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <text-spinner *ngIf="loading" text="Loading Drives"></text-spinner>
  <text-spinner *ngIf="submitting" text="Initiating Backup"></text-spinner>

  <ion-content *ngIf="!loading && !submitting">
    <ion-item class="ion-margin-bottom">
      <ion-label class="ion-text-wrap">
        <p class="ion-padding-bottom"><ion-text color="warning">Warning</ion-text></p>
        <h2>
          Restoring from backup will overwrite all current data for {{ patch.data['package-data'][pkgId].manifest.title }} .
        </h2>
      </ion-label>
    </ion-item>

    <ion-item-divider>Select Backup Drive</ion-item-divider>

    <ion-item *ngIf="allPartitionsMounted">
      <ion-text class="ion-text-wrap" color="warning">No partitions available. Insert the storage device containing the backup you intend to restore.</ion-text>
    </ion-item>

    <ion-card *ngFor="let disk of disks | keyvalue">
      <ion-card-header>
        <ion-card-title>
          {{ disk.value.size }}
        </ion-card-title>
        <ion-card-subtitle>
          {{ disk.key }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item-group>
          <ion-item button *ngFor="let partition of disk.value.partitions | keyvalue" [disabled]="partition.value['is-mounted']" (click)="presentModal(partition.key)">
            <ion-icon slot="start" name="save-outline"></ion-icon>
            <ion-label>
              <h2>{{ partition.value.label || partition.key }} ({{ partition.value.size || 'unknown size' }})</h2>
              <p *ngIf="!partition.value['is-mounted']; else unavailable"><ion-text color="success">Available</ion-text></p>
              <ng-template #unavailable>
                <p><ion-text color="danger">Unavailable</ion-text></p>
              </ng-template>
            </ion-label>
          </ion-item>
        </ion-item-group>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
