<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <pwa-back-button></pwa-back-button>
    </ion-buttons>
    <ion-title>Logs</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="getLogs()">
        <ion-icon slot="start" name="refresh-outline"></ion-icon>
        Refresh
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <text-spinner *ngIf="!logs" text="Loading Logs"></text-spinner>

  <div style="white-space: pre-line;">{{ logs }}</div>
</ion-content>