<div style="display: none">
  <!-- Ionicons -->
  <ion-icon *ngFor="let icon of icons" [name]="icon"></ion-icon>

  <!-- 3rd party components -->
  <qr-code control="hello"></qr-code>

  <!-- Ionic components -->
  <ion-accordion></ion-accordion>
  <ion-accordion-group></ion-accordion-group>
  <ion-avatar></ion-avatar>
  <ion-back-button></ion-back-button>
  <ion-badge></ion-badge>
  <ion-button></ion-button>
  <ion-buttons></ion-buttons>
  <ion-card></ion-card>
  <ion-card-content></ion-card-content>
  <ion-card-header></ion-card-header>
  <ion-checkbox></ion-checkbox>
  <ion-footer></ion-footer>
  <ion-grid></ion-grid>
  <ion-header></ion-header>
  <ion-popover></ion-popover>
  <ion-content>
    <ion-infinite-scroll></ion-infinite-scroll>
    <ion-infinite-scroll-content
      loadingSpinner="lines"
    ></ion-infinite-scroll-content>
  </ion-content>
  <ion-input></ion-input>
  <ion-item></ion-item>
  <ion-item-divider></ion-item-divider>
  <ion-item-group></ion-item-group>
  <ion-label></ion-label>
  <ion-label style="font-weight: bold"></ion-label>
  <ion-list></ion-list>
  <ion-modal></ion-modal>
  <ion-menu-button></ion-menu-button>
  <ion-note></ion-note>
  <ion-progress-bar></ion-progress-bar>
  <ion-row></ion-row>
  <ion-searchbar></ion-searchbar>
  <ion-spinner name="lines"></ion-spinner>
  <ion-text></ion-text>
  <ion-text><strong>load bold font</strong></ion-text>
  <ion-title></ion-title>
  <ion-toolbar></ion-toolbar>

  <!-- images -->
  <img src="assets/img/icon.png" />
  <img src="assets/img/community-store.png" />
  <img src="assets/img/icons/snek.png" />
  <img src="assets/img/icons/wifi-1.png" />
  <img src="assets/img/icons/wifi-2.png" />
  <img src="assets/img/icons/wifi-3.png" />

  <!-- Taiga UI icons -->
  <img *ngFor="let icon of taiga" src="assets/taiga-ui/icons/{{ icon }}.svg" />

  <!-- Taiga UI components -->
  <tui-input [formControl]="control"></tui-input>
  <tui-input-time [formControl]="control"></tui-input-time>
  <tui-input-date [formControl]="control"></tui-input-date>
  <tui-input-date-time [formControl]="control"></tui-input-date-time>
  <tui-input-files [formControl]="control"></tui-input-files>
  <tui-input-number [formControl]="control"></tui-input-number>
  <tui-textarea [formControl]="control"></tui-textarea>
  <tui-select [formControl]="control"></tui-select>
  <tui-multi-select [formControl]="control"></tui-multi-select>
  <tui-toggle [formControl]="control"></tui-toggle>
  <tui-radio-list [formControl]="control"></tui-radio-list>
  <tui-tooltip></tui-tooltip>
  <tui-error></tui-error>
  <tui-svg src="tuiIconTrash"></tui-svg>
  <tui-icon icon="tuiIconTrash"></tui-icon>
  <tui-expand></tui-expand>
  <tui-elastic-container></tui-elastic-container>
  <tui-scrollbar></tui-scrollbar>
  <button tuiButton></button>
  <button tuiLink></button>
  <button tuiCell></button>
  <progress tuiProgressBar></progress>
</div>

<!-- fonts -->
<div style="visibility: hidden; height: 0">
  <p style="font-family: Montserrat">a</p>
  <p style="font-family: Montserrat; font-weight: bold">a</p>
  <p style="font-family: Montserrat; font-weight: 100">a</p>
  <p style="font-family: Open Sans">a</p>
  <p style="font-family: Open Sans; font-weight: bold">a</p>
  <p style="font-family: Open Sans; font-weight: 100">a</p>
  <p style="font-family: Redacted">a</p>
</div>
