<p *ngIf="!storageDrive else choose">
  Enter the password that was used to encrypt this drive.
</p>
<ng-template #choose>
  <p>
    Choose a password for your server.
    <i>Make it good. Write it down.</i>
  </p>
</ng-template>

<form (ngSubmit)="storageDrive ? submitPw() : verifyPw()">
  <tui-input-password [formControl]="password">
    Enter Password
    <input tuiTextfield maxlength="64" />
  </tui-input-password>
  <tui-error [error]="passwordError"></tui-error>
  <ng-container *ngIf="storageDrive">
    <tui-input-password style="margin-top: 16px" [formControl]="confirm">
      Retype Password
      <input tuiTextfield maxlength="64" />
    </tui-input-password>
    <tui-error [error]="confirmError"></tui-error>
  </ng-container>
  <footer class="modal-buttons">
    <button tuiButton appearance="secondary" type="button" (click)="cancel()">
      Cancel
    </button>
    <button
      tuiButton
      [disabled]="!password.value || !!confirmError || !!passwordError"
    >
      {{ storageDrive ? 'Finish' : 'Unlock' }}
    </button>
  </footer>
</form>
