@switch (spec.type) {
  @case ('color') {
    <form-color />
  }
  @case ('datetime') {
    <form-datetime />
  }
  @case ('file') {
    <form-file />
  }
  @case ('multiselect') {
    <form-multiselect />
  }
  @case ('number') {
    <form-number />
  }
  @case ('select') {
    <form-select />
  }
  @case ('text') {
    <form-text />
  }
  @case ('textarea') {
    <form-textarea />
  }
  @case ('toggle') {
    <form-toggle />
  }
}
<tui-error [error]="order | tuiFieldError | async" />
@if (spec.warning || immutable) {
  <ng-template #warning let-completeWith="completeWith">
    {{ spec.warning }}
    @if (immutable) {
      <p>{{ 'This value cannot be changed once set' | i18n }}!</p>
    }
    <div class="buttons">
      <button
        tuiButton
        type="button"
        appearance="secondary"
        size="s"
        (click)="completeWith(true)"
      >
        {{ 'Cancel' | i18n }}
      </button>
      <button
        tuiButton
        type="button"
        appearance="flat-grayscale"
        size="s"
        (click)="completeWith(false)"
      >
        {{ 'Continue' | i18n }}
      </button>
    </div>
  </ng-template>
}
