[Unit]
Description=Embassy Init
After=network.target
Requires=network.target
Wants=avahi-daemon.service nginx.service tor.service

[Service]
Type=oneshot
Environment=RUST_LOG=embassy_init=debug,embassy=debug
ExecStart=/usr/local/bin/embassy-init
RemainAfterExit=true

[Install]
WantedBy=embassyd.service
