<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="system"></ion-back-button>
    </ion-buttons>
    <ion-title>Monitor</ion-title>
    <ion-title slot="end"
      ><ion-spinner name="dots" class="fader"></ion-spinner
    ></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding with-widgets">
  <skeleton-list *ngIf="loading" [groups]="2"></skeleton-list>

  <div id="metricSection">
    <ng-container *ngIf="!loading">
      <ion-item-group>
        <ion-item-divider>Time</ion-item-divider>
        <ion-item>
          <ion-label>System Time</ion-label>
          <ion-note slot="end" class="metric-note">
            <ion-text style="color: white"
              >{{ systemTime$ | async | date:'MMMM d, y, h:mm a z':'UTC'
              }}</ion-text
            >
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label>System Uptime</ion-label>
          <ion-note
            *ngIf="systemUptime$ | async as uptime"
            slot="end"
            class="metric-note"
          >
            <ion-text style="color: white">
              <b>{{ uptime.days }}</b> Days, <b>{{ uptime.hours }}</b> Hours,
              <b>{{ uptime.minutes }}</b> Minutes
            </ion-text>
          </ion-note>
        </ion-item>
      </ion-item-group>

      <ion-item-group
        *ngFor="let metricGroup of metrics | keyvalue : asIsOrder"
      >
        <ion-item-divider>{{ metricGroup.key }}</ion-item-divider>
        <ion-item
          *ngFor="let metric of metricGroup.value | keyvalue : asIsOrder"
        >
          <ion-label>{{ metric.key }}</ion-label>
          <ion-note *ngIf="metric.value" slot="end" class="metric-note">
            <ion-text style="color: white"
              >{{ metric.value.value }} {{ metric.value.unit }}</ion-text
            >
          </ion-note>
        </ion-item>
      </ion-item-group>
    </ng-container>
  </div>
</ion-content>
