<ion-header>
  <ion-toolbar>
    <ion-title>Marketplace</ion-title>
    <ion-buttons slot="end">
      <badge-menu-button></badge-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid *ngIf="details$ | async as details">
    <ion-row>
      <ion-col size-lg="10" offset-lg="1" size-sm="12">
        <ion-item class="description" [color]="details.color">
          <ion-icon
            text-wrap
            size="large"
            name="information-circle-outline"
          ></ion-icon>
          <ion-label [innerHtml]="details.description"></ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="heading">
          <img
            *ngIf="details.icon; else noIcon"
            [src]="'data:image/png;base64,' + details.icon | trustUrl"
            alt=""
          />
          <ng-template #noIcon>
            <ion-icon name="storefront-outline"></ion-icon>
          </ng-template>
          <h1 class="montserrat ion-text-center">{{ details.name }}</h1>
        </div>
        <ion-button fill="clear" (click)="presentModalMarketplaceSettings()">
          <ion-icon slot="start" name="repeat-outline"></ion-icon>
          Change
        </ion-button>
        <marketplace-search [(query)]="query"></marketplace-search>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12">
        <ng-container *ngIf="store$ | async as store; else loading">
          <ng-container *ngIf="localPkgs$ | async as localPkgs">
            <marketplace-categories
              [categories]="store.categories"
              [category]="category"
              [updatesAvailable]="
                (store.packages | filterPackages: '':'updates':localPkgs).length
              "
              (categoryChange)="onCategoryChange($event)"
            ></marketplace-categories>

            <div class="divider"></div>

            <ion-grid
              *ngIf="store.packages | filterPackages: query:category:localPkgs as filtered"
            >
              <div
                *ngIf="!filtered.length && category === 'updates'"
                class="ion-padding"
              >
                <h1>All services are up to date!</h1>
              </div>

              <ion-row>
                <ion-col
                  *ngFor="let pkg of filtered"
                  sizeXs="12"
                  sizeSm="12"
                  sizeMd="6"
                >
                  <marketplace-item [pkg]="pkg">
                    <marketplace-status
                      class="status"
                      [version]="pkg.manifest.version"
                      [localPkg]="localPkgs[pkg.manifest.id]"
                    ></marketplace-status>
                  </marketplace-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ng-container>
        </ng-container>

        <ng-template #loading>
          <marketplace-skeleton></marketplace-skeleton>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
