server {{
    listen 443 ssl;
    server_name {app_id}.{hostname}.local;
    ssl_certificate /etc/nginx/ssl/{hostname}-local.crt.pem;
    ssl_certificate_key /etc/nginx/ssl/{hostname}-local.key.pem;
    location / {{
        proxy_pass http://{app_ip}:80/;
        proxy_set_header Host $host;
    }}
}}
server {{
    listen 80;
    server_name {hostname}.local;
    return 301 https://$host$request_uri;
}}