server {{
    listen {port};
    server_name {hostname}.local;
    location / {{
        proxy_pass http://{app_ip}:{internal_port}/;
        proxy_set_header Host $host;
        client_max_body_size 0;
        proxy_request_buffering off;
        proxy_buffering off;
    }}
}}
