<h2>This Release</h2>
<h4>0.3.5</h4>
<p class="note-padding">
  View the complete
  <a
    href="https://github.com/Start9Labs/start-os/releases/tag/v0.3.5"
    target="_blank"
    noreferrer
  >
    release notes
  </a>
  for more details.
</p>
<h6>Highlights</h6>
<ul class="spaced-list">
  <li>
    This release contains significant under-the-hood improvements to performance
    and reliability
  </li>
  <li>Ditch Docker, replace with Podman</li>
  <li>Remove locking behavior from PatchDB and optimize</li>
  <li>Boost efficiency of service manager</li>
  <li>Require HTTPS on LAN, and improve setup flow for trusting Root CA</li>
  <li>Better default privacy settings for Firefox kiosk mode</li>
  <li>Eliminate memory leak from Javascript runtime</li>
  <li>Other small bug fixes</li>
  <li>Update license to MIT</li>
</ul>

<div class="ion-text-center ion-padding">
  <button tuiButton class="begin" (click)="context.$implicit.complete()">
    Begin
  </button>
</div>
