<tui-scrollbar class="scrollbar">
  <section
    class="top"
    waIntersectionObserver
    (waIntersectionObservee)="onLoading(!!$event[0]?.isIntersecting)"
    (logsFetch)="onPrevious($event)"
  >
    @if (loading) {
      <tui-loader textContent="Loading older logs" />
    }
  </section>

  <section #el childList (waMutationObserver)="restoreScroll(el)">
    @for (log of previous; track log) {
      <pre [innerHTML]="log | dompurify"></pre>
    }
  </section>

  @if (followLogs | logs | async; as logs) {
    <section childList (waMutationObserver)="scrollToBottom()">
      @for (log of logs; track log) {
        <pre [innerHTML]="log | dompurify"></pre>
      }

      @if ((status$ | async) !== 'connected') {
        <p class="loading-dots" [attr.data-status]="status$.value">
          {{
            status$.value === 'reconnecting'
              ? 'Reconnecting'
              : 'Waiting for network connectivity'
          }}
        </p>
      }
    </section>
  } @else {
    <tui-loader textContent="Loading logs" [style.margin-top.rem]="5" />
  }

  <section
    #bottom
    class="bottom"
    waIntersectionObserver
    (waIntersectionObservee)="
      setScroll(!!$event[$event.length - 1]?.isIntersecting)
    "
  ></section>
</tui-scrollbar>

<footer class="footer">
  <button
    tuiButton
    appearance="flat-grayscale"
    iconStart="@tui.circle-arrow-down"
    (click)="setScroll(true); scrollToBottom()"
  >
    Scroll to bottom
  </button>
  <button
    tuiButton
    appearance="flat-grayscale"
    iconStart="@tui.download"
    [logsDownload]="fetchLogs"
  >
    Download
  </button>
</footer>
