<div class="outer-container">
  <div class="inner-container">
    <tui-avatar class="dep-img" [src]="pkg['dependency-metadata'][dep.key].icon"></tui-avatar>
    <div class="wrapper-margin">
      <div class="inner-container-title">
        <span>
          {{ pkg['dependency-metadata'][dep.key].title || dep.key }}
        </span>
        <p>
          @if (dep.value.optional) {
            <span>(optional)</span>
          } @else {
            <span>(required)</span>
          }
        </p>
      </div>
      <span class="inner-container-description">
        {{ dep.value.description }}
      </span>
    </div>
  </div>
</div>
