<div class="outer-container">
  <div class="inner-container">
    <tui-avatar class="dep-img" [src]="getImage(dep.key)"></tui-avatar>
    <div class="wrapper-margin">
      <div class="inner-container-title">
        <span>
          {{ getTitle(dep.key) }}
        </span>
        <p>
          <ng-container [ngSwitch]="dep.value.requirement.type">
            <span *ngSwitchCase="'required'">(required)</span>
            <span *ngSwitchCase="'opt-out'">(required by default)</span>
            <span *ngSwitchCase="'opt-in'">(optional)</span>
          </ng-container>
        </p>
      </div>
      <span class="inner-container-version">
        {{ dep.value.version | displayEmver }}
      </span>
      <span class="inner-container-description">
        {{ dep.value.description }}
      </span>
    </div>
  </div>
</div>
