<ion-item-divider>Dependencies</ion-item-divider>
<ion-grid>
  <ion-row>
    <ion-col
      *ngFor="let dep of pkg.dependencyMetadata | keyvalue"
      responsiveCol
      sizeSm="12"
      sizeMd="6"
    >
      <ion-item [routerLink]="['/marketplace', dep.key]">
        <ion-thumbnail slot="start">
          <img
            alt=""
            style="border-radius: 100%"
            [src]="getImg(dep.key) | trustUrl"
          />
        </ion-thumbnail>
        <ion-label>
          <h2>
            {{
              pkg.dependencyMetadata[dep.key].title
                ? pkg.dependencyMetadata[dep.key].title
                : dep.key
            }}
            <span *ngIf="dep.value.optional; else required">(optional)</span>
            <ng-template #required>
              <span>(Required)</span>
            </ng-template>
          </h2>
          <p>{{ dep.value.description }}</p>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
