<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="system"></ion-back-button>
    </ion-buttons>
    <ion-title>StartOS Web Interface</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="with-widgets">
  <div *ngIf="network$ | async as network" class="cap-width">
    <!-- clearnet -->
    <ion-item-divider style="--padding-top: 0">Clearnet</ion-item-divider>
    <ion-item-group>
      <ion-item>
        <ion-label>
          <h2>
            Clearnet provides a fast and convenient experience. It not not
            provide anonymity, and the addresses can be discovered and accessed
            by anyone.
            <a
              href="https://docs.start9.com/latest/user-manual/os-addresses#clearnet"
              target="_blank"
              rel="noreferrer"
            >
              View instructions
            </a>
          </h2>
        </ion-label>
      </ion-item>
      <ng-container
        *ngIf="network.clearnetAddress as clearnetAddress; else noClearnet"
      >
        <ion-item>
          <ion-label>
            <h2>Clearnet</h2>
            <p>{{ 'https://' + clearnetAddress }}</p>
            <div class="ion-padding-top">
              <ion-button (click)="presentModalAddClearnet(network)">
                Update
              </ion-button>
              <ion-button
                class="ion-padding-start"
                (click)="presentAlertRemoveClearnet()"
                color="danger"
              >
                Remove
              </ion-button>
            </div>
          </ion-label>
          <div slot="end">
            <ion-button fill="clear" (click)="launch(clearnetAddress)">
              <ion-icon
                slot="icon-only"
                size="small"
                name="open-outline"
              ></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="copy(clearnetAddress)">
              <ion-icon
                slot="icon-only"
                size="small"
                name="copy-outline"
              ></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </ng-container>
      <ng-template #noClearnet>
        <div class="ion-padding">
          <ion-button (click)="presentModalAddClearnet(network)">
            <ion-icon slot="start" name="add"></ion-icon>
            Add Clearnet Address
          </ion-button>
        </div>
      </ng-template>
    </ion-item-group>

    <!-- tor -->
    <ion-item-divider>Tor</ion-item-divider>
    <ion-item-group>
      <ion-item>
        <ion-label>
          <h2>
            Tor offers privacy and anonymity at the expense of speed and
            reliability. A Tor-enabled browser is required to use a Tor address.
            <a
              href="https://docs.start9.com/latest/user-manual/os-addresses#tor"
              target="_blank"
              rel="noreferrer"
            >
              View instructions
            </a>
          </h2>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="network.torHostname as torHostname">
        <ion-label class="break-all">
          <h2>Tor</h2>
          <p>{{ torHostname }}</p>
        </ion-label>
        <div slot="end">
          <ion-button fill="clear" (click)="launch(torHostname)">
            <ion-icon
              slot="icon-only"
              size="small"
              name="open-outline"
            ></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="copy(torHostname)">
            <ion-icon
              slot="icon-only"
              size="small"
              name="copy-outline"
            ></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-item-group>

    <!-- local -->
    <ion-item-divider>LAN</ion-item-divider>
    <ion-item-group>
      <ion-item>
        <ion-label>
          <h2>
            LAN offers a fast and private experience. These addresses can only
            be accessed from a device connected to the same LAN as your server,
            either directly or using a VPN.
            <a
              href="https://docs.start9.com/latest/user-manual/os-addresses#local"
              target="_blank"
              rel="noreferrer"
            >
              View instructions
            </a>
          </h2>
          <div class="ion-padding-top ion-padding-bottom">
            <ion-button
              (click)="installCert()"
              [disabled]="!(crtName$ | async)"
            >
              <ion-icon slot="start" name="download-outline"></ion-icon>
              Download Root CA
            </ion-button>
          </div>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="network.lanHostname as lanHostname">
        <ion-label class="break-all">
          <h2>Local</h2>
          <p>{{ lanHostname }}</p>
        </ion-label>
        <div slot="end">
          <ion-button fill="clear" (click)="launch(lanHostname)">
            <ion-icon
              slot="icon-only"
              size="small"
              name="open-outline"
            ></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="copy(lanHostname)">
            <ion-icon
              slot="icon-only"
              size="small"
              name="copy-outline"
            ></ion-icon>
          </ion-button>
        </div>
      </ion-item>
      <ng-container *ngFor="let iface of network.ipInfo | keyvalue">
        <ion-item *ngIf="iface.value.ipv4 as ipv4">
          <ion-label>
            <h2>{{ iface.key }} (IPv4)</h2>
            <p>{{ ipv4 }}</p>
          </ion-label>
          <div slot="end">
            <ion-button fill="clear" (click)="launch(ipv4)">
              <ion-icon
                slot="icon-only"
                size="small"
                name="open-outline"
              ></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="copy(ipv4)">
              <ion-icon
                slot="icon-only"
                size="small"
                name="copy-outline"
              ></ion-icon>
            </ion-button>
          </div>
        </ion-item>
        <ion-item *ngIf="iface.value.ipv6 as ipv6">
          <ion-label>
            <h2>{{ iface.key }} (IPv6)</h2>
            <p>{{ ipv6 }}</p>
          </ion-label>
          <div slot="end">
            <ion-button fill="clear" (click)="launch(ipv6)">
              <ion-icon
                slot="icon-only"
                size="small"
                name="open-outline"
              ></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="copy(ipv6)">
              <ion-icon
                slot="icon-only"
                size="small"
                name="copy-outline"
              ></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </ng-container>
    </ion-item-group>
  </div>

  <!-- hidden element for downloading cert -->
  <a
    id="install-cert"
    href="/public/eos/local.crt"
    [download]="crtName$ | async"
  ></a>
</ion-content>
