:host {
  display: block;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
}

.embassy {
  font-family: "Montserrat", sans-serif;
}

.marketplace {
  width: 50%;
}
