/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.select-change-warning .alert-sub-title {
  color: var(--ion-color-warning)
}

.break-all {
  word-break: break-all;
}

.loader {
  --spinner-color: var(--ion-color-warning) !important;
}

.loader-ontop-of-all {
  --spinner-color: var(--ion-color-warning) !important;
  z-index: 40000 !important;
}

.borderless {
  border-style: none;
}

.item-interactive {
  --highlight-background: transparent !important;
}

.center {
  display: block;
  margin: auto;
  height: 100%;
}

ion-toast {
  --background: var(--ion-color-light);
  --button-color: var(--ion-color-dark);
  --border-style: solid;
  --border-width: 1px;
  --color: white;
}

.warning-toast {
  --border-color: var(--ion-color-warning);
}

.success-toast {
  --border-color: var(--ion-color-success);
}

.error-toast {
  --border-color: var(--ion-color-danger);
  width: 40%;
  min-width: 400px;
  --end: 8px;
  right: 8px;
  left: unset;
  top: 64px;
}

.sublist-spinner {
  text-align: center;
  margin-top: 40px;
}

.alert-radio-label.sc-ion-alert-md {
  white-space: normal !important;
}

.alert-radio-label.sc-ion-alert-ios {
  white-space: normal !important;
}

img {
  border-radius: 100%;
}

ion-card-title {
  font-family: 'Montserrat';
}

ion-title {
  font-family: 'Montserrat';
}

ion-note {
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ion-badge {
  font-weight: bold;
}

ion-toolbar {
  --min-height: 72px;
  --ion-background-color: var(--ion-color-light); 
}

ion-infinite-scroll ion-infinite-scroll-content {
  --color: var(--ion-color-warning) !important;
}

ion-alert {
  .alert-button {
    color: var(--ion-color-dark) !important;
  }
}

ion-button {
  --color: var(--ion-color-dark) !important;
}

* {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.text-ellipses {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal-wrapper {
  position: absolute;
  height: 90% !important;
  top: 5%;
  width: 90% !important;
  left: 5%;
  display: block;
}

.modal-wrapper.sc-ion-modal-md {
  border-radius: 6px;
  border: 2px solid rgba(255,255,255,.03);
  box-shadow: 0 0 70px 70px black;
}

@media (min-width:1000px) {
  .modal-wrapper {
    position: absolute;
    height: 70% !important;
    top: 15%;
    width: 60% !important;
    left: 20%;
    display: block;
  }
}

.alertlike-modal {
  .modal-wrapper {
    height: 50% !important;
    top: 25% !important;
    width: 90% !important;
    left: 5% !important;
    --box-shadow: none !important;
  }
}

@media (min-width:1000px) {
  .alertlike-modal {
    .modal-wrapper {
      width: 50% !important;
      left: 25% !important;
    }
  }
}

.alert-error-message {
  .alert-title {
    color: var(--ion-color-danger);
  }
}

.alert-success-message {
  .alert-title {
    color: var(--ion-color-success);
  }
}

.custom-modal {
  border-radius: 8px;
}

ion-slides {
  .slider-wrapper {
    height: 100%;
    width: 100%
  }
}

.qr-popover {
  --width: auto;
  --background: transparent !important;
}

ion-item-divider {
  text-transform: uppercase;
  margin-top: 24px;
  font-weight: 600;
  --color: var(--ion-color-dark);
  border: none;
  font-size: medium;
}

ion-item {
  border-radius: 4px;
}

ion-loading {
  z-index: 100 !important;
}

.swiper-pagination {
  position: fixed;
  bottom: 0px;
  padding-bottom: 3px;
}

.notifier-item {
  margin: 12px;
  margin-top: 0px;
  border-radius: 12px;
  // kills the lines
  --border-width: 0;
  --inner-border-width: 0;
}

.rec-item {
  margin: 20px;
  border-style: solid;
  border-width: 1px;
  border-style: groove;
  border-color: dimgrey;
  border-radius: 10px;
  box-shadow: 4px 4px 16px var(--ion-color-primary);
  --padding-start: 10px;
}

.divider {
  background: linear-gradient(90deg,var(--ion-color-light) 0,var(--ion-color-dark) 50%,var(--ion-color-light) 100%);
  height: 1px;
}

.dots {
  vertical-align: middle;
  margin-left: 8px;
}

.dots-small {
  width: 12px !important;
  height: 12px !important;
}

.dots-medium {
  width: 16px !important;
  height: 16px !important;
}

h2 {
  line-height: unset;
}
