<ion-header *ngIf="{appLoading: $appLoading$ | async} as vars">
  <ion-toolbar>
    <ion-buttons style="margin: 0px 15px" slot="start">
      <img class="bulb"  *ngIf="status$ | async | displayBulb: 'green'" src="assets/img/green-bulb.png"/>
      <img class="bulb"  *ngIf="status$ | async | displayBulb: 'red'" src="assets/img/red-bulb.png"/>
      <img class="bulb"  *ngIf="status$ | async | displayBulb: 'yellow'" src="assets/img/yellow-bulb.png"/>
      <img class="bulb" *ngIf="status$ | async | displayBulb: 'off'" src="assets/img/black-bulb.png"/>
    </ion-buttons>
    <ion-title>{{$app$.title | async}}</ion-title>
    <ion-buttons slot="end" *ngIf="">
      <ion-spinner *ngIf="vars.appLoading" name="dots" color="medium"></ion-spinner>
      <ion-button *ngIf="!vars.appLoading" (click)=presentPopoverMenu($event)>
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--overflow: hidden;" *ngIf="{isRunning: isRunning$ | async, status: status$ | async, appLoading: $appLoading$ | async, iframeLoading: $iframeLoading$ | async } as vars">
  <ion-spinner *ngIf="vars.appLoading || vars.iframeLoading" style="position: absolute; width: 4vh; left: calc(50% - 2vh); height: 100%;" name="lines" color="warning"></ion-spinner>
  <iframe (load)="iframeLoaded()" *ngIf="!vars.appLoading && vars.isRunning" [id]="appId + '-ui'" src="http://localhost:8100" width="100%" height="100%" style="border:1px solid black;"></iframe>
  <div *ngIf="!vars.appLoading && !vars.isRunning" class="flex-center" style="border:1px solid black; color: white">
    <ion-label style="margin:10px">{{$app$.title | async}} is not running.</ion-label>
    <ion-button fill="outline" (click)="toServiceShow()">View</ion-button>
  </div>
</ion-content>
