<ion-header *ngIf="{loading: $loading$ | async} as vars">
  <ion-toolbar>
    <ion-title>{{$app$.title | async}}</ion-title>
    <ion-buttons slot="end">
      <ion-spinner *ngIf="vars.loading" name="dots" color="medium"></ion-spinner>
      <ion-button *ngIf="!vars.loading" (click)=presentPopoverMenu($event)>
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--overflow: hidden;" *ngIf="{loading: $loading$ | async} as vars">
  <ion-spinner *ngIf="vars.loading || !$app$" class="center" name="lines" color="warning"></ion-spinner>
  <iframe (onload)="iFrameLoaded()" *ngIf="!vars.loading && $app$" [id]="appId + '-ui'" src="http://localhost:8100" width="100%" height="100%" style="border:1px solid black;"></iframe>
</ion-content>
