// .recommendation-container {
//   margin-top: 3px;
//   display: grid;
//   grid-template-columns: auto auto;
//   justify-content: start;
//   grid-column-gap: 5px;
//   align-items: center;
// }

.recommendation-text {
  font-style: italic;
}

// @media (min-width:1000px) {
//   .recommendation-text {
//     font-size: small;
//   }
// }

.recommendation-error {
  color: var(--ion-color-danger);
}

.main-action-button {
  margin: 20px 5px 20px 5px;
}

.divider {
  margin-top: 15px;
  color: var(--ion-color-medium);
  font-size: medium;
  padding-left: 10px;
  font-weight: unset;
}