.recommendation-text {
  font-style: italic;
}

.recommendation-error {
  color: var(--ion-color-danger);
}

.main-action-button {
  margin: 20px 5px 20px 5px;
}

.divider {
  margin-top: 15px;
  color: var(--ion-color-medium);
  font-size: medium;
  padding-left: 10px;
  font-weight: unset;
}

#release-notes {
  overflow: auto;
  max-height: 160px;
}