.panel {
  margin: 0;
  padding: 0 24px;
  transition: max-height 0.2s ease-out;
}

.active {
  border: 5px solid #4d4d4d;
}

.version-button {
  height: 50px;
  margin: 1px;
}

.version {
  position: absolute;
  left: 10px;
}
