Total DISK READ :       0.00 B/s | Total DISK WRITE :       0.00 B/s
Actual DISK READ:       0.00 B/s | Actual DISK WRITE:       0.00 B/s
  TID  PRIO  USER     DISK READ  DISK WRITE  SWAPIN      IO    COMMAND
    1 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % init
    2 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [kthreadd]
    4 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [kworker/0:0H]
    6 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [mm_percpu_wq]
    7 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [ksoftirqd/0]
    8 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [rcu_sched]
    9 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [rcu_bh]
   10 rt/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [migration/0]
   11 rt/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [watchdog/0]
   12 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [cpuhp/0]
   13 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [kdevtmpfs]
   14 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [netns]
   15 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [rcu_tasks_kthre]
   16 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [kauditd]
   17 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [khungtaskd]
   18 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [oom_reaper]
   19 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [writeback]
   20 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [kcompactd0]
   21 be/5 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [ksmd]
   22 be/7 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [khugepaged]
   23 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [crypto]
   24 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [kintegrityd]
   25 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [kblockd]
   26 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [ata_sff]
   27 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [md]
   28 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [edac-poller]
   29 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [devfreq_wq]
   30 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [watchdogd]
   34 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [kswapd0]
   35 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [kworker/u3:0]
   36 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [ecryptfs-kthrea]
   78 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [kthrotld]
   79 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [acpi_thermal_pm]
   80 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [scsi_eh_0]
   81 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [scsi_tmf_0]
   82 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [scsi_eh_1]
   83 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [scsi_tmf_1]
   89 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [ipv6_addrconf]
   98 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [kstrp]
  115 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [charger_manager]
  155 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [scsi_eh_2]
  156 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [scsi_tmf_2]
  157 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [kworker/0:1H]
  268 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [raid5wq]
  321 be/3 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [jbd2/vda1-8]
  322 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [ext4-rsv-conver]
  391 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [iscsi_eh]
  392 be/3 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % systemd-journald
  406 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % lvmetad -f
  408 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [ib-comp-wq]
  410 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [ib-comp-unb-wq]
  411 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [ib_mcast]
  415 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [ib_nl_sa_wq]
  418 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [rdma_cm]
  530 be/4 systemd-    0.00 B/s    0.00 B/s  0.00 %  0.00 % systemd-timesyncd
  577 be/4 systemd-    0.00 B/s    0.00 B/s  0.00 %  0.00 % systemd-timesyncd [sd-resolve]
  613 be/4 systemd-    0.00 B/s    0.00 B/s  0.00 %  0.00 % systemd-networkd
  633 be/4 systemd-    0.00 B/s    0.00 B/s  0.00 %  0.00 % systemd-resolved
  711 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % systemd-udevd
  797 be/4 syslog      0.00 B/s    0.00 B/s  0.00 %  0.00 % rsyslogd -n
  811 be/4 syslog      0.00 B/s    0.00 B/s  0.00 %  0.00 % rsyslogd -n [in:imuxsock]
  812 be/4 syslog      0.00 B/s    0.00 B/s  0.00 %  0.00 % rsyslogd -n [in:imklog]
  813 be/4 syslog      0.00 B/s    0.00 B/s  0.00 %  0.00 % rsyslogd -n [rs:main Q:Reg]
  799 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % cron -f
  802 be/4 daemon      0.00 B/s    0.00 B/s  0.00 %  0.00 % atd -f
  803 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % python3 /usr/bin/networkd-dispatcher --run-startup-triggers
  889 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % python3 /usr/bin/networkd-dispatcher --run-startup-triggers [gmain]
  805 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % systemd-logind
  807 be/4 messageb    0.00 B/s    0.00 B/s  0.00 %  0.00 % dbus-daemon --system --address=systemd: --nofork --nopidfile --systemd-activation --syslog-only
  817 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % lxcfs /var/lib/lxcfs/
 9445 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % lxcfs /var/lib/lxcfs/
 9446 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % lxcfs /var/lib/lxcfs/
19695 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % lxcfs /var/lib/lxcfs/
19699 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % lxcfs /var/lib/lxcfs/
23977 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % lxcfs /var/lib/lxcfs/
23982 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % lxcfs /var/lib/lxcfs/
23983 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % lxcfs /var/lib/lxcfs/
23984 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % lxcfs /var/lib/lxcfs/
23986 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % lxcfs /var/lib/lxcfs/
23987 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % lxcfs /var/lib/lxcfs/
  819 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % accounts-daemon
  833 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % accounts-daemon [gmain]
  835 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % accounts-daemon [gdbus]
  825 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % agetty -o -p -- \u --keep-baud 115200,38400,9600 ttyS0 vt220
  828 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % agetty -o -p -- \u --noclear tty1 linux
  829 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % python3 /usr/share/unattended-upgrades/unattended-upgrade-shutdown --wait-for-signal
  891 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % python3 /usr/share/unattended-upgrades/unattended-upgrade-shutdown --wait-for-signal [gmain]
  838 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % polkitd --no-debug
  840 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % polkitd --no-debug [gmain]
  844 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % polkitd --no-debug [gdbus]
  839 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % sshd -D
22492 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % systemd --user
22493 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % (sd-pam)
22585 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % tmux
22586 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % -bash
22597 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % ./start9-registry
22598 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % ./start9-registry [ghc_ticker]
22599 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % ./start9-registry [start9-regist:w]
22600 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % ./start9-registry [start9-regist:w]
22601 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % ./start9-registry [start9-regist:w]
22602 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % ./start9-registry [start9-regist:w]
22686 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % ./start9-registry [start9-regist:w]
22953 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % ./start9-registry [start9-regist:w]
23052 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [kworker/0:2]
23761 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [kworker/u2:1]
23861 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [kworker/u2:2]
23946 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [kworker/0:0]
24091 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % sshd: root@pts/0
24198 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % -bash
24264 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [kworker/u2:0]
24265 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [kworker/u2:3]
24266 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [kworker/u2:4]
24336 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [kworker/0:1]
24407 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % python3 /usr/sbin/iotop -bn1
29224 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [xfsalloc]
29227 be/0 root        0.00 B/s    0.00 B/s  0.00 %  0.00 % [xfs_mru_cache]
