<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <text-spinner *ngIf="loading; else loaded" [text]="'Loading ' + title | titlecase"></text-spinner>

  <ng-template #loaded>
    <div *ngIf="content" class="content-padding" [innerHTML]="content | markdown"></div>
  </ng-template>
</ion-content>
