<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="system"></ion-back-button>
    </ion-buttons>
    <ion-title>SSH Keys</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top with-widgets">
  <div class="ion-padding-start ion-padding-end">
    <tui-notification>
      Adding domains to StartOS enables you to access your server and service
      interfaces over clearnet.
      <a [href]="docsUrl" target="_blank" rel="noreferrer">View instructions</a>
    </tui-notification>
  </div>

  <ion-item-group>
    <ion-item-divider>
      Saved Keys
      <ion-button
        class="ion-padding-start"
        strong
        size="small"
        (click)="presentModalAdd()"
      >
        <ion-icon slot="start" name="add"></ion-icon>
        Add Key
      </ion-button>
    </ion-item-divider>

    <div class="grid-fixed">
      <ion-grid class="ion-padding">
        <ion-row class="grid-headings">
          <ion-col size="2">Hostname</ion-col>
          <ion-col size="2.5">Created At</ion-col>
          <ion-col size="2">Algorithm</ion-col>
          <ion-col size="4.5">Fingerprint</ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
        <!-- loading -->
        <ng-container *ngIf="loading$ | async; else loaded">
          <ion-row
            *ngFor="let row of ['', '']"
            class="ion-align-items-center grid-row-border"
          >
            <ion-col>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ng-container>
        <!-- loaded -->
        <ng-template #loaded>
          <ion-row
            *ngFor="let ssh of sshKeys; let i = index"
            class="ion-align-items-center grid-row-border"
          >
            <ion-col size="2">{{ ssh.hostname }}</ion-col>
            <ion-col size="2.5">
              {{ ssh['created-at'] | date: 'medium' }}
            </ion-col>
            <ion-col size="2">{{ ssh.alg }}</ion-col>
            <ion-col size="4.5">{{ ssh.fingerprint }}</ion-col>
            <ion-col size="1">
              <ion-buttons style="float: right">
                <ion-button size="small" (click)="presentAlertDelete(ssh, i)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-col>
          </ion-row>
        </ng-template>
      </ion-grid>
    </div>
  </ion-item-group>
</ion-content>
