section {
  border-radius: 0.25rem;
  padding: 1rem;
  margin: 1.5rem;
  text-align: center;
  /* TODO: Theme */
  background: #e0e0e0;
  color: #333;
  --tui-clear-inverse: rgba(0, 0, 0, 0.1);
}

logs-window {
  display: flex;
  flex-direction: column;
  height: 18rem;
  padding: 1rem;
  margin: 0 1.5rem auto;
  text-align: left;
  overflow: hidden;
  border-radius: 2rem;
  /* TODO: Theme */
  background: #181818;
}
