<div class="item-container box-shadow-lg">
  <!-- color background -->
  <div class="background">
    <img [src]="determineIcon()" alt="{{ pkg.title }} Icon" />
  </div>
  <!-- darkening overlay -->
  <div class="overlay"></div>
  <!-- icon -->
  <img [src]="determineIcon()" class="icon" alt="{{ pkg.title }} Icon" />
  <div class="detail">
    <span class="detail-title" ticker>
      {{ pkg.title }}
    </span>
    <span class="detail-description">
      {{ pkg.description.short }}
    </span>
  </div>
</div>
