<div
  class="item-container box-shadow-lg"
  *tuiLet="marketplace$ | async as marketplace"
>
  <!-- color background -->
  <div class="background">
    <img
      [src]="determineIcon(marketplace)"
      alt="{{ pkg.manifest.title }} Icon"
    />
  </div>
  <!-- darkening overlay -->
  <div class="overlay"></div>
  <!-- icon -->
  <img
    [src]="determineIcon(marketplace)"
    class="icon"
    alt="{{ pkg.manifest.title }} Icon"
  />
  <div class="detail">
    <span class="detail-title" ticker>
      {{ pkg.manifest.title }}
    </span>
    <span class="detail-description">
      {{ pkg.manifest.description.short }}
    </span>
  </div>
</div>
