<ion-content>
  <ion-grid style="padding-top: 32px; height: 100%; max-width: 540px;">
    <ion-row style="height: 100%;">
      <ion-col class="ion-text-center">

        <div style="padding-bottom: 32px;">
          <img src="assets/png/logo.png" style="max-width: 240px;" />
        </div>

        <ion-card color="dark">
          <ion-card-header class="ion-text-center" style="padding-bottom: 8px;">
            <ion-card-title>Select Storage Drive</ion-card-title>
            <ion-card-subtitle>Select the drive where your Embassy data will be stored.</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="ion-margin">
            <ng-container *ngIf="!loading && !storageDrives.length">
              <h2>No drives found</h2>
              <p>Please connect an storage drive to your Embassy and refresh the page.</p>
              <ion-button style="margin-top: 25px;" (click)="refresh()" color="light">
                Refresh
              </ion-button>
            </ng-container>

            <ion-item-group>
              <ng-container *ngIf="loading">
                <ion-item button lines="none">
                  <ion-avatar slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-avatar>
                  <ion-label class="ion-text-wrap">
                    <ion-skeleton-text style="width: 80%; margin: 13px 0;" animated></ion-skeleton-text>
                    <ion-skeleton-text style="width: 60%; margin: 10px 0;" animated></ion-skeleton-text>
                  </ion-label>
                </ion-item>
              </ng-container>
              <ng-container *ngIf="storageDrives.length">
                <ion-item (click)="chooseDrive(drive)" class="ion-margin-bottom" button lines="none" *ngFor="let drive of storageDrives" [disabled]="drive.capacity < 34359738368">
                  <ion-icon slot="start" name="save-outline"></ion-icon>
                  <ion-label class="ion-text-wrap">
                    <h1>{{ drive.vendor || 'Unknown Vendor' }} - {{ drive.model || 'Unknown Model' }}</h1>
                    <h2>{{ drive.logicalname }} - {{ drive.capacity | convertBytes }}</h2>
                    <p *ngIf="drive.capacity < 34359738368">
                      <ion-text>
                        Drive capacity too small.
                      </ion-text>
                    </p>
                  </ion-label>
                </ion-item>
              </ng-container>
            </ion-item-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
