<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="system"></ion-back-button>
    </ion-buttons>
    <ion-title>Email Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-item-group>
    <!-- always -->
    <ion-item>
      <ion-label>
        <h2>
          Configure an external SMTP server so that your Embassy can notify you
          of important events.
        </h2>
      </ion-label>
    </ion-item>
    <ion-item-divider>Settings</ion-item-divider>
  </ion-item-group>

  <div *ngIf="email$ | async as email" class="ion-padding">
    <form-object
      [objectSpec]="configSpec"
      [formGroup]="configForm!"
      [current]="configForm!.value"
      [original]="email"
    ></form-object>
  </div>

  <div class="ion-text-right ion-padding">
    <ion-button> Send Test Email </ion-button>
    &nbsp;
    <ion-button> Save </ion-button>
  </div>
</ion-content>
