<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="system"></ion-back-button>
    </ion-buttons>
    <ion-title>Email Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-item-group>
    <!-- always -->
    <ion-item>
      <ion-label>
        <h2>
          Configure an external SMTP server so that your Embassy can notify you
          of important events.
        </h2>
      </ion-label>
    </ion-item>
    <ion-item-divider>Settings</ion-item-divider>
  </ion-item-group>

  <form *ngIf="form$ | async as form" [formGroup]="form" class="ion-padding">
    <form-group *ngIf="spec | async as resolved" [spec]="resolved"></form-group>
    <div class="ion-text-right ion-padding">
      <button
        tuiButton
        appearance="secondary"
        size="m"
        type="button"
        [disabled]="form.invalid"
        (click)="sendTestEmail(form.value)"
      >
        Send Test Email
      </button>
      &nbsp;
      <button
        tuiButton
        size="m"
        [disabled]="form.invalid"
        (click)="save(form.value)"
      >
        Save
      </button>
    </div>
  </form>
</ion-content>
