<ion-content>
  <ion-grid style="padding-top: 32px; height: 100%; max-width: 540px;">
    <ion-row style="height: 100%;">
      <ion-col class="ion-text-center">

        <div style="padding-bottom: 32px;">
          <img src="assets/png/logo.png" style="max-width: 240px;" />
        </div>

        <ion-card color="dark">
          <ion-card-header class="ion-text-center" style="padding-bottom: 8px;">
            <ion-card-title>Enter Product Key</ion-card-title>
          </ion-card-header>

          <ion-card-content class="ion-margin">
            <form (submit)="submit()" style="margin-bottom: 12px;">
              <ion-item-group class="ion-padding-bottom">
                <p class="input-label">Product Key</p>
                <ion-item color="dark">
                  <ion-icon slot="start" name="key-outline" style="margin-right: 16px;"></ion-icon>
                  <ion-input #focusInput color="medium" maxlength="12" name="productKey" [(ngModel)]="productKey" (ionChange)="error = ''"></ion-input>
                </ion-item>
                <div class="ion-text-left">
                  <p *ngIf="error" style="padding-top: 4px"><ion-text color="danger">{{ error }}</ion-text></p>
                </div>
              </ion-item-group>
              <ion-button type="submit" color="light" class="claim-button">
                Submit
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
