<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">

        <div style="padding-bottom: 32px;">
          <img src="assets/png/logo.png" style="max-width: 240px;" />
        </div>

        <ion-card color="dark">
          <ion-card-header style="padding-bottom: 8px;">
            <ion-card-title>Product Key</ion-card-title>
            <ion-card-subtitle>Enter your product key to establish an encrypted connection with your Embassy</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="ion-margin">
            <form (submit)="submit()" style="margin-bottom: 12px;">
              <ion-item-group class="ion-padding-bottom">
                <ion-item color="dark">
                  <ion-icon slot="start" name="key-outline" style="margin-right: 16px;"></ion-icon>
                  <ion-input
                    #focusInput
                    name="productKey"
                    [(ngModel)]="productKey"
                    (ionChange)="error = ''"
                    maxlength="12"
                  >
                  </ion-input>
                </ion-item>
                <div class="ion-text-left">
                  <p *ngIf="error" style="padding-top: 4px"><ion-text color="danger">{{ error }}</ion-text></p>
                </div>
              </ion-item-group>
              <ion-button type="submit" color="light" class="claim-button">
                Submit
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
