<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <pwa-back-button></pwa-back-button>
    </ion-buttons>
    <ion-title>Instructions</ion-title>
    <ion-buttons slot="end">
      <badge-menu-button></badge-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-spinner *ngIf="$loading$ | async" class="center" name="lines" color="warning"></ion-spinner>

  <ng-container *ngIf="!($loading$ | async)">

    <ion-item *ngIf="!app.instructions">
      <ion-label class="ion-text-wrap">
        <p>No instructions for {{ app.title }} {{ app.versionInstalled }}.</p>
      </ion-label>
    </ion-item>

    <div style="
      padding-left: var(--ion-padding,16px);
      padding-right: var(--ion-padding,16px);
      padding-bottom: var(--ion-padding,16px);
    " *ngIf="app.instructions" [innerHTML]="app.instructions | markdown"></div>
  </ng-container>
</ion-content>