<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/services/' + pkgId"></ion-back-button>
    </ion-buttons>
    <ion-title>Credentials</ion-title>
    <ion-buttons *ngIf="!loading" slot="end">
      <ion-button (click)="refresh()">
        <ion-icon slot="start" name="refresh"></ion-icon>
        Refresh
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top with-widgets">
  <!-- loading -->
  <skeleton-list *ngIf="loading; else loaded"></skeleton-list>

  <!-- loaded -->
  <ng-template #loaded>
    <!-- no credentials -->
    <ion-item *ngIf="credentials | empty else hasCredentials">
      <ion-label>
        <p>No credentials</p>
      </ion-label>
    </ion-item>

    <ng-template #hasCredentials>
      <ion-item-group>
        <ion-item *ngFor="let cred of credentials | keyvalue: asIsOrder">
          <ion-label>
            <h2>{{ cred.key }}</h2>
            <p class="courier-new">
              {{ unmasked[cred.key] ? cred.value : (cred.value | mask : 64) }}
            </p>
          </ion-label>
          <div slot="end">
            <ion-button fill="clear" (click)="toggleMask(cred.key)">
              <ion-icon
                slot="icon-only"
                [name]="unmasked[cred.key] ? 'eye-off-outline' : 'eye-outline'"
                size="small"
              ></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="copy(cred.value)">
              <ion-icon
                slot="icon-only"
                name="copy-outline"
                size="small"
              ></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </ion-item-group>
    </ng-template>
  </ng-template>
</ion-content>
