<tui-input
  [tuiTextfieldCustomContent]="spec.masked ? toggle : ''"
  [tuiHintContent]="spec | hint"
  [disabled]="!!spec.disabled"
  [pseudoInvalid]="invalid"
  [(ngModel)]="value"
  (focusedChange)="onFocus($event)"
>
  {{ spec.name }}
  <span *ngIf="spec.required">*</span>
  <input
    tuiTextfield
    [class.masked]="spec.masked && masked"
    [placeholder]="spec.placeholder || ''"
    [attr.minLength]="spec.minLength"
    [attr.maxLength]="spec.maxLength"
    [attr.inputmode]="spec.inputmode"
  />
</tui-input>
<ng-template #toggle>
  <button
    *ngIf="spec.generate"
    tuiIconButton
    type="button"
    appearance="icon"
    title="Generate"
    size="xs"
    class="button"
    icon="tuiIconRefreshCcw"
    (click)="generate()"
  ></button>
  <button
    tuiIconButton
    type="button"
    appearance="icon"
    title="Toggle masking"
    size="xs"
    class="button"
    [icon]="masked ? 'tuiIconEye' : 'tuiIconEyeOff'"
    (click)="masked = !masked"
  ></button>
</ng-template>
