<ng-container [ngSwitch]="spec.type">
  <form-color *ngSwitchCase="'color'"></form-color>
  <form-datetime *ngSwitchCase="'datetime'"></form-datetime>
  <form-file *ngSwitchCase="'file'"></form-file>
  <form-multiselect *ngSwitchCase="'multiselect'"></form-multiselect>
  <form-number *ngSwitchCase="'number'"></form-number>
  <form-select *ngSwitchCase="'select'"></form-select>
  <form-text *ngSwitchCase="'text'"></form-text>
  <form-textarea *ngSwitchCase="'textarea'"></form-textarea>
  <form-toggle *ngSwitchCase="'toggle'"></form-toggle>
</ng-container>
<tui-error [error]="order | tuiFieldError | async"></tui-error>
<ng-template
  *ngIf="spec.warning || immutable"
  #warning
  let-completeWith="completeWith"
>
  {{ spec.warning }}
  <p *ngIf="immutable">This value cannot be changed once set!</p>
  <div class="buttons">
    <button
      tuiButton
      type="button"
      appearance="secondary"
      size="s"
      (click)="completeWith(true)"
    >
      Rollback
    </button>
    <button
      tuiButton
      type="button"
      appearance="flat"
      size="s"
      (click)="completeWith(false)"
    >
      Accept
    </button>
  </div>
</ng-template>
