<ion-header>
  <ion-toolbar>
    <ion-title>Select Server Backup</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item-group>
    <ion-item
      *ngFor="let server of target.entry.startOs | keyvalue"
      button
      (click)="presentModalPassword(server.key, server.value)"
    >
      <ion-label>
        <h2>
          <b>Local Hostname</b>
          : {{ server.value.hostname }}.local
        </h2>
        <h2>
          <b>StartOS Version</b>
          : {{ server.value.version }}
        </h2>
        <h2>
          <b>Created</b>
          : {{ server.value.timestamp | date : 'medium' }}
        </h2>
      </ion-label>
    </ion-item>
    <ion-item
      *ngFor="let server of target.entry.startOs | keyvalue"
      button
      (click)="presentModalPassword(server.key, server.value)"
      lines="none"
    >
      <ion-label>
        <h2>
          <b>Local Hostname</b>
          : {{ server.value.hostname }}.local
        </h2>
        <h2>
          <b>StartOS Version</b>
          : {{ server.value.version }}
        </h2>
        <h2>
          <b>Created</b>
          : {{ server.value.timestamp | date : 'medium' }}
        </h2>
      </ion-label>
    </ion-item>
  </ion-item-group>
</ion-content>
