<tui-input-number
  [tuiHintContent]="spec | hint"
  [disabled]="!!spec.disabled"
  [readOnly]="readOnly"
  [tuiTextfieldPostfix]="spec.units || ''"
  [pseudoInvalid]="invalid"
  [precision]="Infinity"
  [decimal]="spec.integer ? 'never' : 'not-zero'"
  [min]="spec.min ?? -Infinity"
  [max]="spec.max ?? Infinity"
  [step]="spec.step || 0"
  [(ngModel)]="value"
  (focusedChange)="onFocus($event)"
>
  {{ spec.name }}
  <span *ngIf="spec.required">*</span>
  <input tuiTextfield [placeholder]="spec.placeholder || ''" />
</tui-input-number>
