<ion-item>
  <ion-icon
    slot="start"
    size="large"
    [name]="addressInfo.ui ? 'desktop-outline' : 'terminal-outline'"
  ></ion-icon>
  <ion-label>
    <h1>{{ addressInfo.name }}</h1>
    <h2>{{ addressInfo.description }}</h2>
  </ion-label>
</ion-item>
<div style="padding-left: 64px">
  <ion-item *ngFor="let address of addressInfo.addresses">
    <ion-label>
      <h2>{{ address | addressType }}</h2>
      <p>{{ address }}</p>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button *ngIf="addressInfo.ui" fill="clear" (click)="launch(address)">
        <ion-icon size="small" slot="icon-only" name="open-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="showQR(address)">
        <ion-icon
          size="small"
          slot="icon-only"
          name="qr-code-outline"
        ></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="copyService.copy(address)">
        <ion-icon size="small" slot="icon-only" name="copy-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</div>
