<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/services/' + pkgId"></ion-back-button>
    </ion-buttons>
    <ion-title>Interfaces</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top with-widgets">
  <ion-item-group>
    <div
      *ngFor="let interfaceInfo of (interfaceInfo$ | async)"
      style="margin-bottom: 30px"
    >
      <app-interfaces-item
        [interfaceInfo]="interfaceInfo"
      ></app-interfaces-item>
    </div>
  </ion-item-group>
</ion-content>
