<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="system"></ion-back-button>
    </ion-buttons>
    <ion-title>Experimental Features</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="with-widgets">
  <ion-item-group *ngIf="server$ | async as server">
    <ion-item button (click)="presentAlertResetTor()">
      <ion-icon slot="start" name="reload"></ion-icon>
      <ion-label>
        <h2>Reset Tor</h2>
        <p>
          Resetting the Tor daemon on your server may resolve Tor connectivity
          issues.
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="hardware-chip-outline"></ion-icon>
      <ion-label>
        <h2>Zram ({{ server.zram ? 'Enabled' : 'Disabled' }})</h2>
        <p>
          Zram creates compressed swap in memory, resulting in faster I/O for
          low RAM devices.
        </p>
      </ion-label>
      <ion-button
        slot="end"
        strong
        [color]="server.zram ? 'dark' : 'primary'"
        (click)="presentAlertZram(server.zram)"
      >
        {{ server.zram ? 'Disable' : 'Enable' }}
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="speedometer-outline"></ion-icon>
      <ion-label>
        <h2>
          Performance Mode ({{ server.performance ? 'Enabled' : 'Disabled' }})
        </h2>
        <p>Performance mode speeds up CPU operations.</p>
      </ion-label>
      <ion-button
        slot="end"
        strong
        [color]="server.performance ? 'dark' : 'primary'"
        (click)="presentAlertPerformance(server.performance)"
      >
        {{ server.performance ? 'Disable' : 'Enable' }}
      </ion-button>
    </ion-item>
  </ion-item-group>
</ion-content>
