<ion-header>
  <ion-toolbar>
    <ion-title>{{ patch.watch$('ui', 'server-name') | ngrxPush }}</ion-title>
    <ion-buttons slot="end">
      <badge-menu-button></badge-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top ion-padding-bottom">

  <ion-item-divider>Backups</ion-item-divider>

  <ion-item [routerLink]="['backup']">
    <ion-icon slot="start" name="save-outline"></ion-icon>
    <ion-label>Create Backup</ion-label>
  </ion-item>
  
  <ion-item-divider>Insights</ion-item-divider>
  
  <ion-item-group>
    <ion-item [routerLink]="['specs']">
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-item>

    <ion-item [routerLink]="['metrics']">
      <ion-icon slot="start" name="pulse"></ion-icon>
      <ion-label>Monitor</ion-label>
    </ion-item>

    <ion-item [routerLink]="['logs']">
      <ion-icon slot="start" name="newspaper-outline"></ion-icon>
      <ion-label>Logs</ion-label>
    </ion-item>

    <ion-item-divider>Settings</ion-item-divider>

    <ion-item lines="none" [routerLink]="['settings']">
      <ion-icon slot="start" name="cog-outline"></ion-icon>
      <ion-label>General</ion-label>
    </ion-item>

    <ion-item [routerLink]="['lan']">
      <ion-icon slot="start" name="home-outline"></ion-icon>
      <ion-label>LAN</ion-label>
    </ion-item>

    <ion-item [routerLink]="['wifi']">
      <ion-icon slot="start" name="wifi"></ion-icon>
      <ion-label>WiFi</ion-label>
    </ion-item>

    <ion-item lines="none" [routerLink]="['developer']">
      <ion-icon slot="start" name="terminal-outline"></ion-icon>
      <ion-label>Developer Options</ion-label>
    </ion-item>

    <ion-item-divider>Power</ion-item-divider>

    <ion-item button (click)="presentAlertRestart()">
      <ion-icon slot="start" name="reload-outline"></ion-icon>
      <ion-label>Restart</ion-label>
    </ion-item>

    <ion-item button lines="none" (click)="presentAlertShutdown()">
      <ion-icon slot="start" name="power"></ion-icon>
      <ion-label>Shutdown</ion-label>
    </ion-item>
  </ion-item-group>
</ion-content>