ion-item {
  --background: transparent;
}

.host {
  display: flex;
}

.delete {
  background: var(--tui-error-bg);
  color: var(--tui-error-fill);

  &:focus {
    background: var(--tui-error-bg-hover);
  }
}
