<ng-template
  [tuiDialog]="show$ | async"
  [tuiDialogOptions]="{ label: 'Refresh Needed', size: 's' }"
  (tuiDialogChange)="onDismiss()"
>
  Your user interface is cached and out of date. Hard refresh the page to get
  the latest UI.
  <ul>
    <li>
      <b>On Mac</b>
      : cmd + shift + R
    </li>
    <li>
      <b>On Linux/Windows</b>
      : ctrl + shift + R
    </li>
  </ul>
  <button
    tuiButton
    tuiAutoFocus
    appearance="secondary"
    style="float: right"
    (click)="onDismiss()"
  >
    Ok
  </button>
</ng-template>
