<ion-item *ngIf="iFace">
  <ion-icon
    slot="start"
    size="large"
    [name]="
      iFace.type === 'ui'
        ? 'desktop-outline'
        : iFace.type === 'api'
        ? 'terminal-outline'
        : 'people-outline'
    "
  ></ion-icon>
  <ion-label>
    <h1>{{ iFace.name }}</h1>
    <h2>{{ iFace.description }}</h2>
    <ion-button style="margin-right: 8px" (click)="presentDomainForm()">
      Add Domain
    </ion-button>
    <ion-button
      [color]="iFace.public ? 'danger' : 'success'"
      (click)="togglePublic()"
    >
      Make {{ iFace.public ? 'Private' : 'Public' }}
    </ion-button>
  </ion-label>
</ion-item>
<div *ngIf="iFace" style="padding-left: 64px">
  <ion-item *ngFor="let address of iFace.addresses">
    <ion-label>
      <h2>{{ address.name }}</h2>
      <p>{{ address.url }}</p>
      <ion-button
        *ngIf="address.isDomain"
        color="danger"
        (click)="removeDomain(address.url)"
      >
        Remove
      </ion-button>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button *ngIf="address.isDomain" (click)="showAcme(address.acme)">
        <ion-icon name="finger-print"></ion-icon>
      </ion-button>
      <ion-button *ngIf="iFace.type === 'ui'" (click)="launch(address.url)">
        <ion-icon name="open-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="showQR(address.url)">
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="copy(address.url)">
        <ion-icon name="copy-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</div>
