.beneath-title {
  font-size: 12px;
  font-style: italic;
  font-family: 'Open Sans';
  padding: 1px 0px 1.5px 0px;
}

.instructions-card {
  --background: linear-gradient(45deg, #101010 16%, var(--ion-color-medium) 150%);
  margin: 16px 10px;
}

.available-card {
  --background: linear-gradient(45deg, #101010 16%, var(--ion-color-danger) 150%);
  margin: 16px 10px;
}