<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <pwa-back-button></pwa-back-button>
    </ion-buttons>
    <ion-title>Service Details</ion-title>
    <ion-buttons slot="end">
      <badge-menu-button></badge-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-bottom">

  <ion-item *ngIf="error" style="margin-bottom: 16px;">
    <ion-text class="ion-text-wrap" color="danger">{{ error }}</ion-text>
  </ion-item>

  <ng-container *ngrxLet="connectionService.monitor$() as connection">
    <ng-container *ngIf="pkg | manifest as manifest">
      <ng-container *ngIf="pkg | status : connection as status">
        <div class="top-plate">
          <ion-item class="no-cushion-item" lines="none">
            <ion-label class="ion-text-wrap" style="
              display: grid;
              grid-template-columns: 80px auto;
              margin: 0px;
              margin-top: 15px;"
            >
              <ion-avatar style="justify-self: center; height: 55px; width: 55px" slot="start">
                <img [src]="pkg['static-files'].icon" />
              </ion-avatar>
              <div style="display: flex; flex-direction: column;">
                <ion-text style="font-family: 'Montserrat'; font-size: x-large; line-height: normal;" [class.less-large]="manifest.title.length > 20">
                  {{ manifest.title }}
                </ion-text>
                <ion-text style="margin-top: -5px; margin-left: 2px;">
                  {{ manifest.version | displayEmver }}
                </ion-text>
              </div>
            </ion-label>
          </ion-item>
      
          <ion-item class="no-cushion-item" lines=none style="margin-bottom: 10px;">
            <ion-label class="status-readout">
              <status size="bold-large" [pkg]="pkg" [connection]="connection"></status>
              <ion-button *ngIf="status === FeStatus.NeedsConfig" expand="block" fill="outline" [routerLink]="['config']">
                Configure
              </ion-button>
              <ion-button *ngIf="status === FeStatus.Running" expand="block" fill="outline" color="danger" (click)="stop()">
                Stop
              </ion-button>
              <ion-button *ngIf="status === FeStatus.DependencyIssue" expand="block" fill="outline" (click)="scrollToRequirements()">
                Fix
              </ion-button>
              <ion-button *ngIf="status === FeStatus.Stopped" expand="block" fill="outline" color="success" (click)="tryStart()">
                Start
              </ion-button>
            </ion-label>
          </ion-item>
      
          <ion-button size="small" *ngIf="pkg | hasUi" [disabled]="!(pkg | isLaunchable)" class="launch-button" expand="block" (click)="launchUiTab()">
            Launch Web Interface
            <ion-icon slot="end" name="rocket-outline"></ion-icon>
          </ion-button>
      
        </div>
      
        <ng-container *ngIf="!([FeStatus.Installing, FeStatus.Updating, FeStatus.Removing] | includes : status)">
          <ion-item-group class="ion-padding-bottom">
            <!-- interfaces -->
            <ion-item [routerLink]="['interfaces']">
              <ion-icon slot="start" name="aperture-outline" color="primary"></ion-icon>
              <ion-label><ion-text color="primary">Interfaces</ion-text></ion-label>
            </ion-item>
            <!-- instructions -->
            <ion-item [routerLink]="['instructions']">
              <ion-icon slot="start" name="list-outline" color="primary"></ion-icon>
              <ion-label><ion-text color="primary">Instructions</ion-text></ion-label>
            </ion-item>
            <!-- config -->
            <ion-item [disabled]="[FeStatus.Installing, FeStatus.Updating, FeStatus.Removing, FeStatus.BackingUp, FeStatus.Restoring] | includes : status" [routerLink]="['config']">
              <ion-icon slot="start" name="construct-outline" color="primary"></ion-icon>
              <ion-label><ion-text color="primary">Config</ion-text></ion-label>
            </ion-item>
            <!-- properties -->
            <ion-item [routerLink]="['properties']">
              <ion-icon slot="start" name="information-circle-outline" color="primary"></ion-icon>
              <ion-label><ion-text color="primary">Properties</ion-text></ion-label>
            </ion-item>
            <!-- actions -->
            <ion-item [routerLink]="['actions']">
              <ion-icon slot="start" name="flash-outline" color="primary"></ion-icon>
              <ion-label><ion-text color="primary">Actions</ion-text></ion-label>
            </ion-item>
            <!-- logs -->
            <ion-item [routerLink]="['logs']">
              <ion-icon slot="start" name="newspaper-outline" color="primary"></ion-icon>
              <ion-label><ion-text color="primary">Logs</ion-text></ion-label>
            </ion-item>
            <!-- restore -->
            <ion-item button [disabled]="[FeStatus.Connecting, FeStatus.Installing, FeStatus.Updating, FeStatus.Stopping, FeStatus.Removing, FeStatus.BackingUp, FeStatus.Restoring] | includes : status" [routerLink]="['restore']">
              <ion-icon slot="start" name="color-wand-outline" color="primary"></ion-icon>
              <ion-label><ion-text color="primary">Restore from Backup</ion-text></ion-label>
            </ion-item>
            <!-- donate -->
            <ion-item button (click)="donate(manifest)">
              <ion-icon slot="start" name="shapes-outline" color="primary"></ion-icon>
              <ion-label><ion-text color="primary">Donate</ion-text></ion-label>
            </ion-item>
            <!-- marketplace -->
            <ion-item [routerLink]="['/services', 'marketplace', manifest.id]">
              <ion-icon slot="start" name="storefront-outline" color="primary"></ion-icon>
              <ion-label><ion-text color="primary">Marketplace Listing</ion-text></ion-label>
            </ion-item>
      
            <!-- dependencies -->
            <ng-container *ngIf="!(manifest.dependencies | empty)">
              <ion-item-divider id="dependencies">
                Dependencies
                <ion-button style="position: relative; right: 10px;" size="small" fill="clear" color="medium"  (click)="presentPopover(depDefinition, $event)">
                  <ion-icon name="help-circle-outline"></ion-icon>
                </ion-button>
              </ion-item-divider>

              <div *ngFor="let dep of pkg.installed['current-dependencies'] | keyvalue">
                <ion-item *ngrxLet="patch.watch$('package-data', dep.key) as localDep" class="dependency-item" lines="none">
                  <ion-avatar slot="start" style="position: relative; height: 5vh; width: 5vh; margin: 0px;">
                    <div class="dep-badge" [class]="pkg.installed.status['dependency-errors'][dep.key] ? 'dep-issue' : 'dep-sat'"></div>
                    <img [src]="localDep ? localDep['static-files'].icon : pkg.installed.status['dependency-errors'][dep.key]?.icon" />
                  </ion-avatar>
                  <ion-label class="ion-text-wrap" style="padding: 1vh; padding-left: 2vh">
                    <h4 style="font-family: 'Montserrat'">{{ localDep ? (localDep | manifest).title : pkg.installed.status['dependency-errors'][dep.key]?.title }}</h4>
                    <p style="font-size: small">{{ manifest.dependencies[dep.key].version | displayEmver }}</p>
                    <p style="padding-top: 2px; position: relative; font-style: italic; font-size: smaller"><ion-text [color]="pkg.installed.status['dependency-errors'][dep.key] ? 'warning' : 'success'">{{ pkg.installed.status['dependency-errors'][dep.key] ? pkg.installed.status['dependency-errors'][dep.key].type : 'satisfied' }}</ion-text></p>
                  </ion-label>

                  <ion-button *ngIf="!pkg.installed.status['dependency-errors'][dep.key] || (pkg.installed.status['dependency-errors'][dep.key] && [DependencyErrorType.InterfaceHealthChecksFailed, DependencyErrorType.HealthChecksFailed] | includes : pkg.installed.status['dependency-errors'][dep.key].type)" slot="end" size="small" [routerLink]="['/services', 'installed', dep.key]" color="primary" fill="outline" style="font-size: x-small">
                    View
                  </ion-button>

                  <ng-container *ngIf="pkg.installed.status['dependency-errors'][dep.key]">
                    <ion-button *ngIf="!localDep" slot="end" size="small" (click)="fixDep('install', dep.key)" color="primary" fill="outline" style="font-size: x-small">
                      Install
                    </ion-button>

                    <ng-container *ngIf="localDep && localDep.state === PackageState.Installed">
                      <ion-button *ngIf="pkg.installed.status['dependency-errors'][dep.key].type === DependencyErrorType.NotRunning" slot="end" size="small" [routerLink]="['/services', 'installed', dep.key]" color="primary" fill="outline" style="font-size: x-small">
                        Start
                      </ion-button>
                      <ion-button *ngIf="pkg.installed.status['dependency-errors'][dep.key].type === DependencyErrorType.IncorrectVersion" slot="end" size="small" (click)="fixDep('update', dep.key)" color="primary" fill="outline" style="font-size: x-small">
                        Update
                      </ion-button>
                      <ion-button *ngIf="pkg.installed.status['dependency-errors'][dep.key].type === DependencyErrorType.ConfigUnsatisfied" slot="end" size="small" (click)="fixDep('configure', dep.key)" color="primary" fill="outline" style="font-size: x-small">
                        Configure
                      </ion-button>
                    </ng-container>

                    <div *ngIf="localDep && localDep.state !== PackageState.Installed" slot="end" class="spinner">
                      <ion-spinner [color]="localDep.state === PackageState.Removing ? 'danger' : 'primary'" style="height: 3vh; width: 3vh" name="dots"></ion-spinner>
                    </div>

                  </ng-container>            
                </ion-item>
              </div>
            </ng-container>
      
            <ion-item-divider></ion-item-divider>
      
            <ng-container *ngIf="!([FeStatus.Installing, FeStatus.Updating, FeStatus.BackingUp, FeStatus.Restoring] | includes : status)">
              <!-- uninstall -->
              <ion-item button (click)="uninstall()">
                <ion-icon slot="start" name="trash-outline" color="danger"></ion-icon>
                <ion-label><ion-text color="danger">Uninstall</ion-text></ion-label>
              </ion-item>
            </ng-container>
          </ion-item-group>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ion-content>
