.full-width {
  margin: 10px;
}

.about-attribute {
  font-size: small;
}

.about-attribute-value {
  font-size: small;
}

.less-large {
  font-size: 20px !important;
}

.top-plate {
  background: var(--ion-item-background);
  margin: 20px 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: #373737;
}

.status-readout {
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  border-radius: 10px;
  align-items: center;
  background: var(--ion-background-color);
  margin: 10px 10px 0px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #404040;
}

.no-cushion-item {
  --background: transparent; --padding-start: 0px; --inner-padding-end: 0px; --padding-end: 0px;
}

.launch-button {
  width: 100%; 
  padding: 0px 10px;
  --background: linear-gradient(200deg, rgb(70 193 255), rgb(70 193 255 / 45%));
  width: calc(100% - 32px);
  border-radius: 8px;
  --border-radius: 8px;
}

.launch-button-off {
  --background: #383838;
  color: var(--ion-color-medium)
}

.launch-explanation-button {
  position: absolute;
  z-index: 1;
  right: -2px;
  --border-radius: 100px;
}

.lan-toggle {
  width: 2em;
  height: 1em;
  --handle-width: 0.9em;
  --handle-height: 0.9em;
  margin-right: 10px;
}
