.full-width {
  margin: 10px;
}

.about-attribute {
  font-size: small;
}

.about-attribute-value {
  font-size: small;
}

.less-large {
  font-size: 20px !important;
}

.top-plate {
  background: var(--ion-item-background);
  margin: 20px 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: #373737;
}

.status-readout {
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  border-radius: 10px;
  align-items: center;
  background: var(--ion-background-color);
  margin: 10px 10px 0px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #404040;
}

.no-cushion-item {
  --background: transparent; --padding-start: 0px; --inner-padding-end: 0px; --padding-end: 0px;
}

.launch-button {
  --background: rgb(70 193 255 / 75%);
  --background-hover: rgb(70 193 255);
  --background-hover-opacity: 100%;
  --border-style: none;
  --color: white;
  --border-radius: 10px;
  margin: 12px 10px;
}
