.password-input {
  color: var(--ion-color-dark);
  margin-bottom: 6px;
  font-size: medium;
  font-weight: 500;
  * {
    display: inline-block;
    vertical-align: middle;
  }
}

.error-border {
  border: 2px solid var(--ion-color-danger);
}

.success-border {
  border: 2px solid var(--ion-color-success);
}

ion-input {
  font-weight: 500;
  --placeholder-font-weight: 400;
  width: 100%;
  background: var(--ion-color-dark);
  border-radius: 3px;
}