<ion-header>
  <ion-toolbar>
    <ion-title>
      Setup Wizard
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="needsVer">
    <h2>Enter Password</h2>
    <ion-input type="password" [(ngModel)]="password">Password:</ion-input>
  </div>

  <div *ngIf="!needsVer">
    <h2>Create Password</h2>
    <ion-input type="password" [(ngModel)]="password">Password:</ion-input>
    <ion-input type="password" [(ngModel)]="passwordVer">Verify Password:</ion-input>
  </div>
  <p>{{error}}</p>
  <ion-button (click)="cancel()">Cancel</ion-button>
  <ion-button (click)="submitPassword()" [disabled]="!password">Submit</ion-button>
</ion-content>
