<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      <span *ngIf="!!recoveryDrive">Unlock Drive</span>
      <span *ngIf="!recoveryDrive">Set Password</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <form (ngSubmit)="!!recoveryDrive ? verifyPw() : submitPw()">
    <div style="padding: 8px 24px;">
      <p *ngIf="!!embassyDrive">Choose a password for your embassy.  You will need it every time you log in.  If you lose it you will be permanently locked out of your embassy.</p>
      <p *ngIf="embassyDrive && getUsage(embassyDrive) > 0" style="padding-bottom: 15px;color: var(--ion-color-warning);"><b>Warning:</b> After submit, any data currently stored on <b>{{ getLabelLabel(embassyDrive) }}</b> will be wiped.</p>
      
      <h4 class="input-label">
        Password:
      </h4>

      <ion-item
        color="dark"
        [class]="pwError ? 'error-border' : password && !recoveryDrive ? 'success-border' : ''"
      >
        <ion-input
          [(ngModel)]="password"
          [ngModelOptions]="{'standalone': true}"
          [type]="!unmasked1 ? 'password' : 'text'"
          placeholder="Enter Password"
          debounce="500"
          (ionChange)="validate()"
          maxlength="64"
        ></ion-input>
        <ion-button fill="clear" color="light" (click)="unmasked1 = !unmasked1">
          <ion-icon slot="icon-only" [name]="unmasked1 ? 'eye-off-outline' : 'eye-outline'" size="small"></ion-icon>
        </ion-button>
      </ion-item>
      <p style="color: var(--ion-color-danger);">{{pwError}}</p>
      <ng-container *ngIf="!recoveryDrive">
        <h4 class="input-label">
          Verify Password:
        </h4>

        <ion-item color="dark" [class]="verError ? 'error-border' : passwordVer ? 'success-border' : ''">
          <ion-input
            [(ngModel)]="passwordVer"
            [ngModelOptions]="{'standalone': true}"
            [type]="!unmasked2 ? 'password' : 'text'"
            debounce="500"
            (ionChange)="checkVer()"
            maxlength="64"
            placeholder="Retype Password"
          ></ion-input>
          <ion-button fill="clear" color="light" (click)="unmasked2 = !unmasked2">
            <ion-icon slot="icon-only" [name]="unmasked2 ? 'eye-off-outline' : 'eye-outline'" size="small"></ion-icon>
          </ion-button>
        </ion-item>
        <p style="color: var(--ion-color-danger);">{{ verError }}</p>
      </ng-container>
    </div>
    <input type="submit" style="display: none" />
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-buttons slot="end" class="ion-padding-end">
      <ion-button color="dark" class="claim-button" (click)="cancel()">
        Cancel
      </ion-button>
      <ion-button color="dark" class="claim-button" (click)="!!recoveryDrive ? verifyPw() : submitPw()">
        {{ !!recoveryDrive ? 'Unlock' : 'Submit' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

