<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      <span *ngIf="verify">Verify Recovery Drive Password</span>
      <span *ngIf="!verify">Set Password</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div style="padding: 8px 24px;">
    <ng-container *ngIf="verify">
      <p style="padding: 3px 0">Password:</p>
      <ion-input (click)="error = ''" color="light"  type="password" [(ngModel)]="password"  placeholder="*********"></ion-input>
    </ng-container>

    <div *ngIf="!verify">
      <p *ngIf="embassyDrive.used > 0" style="padding-bottom: 15px;color: var(--ion-color-warning);"><b>Warning:</b> After submit, any data currently stored on <b>{{ embassyDrive.labels.length ? embassyDrive.labels.join(' / ') : embassyDrive.logicalname }}</b> will be wiped.</p>
      <p style="padding: 3px 0">Password:</p>
      <ion-input 
        (click)="error = ''"
        color="light"
        (focusout)="validate()"
        (keyup)="error = ''"
        type="password"
        [(ngModel)]="password"
        placeholder="*********"
      ></ion-input>
      
      <p style="padding: 3px 0">Verify Password:</p>
      <ion-input
        (focusout)="validate()"
        color="light"
        (keyup)="error = ''"
        type="password"
        [(ngModel)]="passwordVer"
        placeholder="*********"
      ></ion-input>
    </div>
    <p style="color: #FF4961;">{{error}}</p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-buttons slot="end" class="ion-padding-end">
      <ion-button class="claim-button" (click)="cancel()">
        Cancel
      </ion-button>
      <ion-button class="claim-button" (click)="verify ? verifyPw() : submitPw()">
        {{ verify ? 'Verify Password' : 'Submit' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

