.icon {
  padding-right: 4px;
}

img {
  position: relative;
  z-index: 10;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.dep-details {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1.2rem;
}

ion-label h2 {
  display: flex;
  align-items: center;
}