<marketplace-sidebar></marketplace-sidebar>

<div
  class="background sm:pl-[34vw] md:pl-[28vw] lg:pl-[22vw] 2xl:pl-[280px] min-h-screen flex flex-col justify-between overflow-auto scroll-smooth"
>
  <main class="pt-20 sm:pt-3 md:pb-10 md:px-8 scroll-smooth">
    <ng-container *ngIf="details$ | async as details">
      <tui-notification
        *ngIf="details.url === marketplace.start9"
        status="success"
        icon=""
        class="m-4"
      >
        <p>
          Services from this registry are packaged and maintained by the Start9
          team. If you experience an issue or have questions related to a
          service from this registry, one of our dedicated support staff will be
          happy to assist you.
        </p>
      </tui-notification>
      <tui-notification
        *ngIf="details.url === marketplace.community"
        status="info"
        icon=""
        class="m-4"
      >
        <p>
          Services from this registry are packaged and maintained by members of
          the Start9 community.
          <strong>Install at your own risk</strong>
          . If you experience an issue or have a question related to a service
          in this marketplace, please reach out to the package developer for
          assistance.
        </p>
      </tui-notification>
      <tui-notification
        *ngIf="details.url.includes('beta')"
        status="warning"
        icon=""
        class="m-4"
      >
        <p>
          Services from this registry are undergoing
          <strong>beta</strong>
          testing and may contain bugs.
          <strong>Install at your own risk</strong>
          .
        </p>
      </tui-notification>
      <tui-notification
        *ngIf="details.url.includes('alpha')"
        status="error"
        icon=""
        class="m-4"
      >
        <p>
          Services from this registry are undergoing
          <strong>alpha</strong>
          testing. They are expected to contain bugs and could damage your
          system.
          <strong>Install at your own risk</strong>
          .
        </p>
      </tui-notification>
      <tui-notification
        *ngIf="details.url !== marketplace.community && details.url !== marketplace.start9 && !details.url.includes('beta') && !details.url.includes('alpha')"
        status="warning"
        icon=""
        class="m-4"
      >
        <p>
          This is a Custom Registry. Start9 cannot verify the integrity or
          functionality of services from this registry, and they could damage
          your system.
          <strong>Install at your own risk</strong>
          .
        </p>
      </tui-notification>
    </ng-container>
    <div class="mt-8 px-6 mb-10">
      <h1 class="text-4xl sm:text-5xl font-bold text-zinc-50/80 pb-6">
        {{ category$ | async | titlecase }}
      </h1>
    </div>
    <ng-container *ngIf="store$ | async as store; else loading">
      <section
        class="mt-10"
        *ngIf="
          store.packages | filterPackages : (query$ | async) : (category$ | async) as filtered
        "
      >
        <ul
          class="px-6 md:px-8 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-16"
          [@itemAnimation]="filtered.length"
        >
          <li *ngFor="let pkg of filtered">
            <marketplace-item [pkg]="pkg"></marketplace-item>
          </li>
        </ul>
      </section>
    </ng-container>
    <ng-template #loading>
      <h1 class="text-xl pl-6">Loading...</h1>
    </ng-template>
  </main>
</div>
