<marketplace-header></marketplace-header>
<div
  class="sm:pl-[34vw] md:pl-[28vw] lg:pl-[22vw] 2xl:pl-[280px] min-h-screen flex flex-col justify-between overflow-auto scroll-smooth"
>
  <main
    class="pt-20 sm:pt-3 md:pb-10 md:px-8 scroll-smooth"
    *ngIf="store$ | async as store; else loading"
  >
    <div class="mt-8 px-6 mb-10">
      <h1 class="text-4xl sm:text-5xl font-bold text-zinc-50/80 pb-6">
        {{ category$ | async | titlecase }}
      </h1>
    </div>
    <section
      class="mt-10"
      *ngIf="
        store.packages | filterPackages : (query$ | async) : (category$ | async) as filtered
      "
    >
      <ul
        *ngIf="filtered.length; else categoryEmpty"
        class="px-6 md:px-8 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-16"
        [@itemAnimation]="filtered.length"
      >
        <li *ngFor="let pkg of filtered">
          <marketplace-item [pkg]="pkg"></marketplace-item>
        </li>
      </ul>
      <ng-template #categoryEmpty>
        <p class="px-6">No services in this category</p>
      </ng-template>
    </section>
  </main>
  <ng-template #loading>
    <marketplace-skeleton></marketplace-skeleton>
  </ng-template>
</div>
<!-- 
  <ng-container *ngIf="details$ | async as details">
    <ion-item [color]="details.color">
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label>
        <h2 style="font-weight: 600" [innerHTML]="details.description"></h2>
      </ion-label>
    </ion-item>
  </ng-container> -->
