<p
  [style.color]="
    (connected$ | async) ? 'var(--ion-color-' + rendering.color + ')' : 'gray'
  "
  [style.font-size]="size"
  [style.font-style]="style"
  [style.font-weight]="weight"
>
  {{ (connected$ | async) ? rendering.display : 'Unknown' }}

  <span *ngIf="sigtermTimeout && (sigtermTimeout | durationToSeconds) > 30">
    . This may take a while
  </span>

  <span *ngIf="installingInfo">
    <ion-text color="primary">
      {{ installingInfo.progress.overall | installingProgressString }}
    </ion-text>
  </span>

  <span *ngIf="rendering.showDots" class="loading-dots"></span>
</p>
