<ion-header>
  <ion-toolbar>
    <ion-title>LAN Settings</ion-title>
    <ion-buttons slot="start">
      <pwa-back-button></pwa-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item-group>
    <!-- about -->
    <ion-item>
      <ion-label class="ion-text-wrap">
        <p class="ion-padding-bottom">About</p>
        <h2>You can connect to your Embassy over your Local Area Network (LAN). This can be useful for achieving a faster experience, as well as a fallback in case the Tor network is experiencing issues.</h2>
      </ion-label>
    </ion-item>
    <ion-item [href]="docsUrl" target="_blank" detail="false">
      <ion-icon slot="start" name="list-outline"></ion-icon>
      <ion-label>View Instructions</ion-label>
    </ion-item>

    <ng-container *ngIf="lanDisabled">
      <ion-item-divider></ion-item-divider>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <p class="ion-padding-bottom">Setup</p>
          <ion-text color="warning" [innerHtml]="lanDisabledExplanation[lanDisabled]"></ion-text>
        </ion-label>
      </ion-item>
    </ng-container>

    <!-- Refresh Network -->
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <p style="padding-bottom: 6px;">Troubleshooting</p>
        <h2>If you are having issues connecting to your Embassy over LAN, try refreshing the network by clicking the button below.</h2>
      </ion-label>
    </ion-item>
    <ion-item button (click)="refreshLAN()" detail="false">
      <ion-icon slot="start" name="refresh-outline"></ion-icon>
      <ion-label>Refresh Network</ion-label>
    </ion-item>

    <ion-item-divider></ion-item-divider>

    <!-- Certificate and Lan Address -->
    <ng-container *ngIf="!lanDisabled">
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h2>Root Certificate Authority</h2>
          <p>Embassy Local CA</p>
        </ion-label>
        <ion-button slot="end" fill="clear" (click)="installCert()">
          <ion-icon slot="icon-only" name="download-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label class="ion-text-wrap">
          <h2>LAN Address</h2>
          <p>{{ lanAddress }}</p>
        </ion-label>
        <ion-button slot="end" fill="clear" (click)="copyLAN()">
          <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ng-container>
  </ion-item-group>

  <!-- hidden element for downloading cert -->
  <a id="install-cert" href="/public/local.crt" download="Embassy Local CA.crt"></a>

</ion-content>