<ion-header>
  <ion-toolbar>
    <ion-title>LAN Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="embassy"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item-group>
    <!-- about -->
    <ion-item class="ion-padding-bottom">
      <ion-label>
        <h2>
          Connecting to your Embassy over LAN provides a lightning fast experience and is a reliable fallback in case Tor is having problems. To connect to your Embassy's .local address, you must:
          <ol>
            <li>Be connected to the same Local Area Network (LAN) as your Embassy.</li>
            <li>Download and trust your Embassy's SSL Certificate Authority (below).</li>
          </ol>
          View the full <a href="https://docs.start9.com/user-manual/general/lan-setup" target="_blank" rel="noreferrer">instructions</a>.
        </h2>
        <ng-container *ngIf="lanDisabled">
          <br />
          <ion-text color="warning" [innerHtml]="lanDisabled"></ion-text>
        </ng-container>
      </ion-label>
    </ion-item>

    <ion-item button (click)="installCert()" [disabled]="lanDisabled">
      <ion-icon slot="start" name="download-outline" size="large"></ion-icon>
      <ion-label>
        <h1>Download Root CA</h1>
        <p>Download and trust your Embassy's Root Certificate Authority to establish a secure, https connection over LAN.</p>
      </ion-label>
    </ion-item>
  </ion-item-group>

  <!-- hidden element for downloading cert -->
  <a id="install-cert" href="/public/eos/local.crt" download="Embassy Local CA.crt"></a>

</ion-content>