<ion-content>
  <ion-grid style="height: 100%; max-width: 540px">
    <ion-row class="ion-align-items-center" style="height: 90%">
      <ion-col class="ion-text-center">
        <div style="padding-bottom: 16px">
          <img src="assets/img/logo.png" style="max-width: 240px" />
        </div>

        <ion-card>
          <ion-card-header class="ion-text-center" style="padding-bottom: 8px">
            <ion-card-title>Embassy Login</ion-card-title>
          </ion-card-header>

          <ion-card-content class="ion-margin ion-text-center">
            <form
              class="inline"
              (submit)="submit()"
              style="margin-bottom: 12px"
            >
              <ion-item-group>
                <ion-item color="dark">
                  <ion-icon
                    slot="start"
                    name="key-outline"
                    style="margin-right: 16px"
                  ></ion-icon>
                  <ion-input
                    [type]="unmasked ? 'text' : 'password'"
                    name="password"
                    [(ngModel)]="password"
                    (ionChange)="error = ''"
                    placeholder="Password"
                  ></ion-input>
                  <ion-button fill="clear" color="light" (click)="toggleMask()">
                    <ion-icon
                      slot="icon-only"
                      [name]="unmasked ? 'eye-off-outline' : 'eye-outline'"
                      size="small"
                    ></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-item-group>
              <ion-button
                class="login-button"
                type="submit"
                expand="block"
                color="tertiary"
              >
                <span style="font-size: larger; font-weight: bold">Login</span>
              </ion-button>
              <p style="text-align: left; padding-top: 4px">
                <ion-text color="danger">{{ error }}</ion-text>
              </p>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
