<ion-content class="content">
  <ion-grid class="grid">
    <ion-row class="row">
      <ion-col>
        <img src="assets/img/logo.png" alt="Start9" class="logo" />

        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="title">Embassy Login</ion-card-title>
          </ion-card-header>

          <ion-card-content class="ion-margin">
            <form class="form" (submit)="submit()">
              <ion-item-group>
                <ion-item color="dark">
                  <ion-icon
                    slot="start"
                    name="key-outline"
                    style="margin-right: 16px"
                  ></ion-icon>
                  <ion-input
                    name="password"
                    placeholder="Password"
                    [type]="unmasked ? 'text' : 'password'"
                    [(ngModel)]="password"
                    (ionChange)="error = ''"
                  ></ion-input>
                  <ion-button fill="clear" color="light" (click)="toggleMask()">
                    <ion-icon
                      slot="icon-only"
                      size="small"
                      [name]="unmasked ? 'eye-off-outline' : 'eye-outline'"
                    ></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-item-group>
              <ion-button
                class="login-button"
                type="submit"
                expand="block"
                color="tertiary"
              >
                Login
              </ion-button>
            </form>
            <p class="error">
              <ion-text color="danger">{{ error }}</ion-text>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
