.content {
  --background: #222428;
}

.card {
  background: #414141;
}

.title {
  margin: 24px 0 16px;
  color: #e0e0e0;
  font-size: 1.8rem;
}

.grid {
  height: 100%;
  max-width: 540px;
}

.row {
  height: 100%;
  align-items: center;
  text-align: center;
}

.error {
  display: block;
  text-align: left;
  padding-top: 4px;
}

.banner {
  position: absolute;
  padding: 20px;
  width: 100%;
  display: inline-block;

  ion-item {
    max-width: 800px;
    margin: auto;
  }
}

.side-button {
  --border-radius: 0 4px 4px 0;
}

.login-item {
  --border-style: solid;
  --border-color: var(--ion-color-light);
  --border-radius: 4px 0 0 4px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);

  .side-button {
    --border-radius: 4px;
  }
}

ion-card {
  background: var(--ion-color-step-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 44px;
  min-height: 16rem;
}

.login-button {
  margin-inline-start: 0;
  margin-inline-end: 0;
  height: 49px;
  font-size: larger;
  font-weight: bold;
}

.form {
  margin-bottom: 12px;

  * {
    display: inline-block;
    vertical-align: middle;
  }
}

.item-interactive {
  --highlight-background: #5260ff !important;
}


@media (max-width: 500px) {
  .side-button {
    --border-radius: 4px;
    margin-top: 0.7rem;
  }

  .login-item {
    --border-radius: 4px;
  }
}
