.title {
  margin: 24px 0 16px;
  text-transform: uppercase;
}

.grid {
  height: 100%;
  max-width: 540px;
}

.row {
  height: 90%;
  align-items: center;
  text-align: center;
}

.logo {
  max-width: 240px;
  padding-bottom: 16px;
}

.error {
  display: block;
  text-align: left;
  padding-top: 4px;
}

ion-button {
  --border-radius: 0 4px 4px 0;
}

ion-item {
  --border-style: solid;
  --border-color: var(--ion-color-light);
  --border-radius: 4px 0 0 4px;

  ion-button {
    --border-radius: 4px;
  }
}

ion-card {
  background: var(--ion-color-step-200);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 44px;
  min-height: 16rem;
}

.login-button {
  margin-inline-start: 0;
  margin-inline-end: 0;
  height: 49px;
  font-size: larger;
  font-weight: bold;
}

.form {
  margin-bottom: 12px;

  * {
    display: inline-block;
    vertical-align: middle;
  }
}

.item-interactive {
  --highlight-background: var(--ion-color-tertiary) !important;
}
