.content {
  --background: #333333;
}

.grid {
  height: 100%;
  max-width: 540px;
}

.row {
  height: 100%;
  align-items: center;
  text-align: center;
}

.banner {
  position: absolute;
  padding: 20px;
  width: 100%;
  display: inline-block;

  ion-item {
    max-width: 800px;
    margin: auto;
  }
}

ion-card {
  background: #414141;
  box-shadow: 0 4px 4px rgba(17, 17, 17, 0.144);
  border-radius: 35px;
  min-height: 16rem;
  contain: unset;
  overflow: unset;
  position: relative;
}

ion-item {
  --background: transparent;
  --border-radius: 0px;
}
  
.title {
  // margin: 16px;
  padding-top: 55px;
  color: #e0e0e0;
  font-size: 1.8rem;
}

.header {
  &-logo {
    max-width: 30%;
  }
  
  &-icon {
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: -17%;
    z-index: 100;
  }
}

.login-button {
  height: 45px;
  width: 120px;
  --border-radius: 50px;
  margin: 20px auto;
}

.item-interactive {
  --highlight-background: #5260ff !important;
}

.error {
  display: block;
  text-align: left;
  padding-top: 4px;
}
