@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: auto;
  padding: 1.5rem;
  background: var(--tui-background-elevation-1);
  border-radius: var(--tui-radius-m);
  box-shadow: var(--tui-shadow-popup);

  --tui-background-accent-1: var(--tui-status-warning);
}

tui-loader {
  flex-shrink: 0;
  min-width: 2rem;
}
