<div class="background-border shadow-color-light box-shadow-lg">
  <div class="box-container">
    <h2 class="additional-detail-title">Information</h2>
    <div class="detail-container">
      <!-- release date -->
      <marketplace-additional-item
        *ngIf="pkg.publishedAt as published"
        [data]="(published | date: 'medium')!"
        label="Released"
        icon=""
      ></marketplace-additional-item>
      <!-- git hash -->
      <marketplace-additional-item
        *ngIf="pkg.manifest.gitHash as gitHash; else noHash"
        (click)="copyService.copy(gitHash)"
        [data]="gitHash"
        label="Git Hash"
        icon="tuiIconCopyLarge"
        class="item-copy"
        button
        detail="false"
      ></marketplace-additional-item>
      <ng-template #noHash>
        <div class="item-padding">
          <label tuiLabel="Git Hash">Unknown</label>
        </div>
      </ng-template>
      <!-- license -->
      <marketplace-additional-item
        (click)="presentModalMd('License')"
        [data]="pkg.manifest.license"
        label="License"
        icon="tuiIconChevronRightLarge"
        class="item-pointer"
      ></marketplace-additional-item>
      <!-- instructions -->
      <marketplace-additional-item
        (click)="presentModalMd('Instructions')"
        data="Click to view instructions"
        label="Instructions"
        icon="tuiIconChevronRightLarge"
        class="item-pointer"
      ></marketplace-additional-item>
      <!-- versions -->
      <ng-content></ng-content>
      <!-- links -->
      <marketplace-additional-link
        *ngIf="pkg.manifest.marketingSite"
        [url]="pkg.manifest.marketingSite"
        label="Marketing Site"
        icon="tuiIconExternalLinkLarge"
        class="item-pointer"
      ></marketplace-additional-link>
      <marketplace-additional-link
        *ngIf="pkg.manifest.upstreamRepo"
        [url]="pkg.manifest.upstreamRepo"
        label="Source Repository"
        icon="tuiIconExternalLinkLarge"
        class="item-pointer"
      ></marketplace-additional-link>
      <marketplace-additional-link
        *ngIf="pkg.manifest.wrapperRepo"
        [url]="pkg.manifest.wrapperRepo"
        label="Wrapper Repository"
        icon="tuiIconExternalLinkLarge"
        class="item-pointer"
      ></marketplace-additional-link>
      <marketplace-additional-link
        *ngIf="pkg.manifest.supportSite"
        [url]="pkg.manifest.supportSite"
        label="Support Site"
        icon="tuiIconExternalLinkLarge"
        class="item-pointer"
      ></marketplace-additional-link>
    </div>
  </div>
</div>
