.box-container {
  background-color: rgb(39 39 42);
  border-radius: 0.75rem;
  padding: 1.75rem;
}

.detail-container {
  display: grid;
  grid-auto-flow: row;

  & > * + * {
    border-top-width: 1px;
    border-bottom-width: 0;
    border-color: rgb(113 113 122);
  }
}

.item-pointer:hover {
  cursor: pointer;

  ::ng-deep label {
    cursor: pointer;
  }
}

.item-copy:hover {
  cursor: copy;

  ::ng-deep label {
    cursor: copy;
  }
}

.item-padding {
  padding: 0.75rem 0.25rem;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgb(var(--tw-color-gray-200) / 1);
}
