<div class="background-border shadow-color-light box-shadow-lg">
  <div class="box-container">
    <h2 class="additional-detail-title">Information</h2>
    <div class="detail-container">
      <!-- release date -->
      @if (pkg.s9pk?.publishedAt; as published) {
        <marketplace-additional-item
          [data]="(published | date: 'medium')!"
          label="Released"
          icon=""
        />
      }
      <!-- git hash -->
      @if (pkg.gitHash; as gitHash) {
        <marketplace-additional-item
          (click)="copyService.copy(gitHash)"
          [data]="gitHash"
          label="Git Hash"
          icon="@tui.copy"
          class="item-copy"
        />
      } @else {
        <div class="item-padding">
          <label tuiTitle>
            <span tuiSubtitle>Git Hash</span>
            Unknown
          </label>
        </div>
      }
      <!-- license -->
      <marketplace-additional-item
        (click)="static.emit('license')"
        [data]="pkg.license"
        label="License"
        icon="@tui.chevron-right"
        class="item-pointer"
      />
      <!-- instructions -->
      <marketplace-additional-item
        (click)="static.emit('instructions')"
        data="Click to view instructions"
        label="Instructions"
        icon="@tui.chevron-right"
        class="item-pointer"
      />
      <!-- versions -->
      <ng-content />
      <!-- links -->
      @if (pkg.marketingSite) {
        <marketplace-additional-link
          [url]="pkg.marketingSite"
          label="Marketing Site"
          icon="@tui.external-link"
          class="item-pointer"
        />
      }
      @if (pkg.upstreamRepo) {
        <marketplace-additional-link
          [url]="pkg.upstreamRepo"
          label="Source Repository"
          icon="@tui.external-link"
          class="item-pointer"
        />
      }
      @if (pkg.wrapperRepo) {
        <marketplace-additional-link
          [url]="pkg.wrapperRepo"
          label="Wrapper Repository"
          icon="@tui.external-link"
          class="item-pointer"
        />
      }
      @if (pkg.supportSite) {
        <marketplace-additional-link
          [url]="pkg.supportSite"
          label="Support Site"
          icon="@tui.external-link"
          class="item-pointer"
        />
      }
    </div>
  </div>
</div>
