<!-- loading -->
<tui-loader
  *ngIf="loadingText; else content"
  size="l"
  [textContent]="loadingText"
></tui-loader>

<!-- not loading -->
<ng-template #content>
  <ng-container *ngIf="!loadingError && pkg else error">
    <!-- TODO: When to show this? original always exits -->
    <tui-notification
      *ngIf="form && !form.form.dirty && !original && !pkg.installed?.status?.configured"
      status="success"
      class="notification"
    >
      {{ pkg.manifest.title }} has been automatically configured with
      recommended defaults. Make whatever changes you want, then click "Save".
    </tui-notification>

    <!-- auto-config -->
    <app-config-dep
      *ngIf="dependentInfo && value"
      [package]="pkg.manifest.title"
      [dep]="dependentInfo.title"
      [original]="original"
      [value]="value"
    ></app-config-dep>

    <!-- no options -->
    <tui-notification
      *ngIf="!pkg.installed?.['has-config']"
      status="warning"
      class="notification"
    >
      No config options for {{ pkg.manifest.title }} {{ pkg.manifest.version }}.
    </tui-notification>

    <!-- has config -->
    <form-page
      #form
      tuiMode="onDark"
      [spec]="spec"
      [value]="value"
      [buttons]="buttons"
      [patch]="patch"
    >
      <button tuiButton appearance="flat" type="reset">Reset Defaults</button>
    </form-page>
  </ng-container>

  <ng-template #error>
    <tui-notification status="error">
      <div [innerHTML]="loadingError"></div>
    </tui-notification>
  </ng-template>
</ng-template>
