<!-- loading -->
<tui-loader
  *ngIf="loading; else notLoading"
  size="l"
  [textContent]="loadingText"
></tui-loader>

<!-- not loading -->
<ng-template #notLoading>
  <tui-notification *ngIf="loadingError; else noError" status="error">
    <div [innerHTML]="loadingError"></div>
  </tui-notification>

  <ng-template #noError>
    <tui-notification
      *ngIf="configForm && !configForm.dirty && !original && !pkg.installed?.status?.configured"
      status="success"
      class="notification"
    >
      {{ pkg.manifest.title }} has been automatically configured with
      recommended defaults. Make whatever changes you want, then click "Save".
    </tui-notification>

    <!-- auto-config -->
    <tui-notification *ngIf="dependentInfo" class="notification">
      <h3 class="title">{{ pkg.manifest.title }}</h3>
      The following modifications have been made to {{ pkg.manifest.title }} to
      satisfy {{ dependentInfo.title }}:
      <ul>
        <li *ngFor="let d of diff" [innerHTML]="d"></li>
      </ul>
      To accept these modifications, click "Save".
    </tui-notification>

    <!-- no options -->
    <tui-notification
      *ngIf="!pkg.installed?.['has-config']"
      status="warning"
      class="notification"
    >
      No config options for {{ pkg.manifest.title }} {{ pkg.manifest.version }}.
    </tui-notification>

    <!-- has config -->
    <form
      *ngIf="configForm && configSpec"
      novalidate
      [formGroup]="configForm"
      (tuiValueChanges)="markAsDirty()"
    >
      <form-group [spec]="configSpec"></form-group>
      <footer tuiMode="onDark">
        <button
          *ngIf="configForm && pkg.installed?.['has-config']"
          tuiButton
          type="button"
          appearance="flat"
          (click)="resetDefaults()"
        >
          Reset Defaults
        </button>
        <button *ngIf="configForm" tuiButton type="submit" (click)="save()">
          Save
        </button>
        <button
          *ngIf="!configForm"
          tuiButton
          type="button"
          appearance="secondary"
          (click)="context.$implicit.complete()"
        >
          Close
        </button>
      </footer>
    </form>
  </ng-template>
</ng-template>
