.label {
  margin: 16px 0 6px;
}

.input {
  font-family: 'Courier New';
  font-weight: bold;

  --placeholder-font-weight: 400;

  &_redacted {
    font-family: 'Redacted';
  }
}

.units {
  font-size: medium;
}

.error-message {
  margin-top: 2px;
  font-size: small;
  color: var(--ion-color-danger);
}
