ion-card {
  background: rgba(70, 70, 70, 0.31);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 44px;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  text-align: center;
  transition: all 350ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transition-property: transform;
    transform: scale(1.05);
    transition-delay: 40ms;
  }
  
  ion-card-title {
    font-family: 'Open Sans';
    padding: 0.6rem;
    font-weight: 600;
    font-size: calc(12px + 0.5vw);
    height: 3rem;
  }

  ion-card-content {
    min-height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    ion-icon {
      font-size: calc(90px + 0.5vw);
      --ionicon-stroke-width: 1rem;
    }
  }
  
  ion-footer {
    padding: 1rem;
    font-family: 'Open Sans';
    font-size: clamp(1rem, calc(12px + 0.5vw), 1.3rem);
    height: 9rem;
    width: clamp(13rem, 80%, 18rem);
    margin: 0 auto;
    * {
      max-width: 100%;
    }
  }

  .footer-md::before {
    background-image: none;
  }
}

@media (max-width: 900px) {
  ion-card-title, ion-footer {
    height: auto !important;
  }
  ion-footer {
    width: 10rem;
  }
}

@media (max-width: 1200px) {
  ion-footer {
    width: 14rem;
  }
}