<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">

        <div style="padding-bottom: 32px;">
          <img src="assets/png/logo.png" style="max-width: 240px;" />
        </div>

        <ion-card color="dark">
          <ion-card-content class="ion-margin">
            <!-- fresh -->
            <ion-card
              routerLink="/embassy"
              color="light"
              style="text-align: center; background-color: #00919b !important; height: 160px; margin-bottom: 20px; box-shadow: 4px 4px 16px var(--ion-color-light);"
            >
            <ion-card-header>
              <ion-card-title style="font-size: 40px;">Start Fresh</ion-card-title>
              <ion-card-subtitle>Get started with a brand new Embassy</ion-card-subtitle>
            </ion-card-header>

            <!-- recover -->
            </ion-card>
              <ion-card
                routerLink="/recover"
                color="light"
                style="text-align: center; background-color: #bf5900 !important; height: 160px; box-shadow: 4px 4px 16px var(--ion-color-light);"
              >
              <ion-card-header>
                <ion-card-title style="font-size: 40px;">Recover</ion-card-title>
                <ion-card-subtitle>Recover data from an old embassy</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
