.icon-small {
  width: auto; 
  height: 14px;
  padding-left: 6px;
}

.icon-medium {
  width: auto; 
  height: 18px;
  padding-left: 8px;
}

.icon-large {
  width: auto; 
  height: 24px;
  padding-left: 12px;
}

.dots {
  vertical-align: middle;
  margin-left: 8px;
}

.dots-small {
  width: 12px !important;
  height: 12px !important;
}

.dots-medium {
  width: 16px !important;
  height: 16px !important;
}