<p
  [style.color]="disconnected ? 'gray' : 'var(--ion-color-' + rendering.color + ')'"
  [style.font-size]="size"
  [style.font-style]="style"
  [style.font-weight]="weight"
>
  <span *ngIf= "!installProgress">
    {{ disconnected ? 'Unknown' : rendering.display }}
    <span *ngIf="rendering.showDots">...</span>
  </span>
  <span *ngIf="installProgress">
    <span *ngIf="installProgress < 99">
      Installing... {{ installProgress }}%
    </span>
    <span *ngIf="installProgress >= 99">
      Finalizing install. This could take a minute...
    </span>
  </span>

</p>
