.icon-small {
  width: auto; 
  height: 14px;
  padding-left: 6px;
}

.icon-medium {
  width: auto; 
  height: 18px;
  padding-left: 8px;
}

.icon-large {
  width: auto; 
  height: 24px;
  padding-left: 12px;
}
