<p
  [style.color]="disconnected ? 'gray' : 'var(--ion-color-' + rendering.color + ')'"
  [style.font-size]="size"
  [style.font-style]="style"
  [style.font-weight]="weight"
>
  <span *ngIf= "!installProgress">
    {{ disconnected ? 'Unknown' : rendering.display }}
    <ion-spinner *ngIf="rendering.showDots" class="dots" name="dots"></ion-spinner>
  </span>
  <span *ngIf="installProgress">
    <span *ngIf="installProgress < 99">
      Installing
      <ion-spinner class="dots" name="dots"></ion-spinner>{{ installProgress }}%
    </span>
    <span *ngIf="installProgress >= 99">
      Finalizing install. This could take a minute<ion-spinner class="dots" name="dots"></ion-spinner>
    </span>
  </span>

</p>
