<ng-container *ngIf="actionRequests[dep.id]?.length">
  <ion-item
    class="line"
    lines="none"
    *ngFor="let request of actionRequests[dep.id]"
    button
    (click)="handleAction(request)"
  >
    <ion-icon
      slot="start"
      [name]="
        request.severity === 'critical' ? 'warning-outline' : 'play-outline'
      "
      color="warning"
    ></ion-icon>
    <ion-label>
      <h2 class="highlighted">{{ request.actionName }}</h2>
      <p>
        {{ request.reason || 'no reason provided' }} |
        <span
          class="severity"
          [ngStyle]="{
            color:
              request.severity === 'critical'
                ? 'var(--ion-color-warning)'
                : 'var(--ion-color-primary)'
          }"
        >
          {{ request.severity === 'critical' ? 'Required' : 'Requested' }}
        </span>
      </p>
    </ion-label>
  </ion-item>
</ng-container>
