[Unit]
Description=StartTunnel
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=RUST_LOG=startos=debug,patch_db=warn
ExecStart=/usr/bin/start-tunneld
Restart=always
RestartSec=3
ManagedOOMPreference=avoid

[Install]
WantedBy=multi-user.target
