<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ spec.name }}</ion-title>
    <ion-buttons *ngIf="spec.subtype !== 'enum'" slot="end">
      <ion-button (click)="presentModalValueEdit()">
        <ion-icon name="add" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <config-header [spec]="spec" [error]="error"></config-header>

  <!-- enum list -->
  <ion-item-group *ngIf="spec.subtype === 'enum'">
    <ion-item-divider class="borderless"></ion-item-divider>
    <ion-item-divider>
      {{ value.length }} selected
      <span *ngIf="min">&nbsp;(min: {{ min }})</span>
      <span *ngIf="max">&nbsp;(max: {{ max }})</span>
      <ion-button slot="end" fill="clear" color="primary" (click)="toggleSelectAll()">{{ selectAll ? 'All' : 'None' }}</ion-button>
    </ion-item-divider>
    <ion-item *ngFor="let option of options">
      <ion-label>{{ option.value }}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="option.checked" (click)="toggleSelected(option.value)"></ion-checkbox>
    </ion-item>
  </ion-item-group>

  <!-- not enum list -->
  <div *ngIf="spec.subtype !== 'enum'">
    <ion-item-divider class="borderless"></ion-item-divider>
    <ion-item-group>
      <ion-item-divider style="font-size: small; color: var(--ion-color-medium);">
        {{ value.length }}&nbsp;
        <span *ngIf="value.length === 1">Entry</span>
        <span *ngIf="value.length !== 1">Entries</span>
        <span *ngIf="min">&nbsp;(min: {{ min }})</span>
        <span *ngIf="max">&nbsp;(max: {{ max }})</span>
      </ion-item-divider>

      <div *ngFor="let v of value; index as i;">
        <ion-item button detail="false" (click)="presentModalValueEdit(i)">
          <ion-icon size="small" slot="start" *ngIf="!annotations.members[i] || (annotations.members[i] | annotationStatus: 'NoChange')" style="margin-right: 15px; color: rgba(0,0,0,0); background: radial-gradient(#2a4e8970, #2a4e8970 35%, transparent 35%, transparent);" name="ellipse"></ion-icon>
          <ion-icon size="small" slot="start" *ngIf="!annotations.members[i] || (annotations.members[i] | annotationStatus: 'Added')" style="margin-right: 15px; color: rgba(0,0,0,0); background: radial-gradient(#2a4e8970, #2a4e8970 35%, transparent 35%, transparent);" name="ellipse"></ion-icon>
          <ion-icon size="small" slot="start" *ngIf="annotations.members[i] && (annotations.members[i] | annotationStatus: 'Edited')" style="margin-right: 15px" color="primary" name="ellipse"></ion-icon>
          <ion-icon size="small" slot="start" *ngIf="annotations.members[i] && (annotations.members[i] | annotationStatus: 'Invalid')" style="margin-right: 15px" color="danger" name="warning-outline"></ion-icon>

          <ion-label>{{ valueString[i] }}</ion-label>

          <ion-button slot="end" fill="clear" (click)="presentAlertDelete(i, $event)">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </ion-item-group>
  </div>

</ion-content>
