<ng-container *ngFor="let phase of phases">
  <p>
    {{ phase.name }}
    <span *ngIf="phase.progress | installingProgress as progress">
      : {{ progress }}%
    </span>
  </p>
  <ion-progress-bar
    [type]="
      phase.progress === false ||
      (phase.progress !== true &&
        phase.progress !== null &&
        !phase.progress.total)
        ? 'indeterminate'
        : 'determinate'
    "
    [color]="phase.progress === true ? 'success' : 'secondary'"
    [value]="(phase.progress | installingProgress) / 100"
  ></ion-progress-bar>
</ng-container>
