<ng-container *ngFor="let phase of phases">
  <p>
    {{ phase.name }}
    <span *ngIf="phase.progress | installingProgress as progress">
      : {{ progress * 100 }}%
    </span>
  </p>
  <ion-progress-bar
    [type]="
      phase.progress === true ||
      (phase.progress !== false && phase.progress.total)
        ? 'determinate'
        : 'indeterminate'
    "
    [color]="phase.progress === true ? 'success' : 'secondary'"
    [value]="phase.progress | installingProgress"
  ></ion-progress-bar>
</ng-container>
