<div class="ion-padding-top">
  <ion-item-group *ngIf="stores$ | async as stores">
    <ion-item-divider>Default Registries</ion-item-divider>
    <ion-item
      *ngFor="let s of stores.standard"
      detail="false"
      [button]="!s.selected"
      (click)="s.selected ? '' : connect(s.url)"
    >
      <ion-avatar slot="start">
        <store-icon [url]="s.url"></store-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{ s.name }}</h2>
        <p>{{ s.url }}</p>
      </ion-label>
      <ion-icon
        *ngIf="s.selected"
        slot="end"
        size="large"
        name="checkmark"
        color="success"
      ></ion-icon>
    </ion-item>

    <ion-item-divider>Custom Registries</ion-item-divider>
    <ion-item button detail="false" (click)="presentModalAdd()">
      <ion-icon slot="start" name="add" color="dark"></ion-icon>
      <ion-label>
        <ion-text color="dark">
          <b>Add custom registry</b>
        </ion-text>
      </ion-label>
    </ion-item>

    <tui-hosted-dropdown
      *ngFor="let a of stores.alt"
      class="host"
      tuiDropdownLimitWidth="fixed"
      [canOpen]="!a.selected"
      [content]="content"
    >
      <ion-item detail="false" [button]="!a.selected">
        <ion-avatar slot="start">
          <store-icon
            [url]="a.url"
            [marketplace]="config.marketplace"
            size="36px"
          ></store-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{ a.name }}</h2>
          <p>{{ a.url }}</p>
        </ion-label>
        <ion-icon
          *ngIf="a.selected"
          slot="end"
          size="large"
          name="checkmark"
          color="success"
        ></ion-icon>
      </ion-item>
      <ng-template #content>
        <tui-data-list>
          <button
            tuiOption
            class="delete"
            (click)="presentAlertDelete(a.url, a.name)"
          >
            Delete
            <tui-svg src="tuiIconTrash2Large"></tui-svg>
          </button>
          <button tuiOption (click)="connect(a.url)">
            Connect
            <tui-svg src="tuiIconLogInLarge"></tui-svg>
          </button>
        </tui-data-list>
      </ng-template>
    </tui-hosted-dropdown>
  </ion-item-group>
</div>
