<ion-header>
  <ion-toolbar>
    <ion-title>
      Enter Product Key
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="verifyProductKey()">
    <div style="padding: 8px 24px;">
      <div style="padding-bottom: 16px;">
        <p>Enter your 0.2.x Product Key to establish an encrypted connection with your new Embassy.</p>
      </div>
      <ion-item>
        <ion-input
          #focusInput
          [(ngModel)]="productKey"
          placeholder="Enter Product Key"
          maxlength="12"
        ></ion-input>
      </ion-item>
      <div style="height: 16px;">
        <p style="color: var(--ion-color-danger); font-size: x-small;">{{ error }}</p>
      </div>
    </div>
    <input type="submit" style="display: none" />
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="ion-padding-end" slot="end" color="dark" fill="clear" (click)="cancel()">
      Cancel
    </ion-button>
    <ion-button class="ion-padding-end" slot="end" color="dark" fill="clear" strong="true" (click)="verifyProductKey()">
      Submit
    </ion-button>
  </ion-toolbar>
</ion-footer>

