<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <div style="padding-bottom: 32px">
          <img src="assets/img/logo.png" style="max-width: 240px" />
        </div>

        <ion-card color="dark">
          <ion-card-header>
            <ion-button
              *ngIf="swiper?.activeIndex === 1"
              class="back-button"
              fill="clear"
              color="light"
              (click)="previous()"
            >
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
            <ion-card-title>
              {{ !swiper || swiper.activeIndex === 0 ? 'Select Disk' : 'Install
              Type' }}
            </ion-card-title>
            <ion-card-subtitle *ngIf="error">
              <ion-text color="danger">{{ error }}</ion-text>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-margin-bottom">
            <swiper (swiper)="setSwiperInstance($event)">
              <ng-template swiperSlide>
                <ion-item
                  *ngFor="let disk of disks"
                  button
                  (click)="next(disk)"
                >
                  <ion-icon
                    slot="start"
                    name="save-outline"
                    size="large"
                    color="dark"
                  ></ion-icon>
                  <ion-label class="ion-text-wrap">
                    <h1>
                      {{ disk.vendor || 'Unknown Vendor' }} - {{ disk.model ||
                      'Unknown Model' }}
                    </h1>
                    <h2>
                      {{ disk.logicalname }} - {{ disk.capacity | convertBytes
                      }}
                    </h2>
                  </ion-label>
                </ion-item>
              </ng-template>
              <ng-template swiperSlide>
                <ion-item
                  *ngIf="!!selectedDisk?.guid"
                  button
                  (click)="tryInstall(false)"
                >
                  <ion-icon
                    color="dark"
                    slot="start"
                    size="large"
                    name="medkit-outline"
                  ></ion-icon>
                  <ion-label>
                    <h1>
                      <ion-text color="success">Re-Install embassyOS</ion-text>
                    </h1>
                    <h2>Will preserve existing embassyOS data</h2>
                  </ion-label>
                </ion-item>
                <ion-item button lines="none" (click)="tryInstall(true)">
                  <ion-icon
                    color="dark"
                    slot="start"
                    size="large"
                    name="download-outline"
                  ></ion-icon>
                  <ion-label>
                    <h1>
                      <ion-text
                        [color]="!!selectedDisk?.guid ? 'danger' : 'success'"
                        >{{ !!selectedDisk?.guid ? 'Factory Reset' : 'Install
                        embassyOS' }}</ion-text
                      >
                    </h1>
                    <h2>Will delete existing data on disk</h2>
                  </ion-label>
                </ion-item>
              </ng-template>
            </swiper>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
