<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to {{ version }}!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="display: flex; flex-direction: column; justify-content: space-between; height: 100%">
    <h2>A Whole New Embassy</h2>
    <div class="main-content">
      <p>Version {{ version }} is something new.</p>
      <p>This release also enables displaying Service license information and contains utilities to facilitate the next major release of EmbassyOS.</p>
    </div>

    <div class="close-button">
      <ion-button fill="outline" color="dark" (click)="dismiss()">
        Begin
      </ion-button>
    </div>
  </div>
</ion-content>
