<ion-header>
  <ion-toolbar>
    <ion-title >
      <ion-label style="font-size: 20px;" class="ion-text-wrap">Welcome to 0.2.9!</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="display: flex; flex-direction: column; justify-content: space-between; height: 100%">
    <h2>Highlights</h2>
    <p class="main-content">
      0.2.9 introduces LAN support for services running on the Embassy. A service's LAN address (.local URL) can be accessed while connected to the same network.
      This is useful for two reasons: (1) LAN connections are significantly faster than Tor, and (2) if the Tor network is experiencing connectivity issues, you will not be locked out of your services.
    </p>

    <div class="close-button">
      <ion-button fill="outline" (click)="dismiss()">
        Begin
      </ion-button>
    </div>
  </div>
</ion-content>
