<ion-header>
  <ion-toolbar>
    <ion-title >
      <ion-label style="font-size: 20px;" class="ion-text-wrap">Welcome to 0.2.12!</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="display: flex; flex-direction: column; justify-content: space-between; height: 100%">
    <h2>Highlights</h2>
    <div class="main-content">
      <p>This release includes several bugfixes to resolve:</p>
      <ol>
        <li>Faster file upload/download ability</li>
        <li>More robust support for .local addresses</li>
        <li>Refreshing error messages during configuration changes</li>
        <li>Starting services with uninstalled optional dependencies</li>
        <li>Uninstalling services with optional dependencies</li>
        <li>Redirecting to HTTPS when navigating to LAN address</li>
        <li>Displaying warning messages during concurrent upgrades of dependent services</li>
        <li>Allowing larger file uploads</li>
        <li>Patching a security fix for Tor</li>
      </ol>
    </div>

    <div class="close-button">
      <ion-button fill="outline" (click)="dismiss()">
        Begin
      </ion-button>
    </div>
  </div>
</ion-content>
