.item-interactive {
  --highlight-background: var(--ion-color-dark) !important;
}

ion-item {
  &:hover {
    transition-property: transform;
    transform: none;
  }
}

.item-has-focus {
  --background: var(--ion-color-dark-tint) !important;
}

.error-message {
  color: var(--ion-color-danger) !important;
  font-size: .9rem !important;
  margin-left: 36px;
  margin-top: -16px;
}