<ion-content>
  <div style="height: 85%; margin: 24px; display: flex; flex-direction: column; justify-content: space-between;">
    <div *ngIf="type === 'backup'">
      <h4><ion-text color="dark">Encrypt Backup</ion-text></h4>
      <p><ion-text>Enter your master password to create an encrypted backup.</ion-text></p>  
    </div>
    <div *ngIf="type === 'restore'">
      <h4><ion-text color="dark">Decrypt Backup</ion-text></h4>
      <p><ion-text>Enter the password that was originally used to encrypt this backup.</ion-text></p>  
    </div>

    <div>
      <ion-item lines="none" style="--background: var(--ion-background-color); --border-color: var(--ion-color-medium);">
        <ion-label style="font-size: small" position="floating">Master Password</ion-label>
        <ion-input style="border-style: solid; border-width: 0px 0px 1px 0px; border-color: var(--ion-color-dark);" [(ngModel)]="password" type="password" (ionChange)="error = ''"></ion-input>
      </ion-item>
      <ion-item *ngIf="error" lines="none" style="--background: var(--ion-background-color);">
        <ion-label style="font-size: small" color="danger" class="ion-text-wrap">{{ error }}</ion-label>
      </ion-item>
    </div>

    <div style="display: flex; justify-content: flex-end; align-items: center;">
      <ion-button fill="clear" (click)="cancel()">
        Cancel
      </ion-button>
      <ion-button fill="clear" (click)="submit()" [disabled]="!password.length">
        {{ type === 'backup' ? 'Create Backup' : 'Restore Backup' }}
      </ion-button>
    </div>
  </div>
</ion-content>
