<ion-header>
  <ion-toolbar>
    <ion-title>Play Snek!</ion-title>
    <ion-title slot="end">Score: {{ score }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="canvas-center" style="width: 100%; height: 100%">
    <canvas id="game"> </canvas>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title slot="start">High Score: {{ highScore }}</ion-title>
    <ion-buttons slot="end" class="ion-padding-end">
      <ion-button (click)="dismiss()" class="enter-click"
        >Byeeeeeee!</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
