<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="embassy"></ion-back-button>
    </ion-buttons>
    <ion-title>Sideload Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <!-- file upload -->
  <div
    *ngIf="!toUpload"
    class="drop-area"
    [class.drop-area_mobile]="isMobile"
    appDnd
    (onFileDropped)="handleFileDrop($event)"
  >
    <ion-icon
      name="cloud-upload-outline"
      color="dark"
      style="font-size: 42px"
    ></ion-icon>
    <h4>To install a service manually, upload the s9pk here</h4>
    <p *ngIf="onTor">
      <ion-text color="warning"
        >Warning! You are connected over Tor. It is recommended to preform
        manual installs over LAN.</ion-text
      >
    </p>
    <br />
    <ion-button color="primary" type="file">
      <label for="upload-photo">Browse</label>
      <input
        type="file"
        style="position: absolute; opacity: 0; height: 100%"
        id="upload-photo"
        (change)="handleFileInput($event)"
      />
    </ion-button>
  </div>
  <!-- file uploaded -->
  <div class="drop-area_filled" *ngIf="toUpload">
    <div class="inline">
      <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      <h4>A valid s9pk has been detected!</h4>
    </div>
    <br />
    <div class="service-card">
      <div class="row row_end">
        <ion-button
          style="
            --background-hover: transparent;
            --padding-end: 0px;
            --padding-start: 0px;
          "
          fill="clear"
          size="small"
          (click)="toUpload = undefined"
        >
          <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
        </ion-button>
      </div>
      <div class="row">
        <img
          [alt]="toUpload.manifest.title + ' Icon'"
          [src]="'data:image/png;base64,' + toUpload.icon"
        />
        <h2>{{ toUpload.manifest.title }}</h2>
        <p>{{ toUpload.manifest.version | displayEmver }}</p>
      </div>
    </div>
    <ion-button color="primary" (click)="toUpload = undefined">
      Upload & Install
    </ion-button>
  </div>
</ion-content>
