<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <pwa-back-button></pwa-back-button>
    </ion-buttons>
    <ion-title>Values</ion-title>
    <ion-buttons slot="end" class="ion-padding-end">
      <ion-button (click)="refresh()">
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-spinner *ngIf="loading; else loaded" class="center" name="lines" color="warning"></ion-spinner>

  <ng-template #loaded>
    <ion-item *ngIf="error" style="margin-bottom: 16px;">
      <ion-text class="ion-text-wrap" color="danger">{{ error }}</ion-text>
    </ion-item>

    <!-- not running -->
    <ion-item *ngIf="notRunning" class="ion-margin-bottom">
      <ion-label class="ion-text-wrap">
        <p><ion-text color="warning">Service not running. Information on this page could be inaccurate.</ion-text></p>
      </ion-label>
    </ion-item>

    <!-- no properties -->
    <ion-item *ngIf="properties | empty">
      <ion-label class="ion-text-wrap">
        <p>No values.</p>
      </ion-label>
    </ion-item>

    <!-- properties -->
    <ion-item-group *ngIf="!(properties | empty)">
      <div *ngFor="let prop of node | keyvalue: asIsOrder">
        <!-- object -->
        <ion-item button detail="true" *ngIf="prop.value.type === 'object'" (click)="goToNested(prop.key)">
          <ion-button *ngIf="prop.value.description" class="help-button" fill="clear" slot="start" (click)="presentDescription(prop, $event)">
            <ion-icon size="small" slot="icon-only" name="help-circle-outline"></ion-icon>
          </ion-button>
          <ion-label class="ion-text-wrap">
            <h2>{{ prop.key }}</h2>
          </ion-label>
        </ion-item>
        <!-- not object -->
        <ion-item *ngIf="prop.value.type === 'string'">
          <ion-button *ngIf="prop.value.description" class="help-button" fill="clear" slot="start" (click)="presentDescription(prop, $event)">
            <ion-icon size="small" slot="icon-only" name="help-circle-outline"></ion-icon>
          </ion-button>
          <ion-label class="ion-text-wrap">
            <h2>{{ prop.key }}</h2>
            <p>{{ prop.value.masked && !unmasked[prop.key] ? (prop.value.value | mask ) : (prop.value.value | truncateEnd : 100) }}</p>
          </ion-label>
          <div slot="end" *ngIf="prop.value.copyable || prop.value.qr">
            <ion-button *ngIf="prop.value.masked" fill="clear" (click)="toggleMask(prop.key)">
              <ion-icon slot="icon-only" [name]="unmasked[prop.key] ? 'eye-off-outline' : 'eye-outline'" [color]="unmasked[prop.key] ? 'danger' : 'primary'" size="small"></ion-icon>
            </ion-button>
            <ion-button *ngIf="prop.value.qr" fill="clear" (click)="showQR(prop.value.value)">
              <ion-icon slot="icon-only" name="qr-code-outline" size="small" color="primary"></ion-icon>
            </ion-button>
            <ion-button *ngIf="prop.value.copyable" fill="clear" (click)="copy(prop.value.value)">
              <ion-icon slot="icon-only" name="copy-outline" size="small" color="primary"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </div>
    </ion-item-group>
  </ng-template>
</ion-content>