<ng-container *ngIf="stores$ | async as stores">
  <h3 class="g-title">Default Registries</h3>
  <button
    *ngFor="let registry of stores.standard"
    tuiCell
    [disabled]="registry.selected"
    [registry]="registry"
    (click)="connect(registry.url)"
  ></button>
  <h3 class="g-title">Custom Registries</h3>
  <button tuiCell (click)="add()" [style.width]="'-webkit-fill-available'">
    <tui-icon icon="tuiIconPlus" [style.margin-inline.rem]="'0.5'"></tui-icon>
    <div tuiTitle>Add custom registry</div>
  </button>
  <div *ngFor="let registry of stores.alt" class="connect-container">
    <button
      tuiCell
      [registry]="registry"
      (click)="connect(registry.url)"
    ></button>
    <button
      tuiIconButton
      appearance="icon"
      iconLeft="tuiIconTrash"
      (click)="delete(registry.url, registry.name)"
    >
      Delete
    </button>
  </div>
</ng-container>
