<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <pwa-back-button></pwa-back-button>
    </ion-buttons>
    <ion-title>Developer Options</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item-group *ngrxLet="patch.watch$('server-info') as server">
    <ion-item detail="true" button [routerLink]="['ssh-keys']">
      <ion-label>SSH Keys</ion-label>
    </ion-item>
    <ion-item button (click)="presentModalValueEdit('registry', server.registry)">
      <ion-label>Marketplace URL</ion-label>
      <ion-note slot="end">{{ server.registry }}</ion-note>
    </ion-item>
  </ion-item-group>

</ion-content>