<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/services/' + pkgId"></ion-back-button>
    </ion-buttons>
    <ion-title>Actions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top with-widgets">
  <ion-item-group *ngIf="pkg$ | async as pkg">
    <!-- ** standard actions ** -->
    <ion-item-divider>Standard Actions</ion-item-divider>
    <app-actions-item
      [action]="{
        name: 'Rebuild Service',
        description: 'Rebuilds the service container. It is harmless and only takes a few seconds to complete, but it should only be necessary if a StartOS bug is preventing dependencies, interfaces, or actions from synchronizing.',
        visibility: 'enabled'
      }"
      icon="construct-outline"
      (onClick)="rebuild(pkg.manifest.id)"
    ></app-actions-item>
    <app-actions-item
      [action]="{
        name: 'Uninstall',
        description: 'Uninstalls this service from StartOS and delete all data permanently.',
        visibility: 'enabled'
      }"
      icon="trash-outline"
      (onClick)="tryUninstall(pkg.manifest)"
    ></app-actions-item>

    <!-- ** specific actions ** -->
    <ion-item-divider *ngIf="pkg.actions.length">
      Actions for {{ pkg.manifest.title }}
    </ion-item-divider>
    <app-actions-item
      *ngFor="let action of pkg.actions"
      [action]="action"
      icon="play-outline"
      (onClick)="handleAction(pkg.mainStatus, pkg.icon, pkg.manifest, action)"
    ></app-actions-item>
  </ion-item-group>
</ion-content>
