.add-margin {
  margin: 0 16px;
}

.new-tag {
  padding: 0px 5px;
  font-weight: bold;
  font-size: smaller;
  color: #cecece;
  font-style: italic;
}

.status-icon{
  // width: 2%;
  margin-right: 12px;
}

.bright {
  color: white !important;
}

.bold {
  font-weight: bold;
}

.invalid {
  color: var(--ion-color-danger) !important;
}

.organizer {
  display: flex;
  align-items: center;
}

.name {
  text-decoration: underline;
}