.add-margin {
  margin: 0 16px;
}

.new-tag {
  padding: 0px 5px;
  font-weight: bold;
  font-size: smaller;
  color: #cecece;
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.organizer {
  display: flex;
  align-items: center;
}