.box-container {
  background-color: rgb(39 39 42);
  border-radius: 0.75rem;
  padding: 1.75rem;

  p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.75rem;
    pointer-events: none;
  }
}
