<div class="background-border box-shadow-lg shadow-color-light">
  <div class="box-container">
    <h2 class="additional-detail-title">New in {{ pkg.version }}</h2>
    <p [innerHTML]="pkg.releaseNotes | markdown | dompurify"></p>
    <button
      tuiButton
      size="s"
      appearance="whiteblock"
      iconEnd="@tui.chevron-right"
      (click)="onPast()"
    >
      Past Release Notes
    </button>
    <h2 class="additional-detail-title" [style.margin-top.rem]="2">About</h2>
    <p [innerHTML]="pkg.description.long"></p>
    @if (pkg.marketingSite; as url) {
      <a
        tuiButton
        iconEnd="@tui.external-link"
        size="s"
        appearance="secondary-grayscale"
        target="_blank"
        rel="noreferrer"
        [href]="url"
      >
        View website
      </a>
    }
  </div>
</div>
