<ng-content></ng-content>
<div class="toolbar">
  <button tuiIconButton icon="tuiIconCloudLarge" appearance="success">
    Connection
  </button>
  <tui-badged-content size="m" [contentBottom]="4">
    <button tuiIconButton icon="tuiIconBellLarge" appearance="warning">
      Notifications
    </button>
  </tui-badged-content>

  <!-- @TODO replacing with header-menu breaks css relative positioning in the toolbar -->
  <!-- <header-menu></header-menu> -->
  <tui-hosted-dropdown
    [content]="content"
    (click.stop.prevent)="(0)"
    (pointerdown.stop)="(0)"
  >
    <button tuiIconButton appearance="">
      <img style="max-width: 62%" src="assets/img/icon.png" alt="StartOS" />
    </button>
    <ng-template #content>
      <tui-data-list>
        <tui-opt-group>
          <button tuiOption class="item" (click)="({})">
            <tui-svg src="tuiIconInfo"></tui-svg>
            About this server
          </button>
        </tui-opt-group>
        <tui-opt-group>
          <button tuiOption class="item" (click)="({})">
            <tui-svg src="tuiIconBookOpen"></tui-svg>
            User Manual
            <tui-svg src="tuiIconArrowUpRight"></tui-svg>
          </button>
          <button tuiOption class="item" (click)="({})">
            <tui-svg src="tuiIconHeadphones"></tui-svg>
            Contact Support
            <tui-svg src="tuiIconArrowUpRight"></tui-svg>
          </button>
          <button tuiOption class="item" (click)="({})">
            <tui-svg src="tuiIconDollarSign"></tui-svg>
            Donate to Start9
            <tui-svg src="tuiIconArrowUpRight"></tui-svg>
          </button>
        </tui-opt-group>
        <tui-opt-group>
          <button tuiOption class="item" (click)="({})">
            <tui-svg src="tuiIconTool"></tui-svg>
            System Rebuild
          </button>
          <button tuiOption class="item" (click)="({})">
            <tui-svg src="tuiIconRefreshCw"></tui-svg>
            Restart
          </button>
          <button tuiOption class="item" (click)="({})">
            <tui-svg src="tuiIconPower"></tui-svg>
            Shutdown
          </button>
        </tui-opt-group>
        <tui-opt-group>
          <button tuiOption class="item" (click)="({})">
            <tui-svg src="tuiIconLogOut"></tui-svg>
            Logout
          </button>
        </tui-opt-group>
      </tui-data-list>
    </ng-template>
  </tui-hosted-dropdown>
</div>
