:host {
  display: flex;
  align-items: center;
  height: 4.5rem;
  padding: 0 1rem 0 2rem;
  font-size: 1.5rem;
  // TODO: Theme
  background: rgb(51 51 51 / 84%);
}

.toolbar {
  display: flex;
  margin-left: auto;
}
