ion-card-title {
  font-size: 42px;
}

.progress {
  max-width: 700px;
  padding-bottom: 20px;
  margin: auto auto 40px;
}

.logs-container {
  margin-top: 24px;
  height: 280px;
  text-align: left;
  overflow: hidden;
  border-radius: 31px;
  margin-inline: 10px;
}
