<ng-container *ngIf="network$ | async as network">
  <!-- clearnet -->
  <ion-item-divider style="--padding-top: 0">Clearnet</ion-item-divider>
  <ion-item-group>
    <ion-item>
      <ion-label>
        <h2>
          Clearnet is fast and convenient at the expense of privacy and
          anonymity.
          <a
            href="https://docs.start9.com/latest/user-manual/clearnet"
            target="_blank"
            rel="noreferrer"
          >
            View instructions
          </a>
        </h2>
      </ion-label>
    </ion-item>
    <ng-container *ngIf="addressInfo.domainInfo as domainInfo; else noClearnet">
      <ion-item *ngIf="domainInfo | interfaceClearnetPipe as clearnetAddress">
        <ion-label>
          <h2>Clearnet</h2>
          <p>{{ clearnetAddress }}</p>
          <div class="ion-padding-top">
            <ion-button (click)="presentModalAddClearnet(network)">
              Update
            </ion-button>
            <ion-button
              class="ion-padding-start"
              (click)="presentAlertRemoveClearnet()"
              color="danger"
            >
              Remove
            </ion-button>
          </div>
        </ion-label>
        <div slot="end">
          <ion-button fill="clear" (click)="launch(clearnetAddress)">
            <ion-icon
              slot="icon-only"
              size="small"
              name="open-outline"
            ></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="showQR(clearnetAddress)">
            <ion-icon
              size="small"
              slot="icon-only"
              name="qr-code-outline"
            ></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="copyService.copy(clearnetAddress)">
            <ion-icon
              slot="icon-only"
              size="small"
              name="copy-outline"
            ></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ng-container>
    <ng-template #noClearnet>
      <div class="ion-padding">
        <ion-button strong (click)="presentModalAddClearnet(network)">
          <ion-icon slot="start" name="add"></ion-icon>
          Add Clearnet
        </ion-button>
      </div>
    </ng-template>
  </ion-item-group>

  <!-- tor -->
  <ion-item-divider>Tor</ion-item-divider>
  <ion-item-group>
    <ion-item>
      <ion-label>
        <h2>
          Tor is private and anonymous at the expense of speed and reliability.
          A Tor-enabled browser is required to use a Tor address.
          <a
            href="https://docs.start9.com/latest/user-manual/os-addresses#tor"
            target="_blank"
            rel="noreferrer"
          >
            View instructions
          </a>
        </h2>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="addressInfo.torHostname as torHostname">
      <ion-label class="break-all">
        <h2>Tor</h2>
        <p>{{ torHostname }}</p>
      </ion-label>
      <div slot="end">
        <ion-button fill="clear" (click)="launch(torHostname)">
          <ion-icon
            slot="icon-only"
            size="small"
            name="open-outline"
          ></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="showQR(torHostname)">
          <ion-icon
            size="small"
            slot="icon-only"
            name="qr-code-outline"
          ></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="copyService.copy(torHostname)">
          <ion-icon
            slot="icon-only"
            size="small"
            name="copy-outline"
          ></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-item-group>

  <!-- local -->
  <ion-item-divider>LAN</ion-item-divider>
  <ion-item-group>
    <ion-item>
      <ion-label>
        <h2>
          LAN is fast and private. These addresses can only be accessed from a
          device connected to the same LAN as your server, either directly or
          using a VPN proxy.
          <a
            href="https://docs.start9.com/latest/user-manual/os-addresses#local"
            target="_blank"
            rel="noreferrer"
          >
            View instructions
          </a>
        </h2>
        <div class="ion-padding-top ion-padding-bottom">
          <ion-button (click)="installCert()" strong>
            <ion-icon slot="start" name="download-outline"></ion-icon>
            Download Root CA
          </ion-button>
        </div>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="addressInfo.lanHostname as lanHostname">
      <ion-label class="break-all">
        <h2>Local</h2>
        <p>{{ lanHostname }}</p>
      </ion-label>
      <div slot="end">
        <ion-button fill="clear" (click)="launch(lanHostname)">
          <ion-icon
            slot="icon-only"
            size="small"
            name="open-outline"
          ></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="showQR(lanHostname)">
          <ion-icon
            size="small"
            slot="icon-only"
            name="qr-code-outline"
          ></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="copyService.copy(lanHostname)">
          <ion-icon
            slot="icon-only"
            size="small"
            name="copy-outline"
          ></ion-icon>
        </ion-button>
      </div>
    </ion-item>
    <ng-container *ngFor="let iface of addressInfo.ipInfo | keyvalue">
      <ion-item *ngIf="iface.value.ipv4 as ipv4">
        <ion-label>
          <h2>{{ iface.key }} (IPv4)</h2>
          <p>{{ ipv4 }}</p>
        </ion-label>
        <div slot="end">
          <ion-button fill="clear" (click)="launch(ipv4)">
            <ion-icon
              slot="icon-only"
              size="small"
              name="open-outline"
            ></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="showQR(ipv4)">
            <ion-icon
              size="small"
              slot="icon-only"
              name="qr-code-outline"
            ></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="copyService.copy(ipv4)">
            <ion-icon
              slot="icon-only"
              size="small"
              name="copy-outline"
            ></ion-icon>
          </ion-button>
        </div>
      </ion-item>
      <ion-item *ngIf="iface.value.ipv6 as ipv6">
        <ion-label>
          <h2>{{ iface.key }} (IPv6)</h2>
          <p>{{ ipv6 }}</p>
        </ion-label>
        <div slot="end">
          <ion-button fill="clear" (click)="launch(ipv6)">
            <ion-icon
              slot="icon-only"
              size="small"
              name="open-outline"
            ></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="showQR(ipv6)">
            <ion-icon
              size="small"
              slot="icon-only"
              name="qr-code-outline"
            ></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="copyService.copy(ipv6)">
            <ion-icon
              slot="icon-only"
              size="small"
              name="copy-outline"
            ></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ng-container>
  </ion-item-group>

  <!-- hidden element for downloading cert -->
  <a
    id="install-cert"
    href="/public/eos/local.crt"
    [download]="addressInfo.lanHostname + '.crt'"
  ></a>
</ng-container>
