Source: embassy-os
Maintainer: Aiden McClelland <aiden@start9labs.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 3.9.3
Section: unknown

Package: embassy-os
Section: unknown
Priority: required
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
