Package: embassy-os
Version: 0.3.2
Section: base
Priority: required
Architecture: amd64
Depends: nginx,
  libavahi-client3,
  avahi-daemon,
	avahi-utils,
	iotop,
	bmon,
	lvm2,
	cryptsetup,
	exfat-utils,
	sqlite3,
	wireless-tools,
	net-tools,
	ecryptfs-utils,
	cifs-utils,
	samba-common-bin,
	network-manager,
	vim,
	jq,
	ncdu,
	postgresql,
	pgloader
