<a
  class="tab"
  routerLink="desktop"
  routerLinkActive="tab_active"
  [routerLinkActiveOptions]="{ exact: true }"
>
  <tui-icon icon="tuiIconHome" class="icon" />
</a>
<a
  *ngFor="let tab of tabs$ | async"
  #rla="routerLinkActive"
  class="tab"
  routerLinkActive="tab_active"
  [routerLink]="tab.routerLink"
>
  <tui-icon
    *ngIf="tab.icon.startsWith('tuiIcon'); else url"
    class="icon"
    [icon]="tab.icon"
  />
  <ng-template #url>
    <img class="icon" [src]="tab.icon" [alt]="tab.title" />
  </ng-template>
  <button
    tuiIconButton
    size="xs"
    iconLeft="tuiIconClose"
    appearance="icon"
    class="close"
    (click.stop.prevent)="removeTab(tab.routerLink, rla.isActive)"
  >
    Close
  </button>
</a>
