<ion-header>
  <ion-toolbar>
    <ion-title>Secure LAN</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="system"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-item-group>
    <!-- about -->
    <ion-item class="ion-padding-bottom">
      <ion-label>
        <h2>
          For a secure local connection,
          <a
            href="https://docs.start9.com/latest/user-manual/connecting/connecting-lan"
            target="_blank"
            rel="noreferrer"
            >follow instructions</a
          >
          to download and trust your Embassy's Root Certificate Authority
        </h2>
      </ion-label>
    </ion-item>

    <ion-item button (click)="installCert()">
      <ion-icon slot="start" name="download-outline" size="large"></ion-icon>
      <ion-label>
        <h1>Download Certificate</h1>
      </ion-label>
    </ion-item>
  </ion-item-group>

  <!-- hidden element for downloading cert -->
  <a
    id="install-cert"
    href="/public/eos/local.crt"
    download="Embassy Local CA.crt"
  ></a>
</ion-content>
