<span class="link">
  <img alt="" class="icon" [src]="icon" />
  <label ticker class="title">{{ title }}</label>
</span>
<span class="side">
  <tui-hosted-dropdown
    #dropdown
    [content]="content"
    (click.stop.prevent)="(0)"
    (pointerdown.stop)="(0)"
  >
    <button
      tuiIconButton
      appearance="outline"
      shape="rounded"
      size="xs"
      icon="tuiIconMoreHorizontal"
    >
      Actions
    </button>
    <ng-template #content>
      <app-actions
        [actions]="(actions | toDesktopActions : id | async) || {}"
        (click)="dropdown.openChange.next(false)"
      >
        {{ title }}
      </app-actions>
    </ng-template>
  </tui-hosted-dropdown>
</span>
