<span class="link">
  <tui-badged-content [style.--tui-radius.rem]="1.5">
    <tui-badge-notification *ngIf="badge" size="m" tuiSlot="top">
      {{ badge }}
    </tui-badge-notification>
    <tui-svg
      *ngIf="icon.startsWith('tuiIcon'); else url"
      class="icon"
      [src]="icon"
    ></tui-svg>
    <ng-template #url>
      <img alt="" class="icon" [src]="icon" />
    </ng-template>
  </tui-badged-content>
  <label ticker class="title">{{ title }}</label>
</span>
<span *ngIf="isService" class="side">
  <tui-hosted-dropdown
    #dropdown
    [content]="content"
    (click.stop.prevent)="(0)"
    (pointerdown.stop)="(0)"
  >
    <button
      tuiIconButton
      appearance="outline"
      size="xs"
      iconLeft="tuiIconMoreHorizontal"
      [style.border-radius.%]="100"
    >
      Actions
    </button>
    <ng-template #content>
      <app-actions
        [actions]="actions"
        (click)="dropdown.openChange.next(false)"
      >
        {{ title }}
      </app-actions>
    </ng-template>
  </tui-hosted-dropdown>
</span>
