:host {
  display: flex;
  height: 5.5rem;
  width: 12.5rem;
  border-radius: var(--tui-radius-l);
  overflow: hidden;
  box-shadow: 0 0.25rem 0.25rem rgb(0 0 0 / 25%);
  // TODO: Theme
  background: rgb(111 109 109 / 90%);
}

.link {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 0.25rem;
  padding: 0 0.5rem;
  font: var(--tui-font-text-m);
  white-space: nowrap;
  overflow: hidden;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  box-shadow: 0.25rem 0.25rem 0.25rem rgb(0 0 0 / 25%);
}

.title {
  max-width: 100%;
}

.side {
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.25rem 0.25rem rgb(0 0 0 / 25%);
  // TODO: Theme
  background: #4b4a4a;
}
