ion-item {

  --background: linear-gradient(90deg, var(--ion-color-light), var(--ion-color-primary));
  --min-height: 0px;
  ion-label {
    font-family: 'Open Sans';
    font-size: small;
    text-align: center;
    font-weight: bold;
  }
}