<!-- <marketplace-show-header></marketplace-show-header> -->

<ion-content class="with-widgets">
  <ng-container *ngIf="pkg$ | async as pkg else loading">
    <ng-container *ngIf="pkg | empty; else show">
      <div
        *ngIf="loadVersion$ | async as version"
        class="ion-text-center"
        style="padding-top: 64px"
      >
        <ion-icon
          name="close-circle-outline"
          style="font-size: 48px"
        ></ion-icon>
        <h2>
          {{ pkgId }} @{{ version === '*' ? 'latest' : version }} not found in
          this registry
        </h2>
      </div>
    </ng-container>

    <ng-template #show>
      <marketplace-header>
        <button
          slot="desktop"
          tuiButton
          type="button"
          appearance="icon"
          icon="tuiIconRepeatLarge"
          class="hover:opacity-70 bg-zinc-600 rounded-lg p-2"
          (click)="presentModalMarketplaceSettings()"
        ></button>
        <a
          slot="mobile"
          class="flex relative gap-2 hover:no-underline mb-2 p-2"
          (click)="presentModalMarketplaceSettings()"
        >
          <div class="relative flex flex-shrink-0">
            <img
              alt="Change Registry Icon"
              width="24"
              height="24"
              class="transition block opacity-70 invert"
              src="svg/repeat-outline.svg"
            />
          </div>
          <span
            class="text-base text-zinc-50 text-ellipsis overflow-hidden whitespace-nowrap"
          >
            Change Registry
          </span>
        </a>
      </marketplace-header>
      <marketplace-package>
        <marketplace-show-controls
          class="relative"
          [url]="url"
          [pkg]="pkg"
          [localPkg]="localPkg$ | async"
        ></marketplace-show-controls>
      </marketplace-package>
    </ng-template>
  </ng-container>

  <ng-template #loading>
    <text-spinner text="Loading Package"></text-spinner>
  </ng-template>
</ion-content>
