<ion-content class="ion-padding">
  <ion-grid style="height: 100%; max-width: 500px;">
    <ion-row class="ion-align-items-center" style="height: 100%;">
      <ion-col>
        <ion-card>
          <div style="padding: 20px;">
            <ion-card-header class="ion-text-center">
              <!-- <ion-card-title style="padding-bottom: 36px;">Enter Pin</ion-card-title> -->
              <img src="assets/img/logo.png" style="max-width: 120px;" />
            </ion-card-header>
            <ion-card-content style="padding-top: 30px;">
              <form (submit)="submit()">
                <ion-item-group>
                  <ion-item color="light">
                    <ion-input [type]="unmasked ? 'text' : 'password'" name="pin" placeholder="Enter Pin" [(ngModel)]="pin" (ionChange)="error = ''"></ion-input>
                    <ion-button fill="clear" color="dark" (click)="toggleMask()">
                      <ion-icon slot="icon-only" [name]="unmasked ? 'eye-off-outline' : 'eye-outline'" size="small"></ion-icon>
                    </ion-button>
                  </ion-item>
                  <ion-item *ngIf="error" lines="none">
                    <ion-label class="ion-text-wrap" color="danger">{{ error }}</ion-label>
                  </ion-item>
                </ion-item-group>
                <ion-button color="dark" class="sharp-button" type="submit" [disabled]="!pin" style="margin-top: 60px" expand="block" fill="outline">
                  Next
                </ion-button>
              </form>
            </ion-card-content>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>