<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <pwa-back-button></pwa-back-button>
    </ion-buttons>
    <ion-title>Logs</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="getLogs()">
        <ion-icon slot="start" name="refresh-outline"></ion-icon>
        Refresh
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="ion-content" class="ion-padding">
  <ion-infinite-scroll id="scroller" *ngIf="firstTimeLoaded && needInfinite" position="top" threshold="0" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <text-spinner *ngIf="!firstTimeLoaded" text="Loading Logs"></text-spinner>

  <div id="container"><div id="template" style="white-space: pre-line;"></div></div>

</ion-content>
