@for (cat of categories || fallback | keyvalue: asIsOrder; track $index) {
  <button
    (click)="switchCategory(cat.key)"
    [class.category_selected]="cat.key === category"
  >
    <div class="category-wrapper" [tuiSkeleton]="!categories">
      <tui-icon tuiAppearance="icon" [icon]="determineIcon(cat.key)" />
    </div>
    <span class="category-title" [tuiSkeleton]="categories ? false : 3">
      {{
        cat.key === 'ai' ? (cat.key | uppercase) : (cat.value.name | titlecase)
      }}
    </span>
  </button>
}
