<button
  *ngFor="let cat of categories || fallback | keyvalue"
  (click)="switchCategory(cat.key)"
  [class.category_selected]="cat.key === category"
>
  <div
    class="category-wrapper"
    [class.tui-skeleton]="!categories"
    [class.tui-skeleton_rounded]="!categories"
  >
    <tui-icon tuiAppearance="icon" [icon]="determineIcon(cat.key)" />
  </div>
  <span
    class="category-title"
    [class.tui-skeleton]="!categories"
    [class.tui-skeleton_rounded]="!categories"
  >
    {{
      cat.key === 'ai'
        ? (cat.key | uppercase)
        : (cat.value.name | titlecase) || 'Loading category...'
    }}
  </span>
</button>
