.category_selected {
  font-weight: bold;
}

@media (min-width: 600px) {
  .category_selected {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: #222428;
    opacity: 90;
  }
}

button {
  display: flex;
  position: relative;
  gap: 0.5rem /* 8px */;
  border-top-left-radius: 0.5rem /* 8px */;
  border-bottom-left-radius: 0.5rem /* 8px */;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 75ms;
  transition-duration: 300ms;
  margin-bottom: 1.25rem /* 20px */;
  z-index: 50;

  &:hover {
    text-decoration-line: none;
    cursor: pointer;
  }

  @media (min-width: 640px) {
    width: 120%;
    padding: 0.5rem /* 8px */;
    margin-bottom: 0.75rem /* 12px */;

    &:hover {
      background-color: rgb(34 36 40 / 1);
      opacity: 0.9;
    }
  }
}

.category {
  &-wrapper {
    position: relative;
    display: flex;

    img {
      opacity: 0.7;
      filter: invert(100%);
    }
  }

  &-title {
    font-size: 1rem /* 16px */;
    line-height: 1.5rem /* 24px */;
    color: rgb(250 250 250 / 1);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
