<div class="text-zinc-100 bg-zinc-500 px-3 rounded-full">
  <div class="relative flex items-center">
    <img
      alt="Search icon"
      width="24"
      height="24"
      class="invert"
      src="svg/search.svg"
    />
    <input
      type="text"
      name="search"
      class="mt-1 bg-transparent placeholder-zinc-300 focus:outline-none px-3 py-2"
      placeholder="Search..."
      autocomplete="off"
      [ngModel]="query"
      (ngModelChange)="onModelChange($event)"
    />
  </div>
</div>
