<ion-header>
  <ion-toolbar>
    <ion-title>Create New Job</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item-group>
    <job-options [job]="job"></job-options>

    <ion-item>
      <ion-label>
        <h2>Also Execute Now</h2>
      </ion-label>
      <ion-toggle slot="end" [(ngModel)]="job.now"></ion-toggle>
    </ion-item>
  </ion-item-group>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end" class="ion-padding-end">
      <ion-button
        fill="solid"
        color="primary"
        [disabled]="!job.target || saving"
        (click)="save()"
        class="enter-click btn-128"
        [class.no-click]="saving"
      >
        Save Job
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
