<ion-header>
  <ion-toolbar>
    <div style="padding: 10px 0">
      <ion-title style="font-size: 32px">{{ params.title }}</ion-title>
      <div class="underline"></div>
      <ion-title>
        <i
          >{{ params.action | titlecase
          }}<span *ngIf="params.version"
            >: {{ params.version | displayEmver }}</span
          ></i
        >
      </ion-title>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 36px; height: 100%">
    <swiper
      *ngIf="!error; else hasError"
      (swiper)="setSwiperInstance($event)"
      (slideNextTransitionStart)="loadSlide()"
    >
      <ng-template swiperSlide *ngFor="let slide of params.slides">
        <alert
          #components
          *ngIf="slide.selector === 'alert'"
          [params]="slide.params"
        ></alert>
        <notes
          #components
          *ngIf="slide.selector === 'notes'"
          [params]="slide.params"
        ></notes>
        <dependents
          #components
          *ngIf="slide.selector === 'dependents'"
          [params]="slide.params"
          (onSuccess)="next()"
          (onError)="setError($event)"
        ></dependents>
        <complete
          #components
          *ngIf="slide.selector === 'complete'"
          [params]="slide.params"
          (onSuccess)="dismiss('success')"
          (onError)="setError($event)"
        ></complete>
      </ng-template>
    </swiper>

    <ng-template #hasError>
      <p>
        <ion-text color="danger">{{ error }}</ion-text>
      </p>
    </ng-template>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ng-container *ngIf="!initializing && swiper">
      <ion-buttons slot="end" style="padding-right: 8px">
        <ion-button
          *ngIf="error; else noError"
          (click)="dismiss()"
          class="enter-click"
        >
          <b>Dismiss</b>
        </ion-button>
        <ng-template #noError>
          <ion-button
            *ngIf="!currentSlide.loading && !swiper.isEnd"
            (click)="next()"
            class="enter-click"
            [class.no-click]="currentSlide.loading"
          >
            <b>Continue</b>
          </ion-button>
        </ng-template>
      </ion-buttons>
    </ng-container>
  </ion-toolbar>
</ion-footer>
