<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/services/' + pkgId"></ion-back-button>
    </ion-buttons>
    <ion-title>Actions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top with-widgets">
  <ion-item-group *ngIf="pkg$ | async as pkg">
    <!-- ** standard actions ** -->
    <ion-item-divider>Standard Actions</ion-item-divider>
    <app-actions-item
      [action]="{
        name: 'Uninstall',
        description: 'This will uninstall the service from StartOS and delete all data permanently.',
        icon: 'trash-outline'
      }"
      (click)="tryUninstall(pkg)"
    ></app-actions-item>

    <!-- ** specific actions ** -->
    <ng-container *ngIf="pkg.actions | groupActions as actionGroups">
      <ion-item-divider>Actions for {{ pkg.manifest.title }}</ion-item-divider>
      <div *ngFor="let group of actionGroups" class="ion-padding-bottm">
        <app-actions-item
          *ngFor="let action of group"
          [action]="{
            name: action.name,
            description: action.description,
            icon: 'play-circle-outline'
          }"
          (click)="handleAction(action)"
        ></app-actions-item>
      </div>
    </ng-container>
  </ion-item-group>
</ion-content>
