<div [formGroup]="formGroup">
  <!-- union enum -->
  <ion-item-divider [class.error-border]="formGroup.invalid">
    <form-label
      [data]="{
        name: spec.name,
        description: spec.description || null,
        newOptions: hasNewOptions,
        edited: formGroup.dirty
      }"
    ></form-label>
    <!-- class enter-click disables the enter click on the modal behind the select -->
    <ion-select
      [interfaceOptions]="{
        header: spec.name,
        message: spec.warning | toWarningText,
        cssClass: 'enter-click'
      }"
      slot="end"
      placeholder="Select"
      [formControlName]="unionSelectKey"
      [selectedText]="variantName"
      (ionChange)="updateUnion($event)"
    >
      <ion-select-option
        *ngFor="let option of spec.variants | keyvalue"
        [value]="option.key"
      >
        {{ spec.variants[option.key].name }}
      </ion-select-option>
    </ion-select>
  </ion-item-divider>
  <p class="error-message">
    <span *ngIf="unionControl?.errors as errors">
      {{ errors | getError }}
    </span>
  </p>

  <tui-elastic-container [id]="objectId | toElementId : 'union'" class="indent">
    <form-object
      [objectSpec]="variantSpec"
      [formGroup]="formGroup"
      [current]="current"
      [original]="original"
    ></form-object>
  </tui-elastic-container>
</div>
