:host {
  --tui-chart-0: var(--tui-warning-fill);
  --tui-chart-1: var(--tui-error-fill);
  --tui-chart-2: var(--tui-success-fill);
}

.widget-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.pie-chart {
  margin: 1rem auto;
}
