<tui-input
  [maskito]="mask"
  [tuiTextfieldCustomContent]="color"
  [tuiTextfieldCleaner]="false"
  [tuiHintContent]="spec | hint"
  [readOnly]="readOnly"
  [disabled]="!!spec.disabled"
  [pseudoInvalid]="invalid"
  [(ngModel)]="value"
  (focusedChange)="onFocus($event)"
>
  {{ spec.name }}
  @if (spec.required) {
    <span>*</span>
  }
</tui-input>
<ng-template #color>
  <div class="wrapper" [style.color]="value">
    @if (!readOnly && !spec.disabled) {
      <input
        type="color"
        class="color"
        tabindex="-1"
        [(ngModel)]="value"
        (click.stop)="(0)"
      />
    }
    <tui-icon icon="@tui.paint-bucket" tuiAppearance="icon" class="icon" />
  </div>
</ng-template>
