@import '@taiga-ui/core/styles/taiga-ui-local';

.wrapper {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  pointer-events: auto;

  &::after {
    content: '';
    position: absolute;
    height: 0.3rem;
    width: 1.4rem;
    bottom: 0.125rem;
    background: currentColor;
    border-radius: 0.125rem;
    pointer-events: none;
  }
}

.color {
  @include fullsize();
  opacity: 0;
}

.icon {
  @include fullsize();
  pointer-events: none;

  input:hover + & {
    opacity: 1;
  }
}
