<ion-content class="subheader-padding">

  <config-header [spec]="spec" [error]="error"></config-header>

  <!-- union -->
  <ion-item-group>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-icon size="small" slot="start" *ngIf="!edited"
        style="margin-right: 15px; color: rgba(0,0,0,0); background: radial-gradient(#2a4e8970, #2a4e8970 35%, transparent 35%, transparent);"
        name="ellipse"></ion-icon>
      <ion-icon size="small" slot="start" *ngIf="edited" style="margin-right: 15px" color="primary" name="ellipse">
      </ion-icon>
      <ion-label>{{ spec.tag.name }}</ion-label>
      <ion-select slot="end" [interfaceOptions]="setSelectOptions()" placeholder="Select One"
        [(ngModel)]="value[spec.tag.id]" [selectedText]="spec.tag['variant-names'][value[spec.tag.id]]"
        (ngModelChange)="handleUnionChange()">
        <ion-select-option *ngFor="let option of spec.variants | keyvalue: asIsOrder" [value]="option.key">
          {{ spec.tag['variant-names'][option.key] }}
          <span *ngIf="option.key === spec.default"> (default)</span>
        </ion-select-option>
      </ion-select>
    </ion-item>
    <object-config [cursor]="cursor" (onEdit)="handleObjectEdit()"></object-config>
  </ion-item-group>

</ion-content>