<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="embassy"></ion-back-button>
    </ion-buttons>
    <ion-title (click)="addClick()">Preferences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-item-group *ngIf="name$ | async as name">
    <ion-item-divider>General</ion-item-divider>
    <ion-item button (click)="presentModalName(name)">
      <ion-label>Device Name</ion-label>
      <ion-note slot="end">{{ name.current }}</ion-note>
    </ion-item>

    <ion-item-divider>Marketplace</ion-item-divider>
    <ion-item
      *ngIf="ui$ | async as ui"
      button
      (click)="serverConfig.presentAlert('auto-check-updates', ui['auto-check-updates'])"
    >
      <ion-label>Auto Check for Updates</ion-label>
      <ion-note slot="end">
        {{ ui['auto-check-updates'] ? 'Enabled' : 'Disabled' }}
      </ion-note>
    </ion-item>
  </ion-item-group>
</ion-content>
