<ng-container *ngIf="pkg$ | async as pkg">
  <!-- header -->
  <app-show-header [pkg]="pkg"></app-show-header>

  <!-- content -->
  <ion-content class="ion-padding with-widgets">
    <!-- ** installing, updating, restoring ** -->
    <ng-container *ngIf="showProgress(pkg); else installed">
      <app-show-progress
        *ngIf="pkg | progressData as progressData"
        [pkg]="pkg"
        [progressData]="progressData"
      ></app-show-progress>
    </ng-container>

    <!-- Installed -->
    <ng-template #installed>
      <!-- SECURE -->
      <ng-container *ngIf="secure; else insecure">
        <ng-container *ngIf="pkg | toDependencies as dependencies">
          <ion-item-group *ngIf="pkg | toStatus as status">
            <!-- ** status ** -->
            <app-show-status
              [pkg]="pkg"
              [dependencies]="dependencies"
              [status]="status"
            ></app-show-status>
            <!-- ** installed && !backing-up ** -->
            <ng-container *ngIf="isInstalled(pkg) && !isBackingUp(status)">
              <!-- ** interfaces ** -->
              <app-show-interfaces
                *ngIf="isRunning(status)"
                [pkgId]="pkgId"
              ></app-show-interfaces>
              <!-- ** health checks ** -->
              <app-show-health-checks
                *ngIf="isRunning(status)"
                [pkgId]="pkgId"
              ></app-show-health-checks>
              <!-- ** dependencies ** -->
              <app-show-dependencies
                *ngIf="dependencies.length"
                [dependencies]="dependencies"
              ></app-show-dependencies>
              <!-- ** menu ** -->
              <app-show-menu [buttons]="pkg | toButtons"></app-show-menu>
              <!-- ** additional ** -->
              <app-show-additional [pkg]="pkg"></app-show-additional>
            </ng-container>
          </ion-item-group>
        </ng-container>
      </ng-container>

      <!-- INSECURE -->
      <ng-template #insecure>
        <insecure-warning></insecure-warning>
      </ng-template>
    </ng-template>
  </ion-content>
</ng-container>
