<canvas #canvas>Your browser does not support the canvas element.</canvas>
<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <!-- kiosk mode  -->
        <ng-container *ngIf="isKiosk; else notKiosk">
          <ion-card>
            <ion-row class="ion-align-items-center">
              <ion-col size-xs="12" class="ion-text-center">
                <div class="inline" style="margin-bottom: 3rem">
                  <ion-icon
                    name="checkmark-circle-outline"
                    color="success"
                  ></ion-icon>
                  <h1>Setup Complete!</h1>
                </div>
                <div class="card-container">
                  <ion-card id="exit" (click)="exitKiosk()">
                    <div class="container">
                      <div class="inline">
                        <p>Continue to login</p>
                        <ion-icon name="log-in-outline"></ion-icon>
                      </div>
                    </div>
                  </ion-card>
                </div>
              </ion-col>
            </ion-row>
          </ion-card>
        </ng-container>
        <!-- not kiosk -->
        <ng-template #notKiosk>
          <ion-card>
            <ion-row class="ion-align-items-center">
              <ion-col size-xs="12" class="ion-text-center">
                <div style="margin-bottom: 4rem">
                  <div class="inline">
                    <ion-icon
                      name="checkmark-circle-outline"
                      color="success"
                    ></ion-icon>
                    <h1>Setup Complete!</h1>
                  </div>
                  <h3 *ngIf="setupType === 'restore'">
                    You can now safely unplug your backup drive
                  </h3>
                  <h3 *ngIf="setupType === 'transfer'">
                    You can now safely unplug your old Embassy drive
                  </h3>
                </div>
                <div class="card-container">
                  <ion-card id="information" (click)="download()">
                    <ion-card-content>
                      <ion-card-title
                        >Download permanent address info</ion-card-title
                      >
                      <p>
                        embassy.local was for setup purposes only. It will no
                        longer work.
                      </p>
                    </ion-card-content>
                    <ion-footer>
                      <div class="container">
                        <div class="inline">
                          <p>Download</p>
                          <ion-icon name="download-outline"></ion-icon>
                        </div>
                      </div>
                    </ion-footer>
                  </ion-card>
                  <ion-card
                    [disabled]="disableLogin"
                    id="launch"
                    href="{{ lanAddress }}"
                    target="_blank"
                  >
                    <div class="container">
                      <div class="inline">
                        <p>Go to Embassy login</p>
                        <ion-icon name="open-outline"></ion-icon>
                      </div>
                    </div>
                  </ion-card>
                </div>
              </ion-col>
            </ion-row>
            <!-- download elem -->
            <download-doc hidden id="downloadable"></download-doc>
          </ion-card>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
