<ion-item-group [formGroup]="formGroup">
  <div *ngFor="let entry of formGroup.controls | keyvalue : asIsOrder">
    <ng-container *ngIf="unionSpec && entry.key === 'type'">
        <p class="input-label">{{ unionSpec.tag.name }}</p>
        <ion-item color="dark">
          <ion-label>{{ unionSpec.tag.name }}</ion-label>
          <ion-select slot="end" placeholder="Select" [formControlName]="unionSpec.tag.id" [selectedText]="unionSpec.tag.variantNames[entry.value.value]" (ionChange)="updateUnion($event)">
            <ion-select-option *ngFor="let option of Object.keys(unionSpec.variants)" [value]="option">
              {{ unionSpec.tag.variantNames[option] }}
            </ion-select-option>
          </ion-select>
        </ion-item>
    </ng-container>
    <ng-container *ngIf="objectSpec[entry.key] as spec">
      <!-- primitive -->
      <ng-container *ngIf="['string', 'number', 'boolean', 'enum'] | includes : spec.type">
        <!-- header -->
        <p class="input-label">
          <form-object-header [data]="{ key: key, spec: spec, original: original }"></form-object-header>
        </p>

        <!-- string -->
        <ion-item color="dark" *ngIf="spec.type === 'string'">
          <ion-input [placeholder]="'Enter ' + spec.name" [formControlName]="entry.key"></ion-input>
        </ion-item>
        <!-- number -->
        <ion-item color="dark" *ngIf="spec.type === 'number'">
          <ion-input type="tel" [placeholder]="'Enter ' + spec.name" [formControlName]="entry.key"></ion-input>
          <ion-note *ngIf="spec.units" slot="end" color="light" style="font-size: medium;">{{ spec.units }}</ion-note>
        </ion-item>
        <!-- boolean -->
        <ion-item color="dark" *ngIf="spec.type === 'boolean'">
          <ion-label>{{ spec.name }}</ion-label>
          <ion-toggle style="--background: var(--ion-color-step-600);" slot="end" color="light" [formControlName]="entry.key"></ion-toggle>
        </ion-item>
        <!-- enum -->
        <ion-item color="dark" *ngIf="spec.type === 'enum'">
          <ion-label>{{ spec.name }}</ion-label>
          <ion-select slot="end" placeholder="Select" [formControlName]="entry.key" [selectedText]="spec.valueNames[formGroup.get(entry.key).value]">
            <ion-select-option *ngFor="let option of spec.values" [value]="option">
              {{ spec.valueNames[option] }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ng-container>
      <!-- object or union -->
      <ng-container *ngIf="spec.type === 'object' || spec.type ==='union'">
        <!-- header -->
        <ion-item-divider>
          <form-object-header [data]="{ key: key, spec: spec, original: original }"></form-object-header>
        </ion-item-divider>
        
        <!-- object -->
        <div class="nested-wrapper" *ngIf="spec.type === 'object'">
          <form-object
            [objectSpec]="spec.spec"
            [formGroup]="entry.value"
            [original]="original ? original[key] : undefined"
          ></form-object>
        </div>
        <!-- union -->
        <div class="nested-wrapper" *ngIf="spec.type === 'union'">
          <form-object
            [objectSpec]="spec.variants[entry.value.controls.type.value]"
            [formGroup]="entry.value"
            [original]="original ? original[key] : undefined"
            [unionSpec]="spec"
          ></form-object>
        </div>
      </ng-container>
      <!-- list (not enum) -->
      <ng-container *ngIf="spec.type === 'list' && spec.subtype !== 'enum'">
        <ng-container *ngIf="formGroup.get(entry.key) as formArr" [formArrayName]="entry.key">
          <ion-item-divider>
            <form-object-header [data]="{ key: key, spec: spec, original: original }"></form-object-header>
          </ion-item-divider>
          <div class="nested-wrapper">
            <ion-item-group>
              <div *ngFor="let ip of formArr.controls; let i = index;" class="ion-padding-top">
                <ion-item color="dark">
                  <ion-input [placeholder]="'Enter ' + spec.name" [formControlName]="i"></ion-input>
                  <ion-button slot="end" color="danger" (click)="presentAlertDelete(entry.key, i)">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                  </ion-button>
                </ion-item>
                <ng-container *ngFor="let validation of formService.validationMessages[entry.key + '/' + i]">
                  <p style="font-size: small;" *ngIf="ip.hasError(validation.type) && (ip.dirty || ip.touched)">
                    <ion-text color="danger">{{ validation.message }}</ion-text>
                  </p>
                </ng-container>
              </div>
            </ion-item-group>
            <div style="text-align: right; padding-top: 12px;">
              <ion-button style="text-align: right;" (click)="addListItem(entry.key)">
                <ion-icon slot="start" name="add"></ion-icon>
                New
              </ion-button>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <!-- list (enum) -->
      <ng-container *ngIf="spec.type === 'list' && spec.subtype === 'enum'">
        <ng-container *ngIf="formGroup.get(entry.key) as formArr" [formArrayName]="entry.key">
          <p class="input-label">
            <form-object-header [data]="{ key: key, spec: spec, original: original }"></form-object-header>
          </p>
          <ion-item button detail="false" color="dark" (click)="presentModalEnumList(entry.key, spec, formArr.value)">
            <ion-label>
              <h2>{{ getEnumListDisplay(formArr.value, spec.spec) }}</h2>
            </ion-label>
            <ion-button slot="end" fill="clear" color="light">
              <ion-icon slot="icon-only" name="chevron-down"></ion-icon>
            </ion-button>
          </ion-item>
        </ng-container>
      </ng-container>
      <div *ngFor="let validation of formService.validationMessages[entry.key]">
        <p class="validation-error" *ngIf="formGroup.get(entry.key).hasError(validation.type)">
          <ion-text *ngIf="(formGroup.get(entry.key).dirty || formGroup.get(entry.key).touched)" color="danger">{{ spec.name }}: {{ validation.message }}</ion-text>
        </p>
      </div>
    </ng-container>
  </div>
</ion-item-group>