.help-icon {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 1px;
  padding-right: 6px;
  font-size: 18px;
  color: var(--ion-color-dark);
  cursor: pointer;
}

ion-input {
  font-weight: 500;
  --placeholder-font-weight: 400;
}

ion-item-divider {
  text-transform: unset;
  --padding-start: 0;
  border-bottom: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))))
}

.nested-wrapper {
  padding: 0 0 30px 30px;
  // border-bottom: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))))
}

.validation-error {
  p {
    font-size: small;
    color: var(--ion-color-danger);
  }
}