<ion-item-group [formGroup]="formGroup">
  <ng-container *ngFor="let entry of formGroup.controls | keyvalue : asIsOrder">
    <ng-container *ngIf="objectSpec[entry.key] as spec">
      <!-- file -->
      <form-file
        *ngIf="spec.type === 'file'"
        [spec]="spec"
        [control]="entry.value"
      ></form-file>
      <!-- string or number -->
      <form-input
        *ngIf="spec.type === 'string' || spec.type === 'number'"
        [spec]="spec"
        [name]="entry.key"
        [control]="$any(entry.value)"
        (onInputChange)="handleInputChange()"
      ></form-input>
      <!-- boolean, select or multiselect -->
      <form-select
        *ngIf="
          spec.type === 'boolean' ||
          spec.type === 'select' ||
          spec.type === 'multiselect'
        "
        [spec]="spec"
        [name]="entry.key"
        [control]="$any(entry.value)"
      ></form-select>
      <!-- object -->
      <form-subform
        *ngIf="spec.type === 'object'"
        [spec]="spec"
        [control]="entry.value"
        [hasNewOptions]="objectDisplay[entry.key].hasNewOptions"
      >
        <form-object
          class="nested-wrapper"
          [objectSpec]="spec.spec"
          [formGroup]="$any(entry.value)"
          [current]="current?.[entry.key]"
          [original]="original?.[entry.key]"
          (hasNewOptions)="setHasNew(entry.key)"
        ></form-object>
      </form-subform>
      <!-- union -->
      <form-union
        *ngIf="spec.type === 'union'"
        [spec]="spec"
        [formGroup]="$any(entry.value)"
        [current]="current?.[entry.key]"
        [original]="original?.[entry.key]"
      ></form-union>
      <!-- list -->
      <ng-container *ngIf="spec.type === 'list'">
        <ng-container
          *ngIf="formGroup.get(entry.key) as formArr"
          [formArrayName]="entry.key"
        >
          <!-- label -->
          <ion-item-divider [class.error-border]="entry.value.invalid">
            <form-label
              [data]="{
                name: spec.name,
                description: spec.description,
                edited: entry.value.dirty,
                required: !!(spec.range | toRange).min
              }"
            ></form-label>
            <ion-button
              strong
              fill="clear"
              color="dark"
              slot="end"
              (click)="addListItemWrapper(entry.key, spec)"
            >
              <ion-icon slot="start" name="add"></ion-icon>
              Add
            </ion-button>
          </ion-item-divider>
          <p class="error-message" style="margin-bottom: 8px">
            <span *ngIf="formGroup.get(entry.key)?.errors as errors">
              {{ errors | getError }}
            </span>
          </p>
          <!-- body -->
          <div class="nested-wrapper">
            <div
              *ngFor="
                let abstractControl of $any(formArr).controls;
                let i = index
              "
            >
              <!-- object -->
              <ng-container *ngIf="spec.subtype === 'object'">
                <!-- object label -->
                <ion-item
                  button
                  (click)="toggleExpandListObject(entry.key, i)"
                  [class.error-border]="abstractControl.invalid"
                >
                  <form-label
                    [data]="{
                      name:
                        objectListDisplay[entry.key][i].displayAs ||
                        'Entry ' + (i + 1),
                      description: null,
                      edited: abstractControl.dirty
                    }"
                  ></form-label>
                  <ion-icon
                    slot="end"
                    name="chevron-up"
                    [color]="abstractControl.invalid ? 'danger' : undefined"
                    [ngStyle]="{
                      transform: objectListDisplay[entry.key][i].expanded
                        ? 'rotate(0deg)'
                        : 'rotate(180deg)',
                      transition: 'transform 0.42s ease-out'
                    }"
                  ></ion-icon>
                </ion-item>
                <!-- object/union body -->
                <tui-expand
                  style="padding-left: 24px"
                  [expanded]="objectListDisplay[entry.key][i].expanded"
                  [id]="objectId | toElementId : entry.key : i"
                >
                  <form-object
                    *ngIf="spec.subtype === 'object'"
                    [objectSpec]="$any(spec.spec).spec"
                    [formGroup]="abstractControl"
                    [current]="current?.[entry.key]?.[i]"
                    [original]="original?.[entry.key]?.[i]"
                    (onInputChange)="
                      updateLabel(entry.key, i, $any(spec.spec)['display-as'])
                    "
                  ></form-object>
                  <div style="text-align: right; padding-top: 12px">
                    <ion-button
                      fill="clear"
                      (click)="presentAlertDelete(entry.key, i)"
                      color="danger"
                    >
                      <ion-icon slot="start" name="close"></ion-icon>
                      Delete
                    </ion-button>
                  </div>
                </tui-expand>
              </ng-container>
              <!-- string or number -->
              <div
                *ngIf="spec.subtype === 'string' || spec.subtype === 'number'"
                [id]="objectId | toElementId : entry.key : i"
              >
                <ion-item
                  [color]="(theme$ | async) === 'Light' ? 'light' : 'dark'"
                >
                  <ion-input
                    type="text"
                    [inputmode]="spec.subtype === 'number' ? 'tel' : 'text'"
                    [placeholder]="
                      $any(spec.spec).placeholder || 'Enter ' + spec.name
                    "
                    [formControlName]="i"
                  ></ion-input>
                  <ion-button
                    strong
                    fill="clear"
                    slot="end"
                    color="danger"
                    (click)="presentAlertDelete(entry.key, i)"
                  >
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                  </ion-button>
                </ion-item>
                <p class="error-message">
                  <span
                    *ngIf="
                      $any(formGroup.get(entry.key))?.at(i)?.errors as errors
                    "
                  >
                    {{ errors | getError : $any(spec).patternDescription }}
                  </span>
                </p>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ion-item-group>
