<ng-container *ngIf="localPkg && sameFlavor">
  <div *ngIf="isInstalled(localPkg)">
    <ion-text
      *ngIf="(version | compareExver : localVersion) !== 1"
      color="primary"
    >
      Installed
    </ion-text>
    <ion-text
      *ngIf="(version | compareExver : localVersion) === 1"
      color="success"
    >
      Update Available
    </ion-text>
  </div>

  <div *ngIf="isRemoving(localPkg)">
    <ion-text color="danger">
      Removing
      <span class="loading-dots"></span>
    </ion-text>
  </div>

  <div
    *ngIf="
      isInstalling(localPkg) || isUpdating(localPkg) || isRestoring(localPkg)
    "
  >
    <ion-text
      *ngIf="
        localPkg.stateInfo.installingInfo.progress.overall
          | installingProgressString as progress
      "
      color="primary"
    >
      Installing
      <span class="loading-dots"></span>
      {{ progress }}
    </ion-text>
  </div>
</ng-container>
