<form-label
  class="label"
  [data]="{
    name: spec.name,
    description: spec.description,
    edited: control.dirty
  }"
></form-label>
<ion-item button detail="false" color="dark" (click)="edit.emit()">
  <ion-label class="list">
    <h2>{{ control.value | toEnumListDisplay : $any(spec.spec) }}</h2>
  </ion-label>
  <ion-button slot="end" fill="clear" color="light">
    <ion-icon slot="icon-only" name="chevron-down"></ion-icon>
  </ion-button>
</ion-item>
<p class="error-message">
  <span *ngIf="control.errors as errors">
    {{ errors | getError }}
  </span>
</p>
