@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  max-width: 56rem;
  margin: 0 auto;
}

.loader {
  height: 10rem;
  width: 10rem;
}

.fade {
  @include scrollbar-hidden();

  width: 100%;
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.tiles {
  width: 100%;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 12.5rem);
  grid-auto-rows: min-content;
  gap: 2rem;
  margin: auto;

  &::before,
  &::after {
    content: '';
    grid-column: 1 / -1;
    height: 1rem;
    order: -1;
  }

  &::after {
    order: 999;
  }
}

.remove {
  @include transition(background);
  position: fixed;
  bottom: 0;
  left: calc(50% - 3rem);
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  background: var(--tui-base-02);
  z-index: 10;

  &:hover {
    background: var(--tui-base-01);
  }
}

.item {
  height: 5.5rem;

  &._dragged,
  &._empty {
    border-radius: var(--tui-radius-l);
    box-shadow: inset 0 0 0 0.5rem var(--tui-clear-active);
  }
}
