<ion-item-divider>Status</ion-item-divider>
<ion-item>
  <ion-label class="label">
    <status
      size="x-large"
      weight="500"
      [disconnected]="connectionFailure"
      [installProgress]="(pkg | installState)?.totalProgress"
      [rendering]="PR[status.primary]"
      [sigtermTimeout]="pkg.manifest.main['sigterm-timeout']"
    ></status>
  </ion-label>
</ion-item>

<ng-container *ngIf="isInstalled">
  <ion-item lines="none">
    <ion-button
      *ngIf="isRunning"
      class="action-button"
      slot="start"
      color="danger"
      (click)="stop()"
    >
      <ion-icon slot="start" name="stop-outline"></ion-icon>
      Stop
    </ion-button>

    <ion-button
      *ngIf="isStopped"
      class="action-button"
      slot="start"
      color="success"
      (click)="tryStart()"
    >
      <ion-icon slot="start" name="play-outline"></ion-icon>
      Start
    </ion-button>

    <ion-button
      *ngIf="!pkgStatus.configured"
      class="action-button"
      slot="start"
      color="warning"
      (click)="presentModalConfig()"
    >
      <ion-icon slot="start" name="construct-outline"></ion-icon>
      Configure
    </ion-button>

    <ion-button
      *ngIf="interfaces | hasUi"
      class="action-button"
      slot="start"
      color="primary"
      [disabled]="!(pkg.state | isLaunchable: pkgStatus.main.status:interfaces)"
      (click)="launchUi()"
    >
      <ion-icon slot="start" name="open-outline"></ion-icon>
      Launch UI
    </ion-button>
  </ion-item>
</ng-container>
