ion-icon {
  margin-right: 32px;
}

.highlighted {
  color: var(--ion-color-dark);
  font-weight: bold;
}

.severity {
  font-variant-caps: all-small-caps;
  font-weight: bold;
  letter-spacing: 0.2px;
  font-size: 16px;
}

.line {

  &:after {
    content: '';
    display: block;
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    height: 100%;
    width: 24px;
    position: absolute;
    left: -20px;
    top: -33px;
  }
}

.indent { 
  margin-left: 41px
}

:host ::ng-deep ion-item {
  display: table-row;
  width: fit-content;
}