
<ng-container *ngIf="{ loading: $loading$ | async, disabled: installing || ($loading$ | async) } as l" >
  <ion-item
    class="dependency"
    lines="none"
    >
    <ion-avatar style="position: relative; height: 5vh; width: 5vh; margin: 0px;" slot="start">
      <div *ngIf="!l.loading" class="badge" [style]="badgeStyle"></div>
      <img [src]="dep.iconURL | iconParse" />
    </ion-avatar>
    <ion-label class="ion-text-wrap" style="padding: 1vh; padding-left: 2vh">
      <h4 style="font-family: 'Montserrat'">{{ dep.title }}</h4>
      <p style="font-size: small">{{ dep.versionSpec }}</p>
      <p *ngIf="!l.loading" style="padding-top: 2px; position: relative; font-style: italic; font-size: smaller"><ion-text [color]="color">{{statusText}}</ion-text></p>
      <p *ngIf="l.loading"  style="padding-top: 2px; position: relative; font-style: italic; font-size: smaller"><ion-text color="medium">Refreshing</ion-text></p>
    </ion-label>

    <ion-button size="small" (click)="action()" *ngIf="!installing && !l.loading" color="primary" fill="outline" style="font-size: x-small">
      {{actionText}}
    </ion-button>

    <div slot="end" *ngIf='installing || (l.loading)' >
      <div *ngIf='installing && !(l.loading)' class="spinner">
        <ion-spinner  [color]="color" style="height: 3vh; width: 3vh"  name="dots"></ion-spinner>
      </div>

      <div *ngIf='(l.loading)' class="spinner">
        <ion-spinner  [color]="medium" style="height: 3vh; width: 3vh"  name="lines"></ion-spinner>
      </div>
    </div>
  </ion-item>
</ng-container>

