<ion-header>
  <ion-toolbar>
    <ion-title
      >Select Backup {{ type === 'create' ? 'Target' : 'Source' }}</ion-title
    >
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group *ngIf="targets$ | async as targets; else loading">
    <ion-item
      button
      *ngFor="let target of targets; let i = index"
      (click)="select(target.id)"
    >
      <ng-container *ngIf="target | getDisplayInfo as displayInfo">
        <ion-icon
          slot="start"
          [name]="displayInfo.icon"
          size="large"
        ></ion-icon>
        <ion-label>
          <h1>{{ displayInfo.heading }}</h1>
          <ng-container *ngIf="target.mountable">
            <target-status
              [type]="type"
              [hasValidBackup]="target | hasValidBackup"
            ></target-status>
          </ng-container>
          <h2 *ngIf="!target.mountable" class="inline">
            <ion-icon name="cellular-outline" color="danger"></ion-icon>
            Unable to connect
          </h2>
          <p>Hostname: {{ displayInfo.subheading1 }}</p>
          <p>Path: {{ displayInfo.subheading2 }}</p>
        </ion-label>
      </ng-container>
    </ion-item>
  </ion-item-group>

  <!-- loading -->
  <ng-template #loading>
    <ion-spinner></ion-spinner>
  </ng-template>
</ion-content>
