<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <pwa-back-button></pwa-back-button>
    </ion-buttons>
    <ion-title>WiFi Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['add']">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-item-group>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <p style="padding-bottom: 6px;">About</p>
        <h2>Embassy will automatically connect to available networks, allowing you to remove the Ethernet cable.</h2>
      </ion-label>
    </ion-item>

    <ion-item-divider>Saved Networks</ion-item-divider>
    <ng-container *ngIf="patch.data['server-info']?.wifi as wifi">
      <ion-item button detail="false" *ngFor="let ssid of wifi.ssids" (click)="presentAction(ssid, wifi)">
        <ion-label>{{ ssid }}</ion-label>
        <ion-note slot="end" *ngIf="ssid === wifi.connected"><ion-text color="success">Connected</ion-text></ion-note>
      </ion-item>
    </ng-container>
  </ion-item-group>

</ion-content>