<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <pwa-back-button></pwa-back-button>
    </ion-buttons>
    <ion-title>Wifi</ion-title>
    <ion-buttons slot="end">
      <badge-menu-button></badge-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="lines" refreshingSpinner="lines"></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngIf="error">
    <ion-text class="ion-text-wrap" color="danger">{{ error }}</ion-text>
  </ion-item>

  <ion-item-group>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="warning">Warning!</ion-text>
        <br />
        <br />
        <p>
          <ion-text color="dark">This feature has been temporarily deprecated. If you make changes to WiFi, your Embassy may need to be restarted, and it may become unreachable over Tor for hours. This is an issue with the Tor daemon adjusting to network changes and is on the docket to be fixed.</ion-text>
        </p>
        <!-- <p>Add WiFi credentials to your Embassy so it can connect to the Internet without an ethernet cable.</p> -->
      </ion-label>
    </ion-item>

    <ion-item-divider>Saved Networks</ion-item-divider>
    <ion-item button detail="false" *ngFor="let ssid of (server.wifi | async)?.ssids" (click)="presentAction(ssid)">
      <ion-label>{{ ssid }}</ion-label>
      <ion-icon *ngIf="ssid === (server.wifi | async).current" name="wifi" color="success"></ion-icon>
    </ion-item>
  </ion-item-group>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['add']" class="fab-button">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>