<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="system"></ion-back-button>
    </ion-buttons>
    <ion-title>Domains</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top with-widgets">
  <div class="ion-padding-start ion-padding-end">
    <tui-notification>
      Adding a domains to StartOS enables you to access your server and service
      interfaces on custom clearnet domains.
      <a [href]="docsUrl" target="_blank" rel="noreferrer">View instructions</a>
    </tui-notification>
  </div>

  <ion-item-group *ngIf="domains$ | async as domains">
    <ion-item-divider>
      Start9.me
      <ion-button
        *ngIf="!domains.start9Me"
        class="ion-padding-start"
        strong
        size="small"
        (click)="presentAlertClaimStart9MeDomain()"
      >
        <ion-icon slot="start" name="add-outline"></ion-icon>
        Claim
      </ion-button>
    </ion-item-divider>

    <div class="grid-fixed">
      <ion-grid class="ion-padding">
        <ion-row class="grid-headings">
          <ion-col size="3">Domain</ion-col>
          <ion-col size="2.5">Added</ion-col>
          <ion-col size="2.5">Provider</ion-col>
          <ion-col size="2">In Use</ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>
        <ion-row
          *ngIf="domains.start9Me as start9Me"
          class="ion-align-items-center grid-row-border"
        >
          <ion-col size="3">{{ start9Me.value }}</ion-col>
          <ion-col size="2.5">{{ start9Me.createdAt| date: 'medium' }}</ion-col>
          <ion-col size="2.5">Start9</ion-col>
          <ion-col size="2" *ngIf="start9Me.usedBy as usedBy">
            <a
              *ngIf="usedBy.length as qty; else unused"
              (click)="presentAlertUsedBy(start9Me.value, usedBy)"
            >
              {{ qty }} Interfaces
            </a>
            <ng-template #unused>
              <span>N/A</span>
            </ng-template>
          </ion-col>
          <ion-col size="2">
            <ion-buttons style="float: right">
              <ion-button size="small" (click)="presentAlertDeleteStart9Me()">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-item-divider>
      Custom Domains
      <ion-button
        class="ion-padding-start"
        strong
        size="small"
        (click)="presentModalAdd()"
      >
        <ion-icon slot="start" name="add"></ion-icon>
        Add Domain
      </ion-button>
    </ion-item-divider>

    <div class="grid-fixed">
      <ion-grid class="ion-padding">
        <ion-row class="grid-headings">
          <ion-col size="3">Domain</ion-col>
          <ion-col size="2.5">Added</ion-col>
          <ion-col size="2.5">Provider</ion-col>
          <ion-col size="2">In Use</ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>
        <ion-row
          *ngFor="let domain of domains.custom"
          class="ion-align-items-center grid-row-border"
        >
          <ion-col size="3">{{ domain.value }}</ion-col>
          <ion-col size="2.5">{{ domain.createdAt| date: 'medium' }}</ion-col>
          <ion-col size="2.5">{{ domain.provider }}</ion-col>
          <ion-col size="2" *ngIf="domain.usedBy as usedBy">
            <a
              *ngIf="usedBy.length as qty; else unused"
              (click)="presentAlertUsedBy(domain.value, usedBy)"
            >
              {{ qty }} Interfaces
            </a>
            <ng-template #unused>
              <span>N/A</span>
            </ng-template>
          </ion-col>
          <ion-col size="2">
            <ion-buttons style="float: right">
              <ion-button
                size="small"
                (click)="presentAlertDelete(domain.value)"
              >
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-item-group>
</ion-content>
