<div class="label">
  {{ spec.name }}
  <tui-tooltip
    *ngIf="spec.description || spec.disabled"
    [content]="spec | hint"
  ></tui-tooltip>
  <button
    tuiLink
    type="button"
    class="add"
    [disabled]="!canAdd"
    (click)="add()"
  >
    + Add
  </button>
</div>
<tui-error [error]="order | tuiFieldError | async"></tui-error>

<ng-container *ngFor="let item of array.control.controls; let index = index">
  <form-object
    *ngIf="spec.spec.type === 'object'; else control"
    class="object"
    [class.object_open]="!!open.get(item)"
    [formGroup]="$any(item)"
    [spec]="$any(spec.spec)"
    [@tuiHeightCollapse]="animation"
    [@tuiFadeIn]="animation"
    [open]="!!open.get(item)"
    (openChange)="open.set(item, $event)"
  >
    {{ item.value | mustache : $any(spec.spec).displayAs }}
    <ng-container *ngTemplateOutlet="remove"></ng-container>
  </form-object>
  <ng-template #control>
    <form-control
      class="control"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
      [tuiTextfieldIcon]="remove"
      [formControl]="$any(item)"
      [spec]="$any(spec.spec)"
      [@tuiHeightCollapse]="animation"
      [@tuiFadeIn]="animation"
    ></form-control>
  </ng-template>
  <ng-template #remove>
    <button
      tuiIconButton
      type="button"
      class="remove"
      icon="tuiIconTrash"
      appearance="icon"
      size="m"
      title="Remove"
      (click.stop)="removeAt(index)"
    ></button>
  </ng-template>
</ng-container>
