.grid-wiz {
  --ion-grid-padding: 36px;
  height: 100%
}

.wiz-icon {
  font-size: 84px;
}

.wiz-card {
  background: #414141;
  margin: 24px;
  padding: 16px;
  height: 280px;
  border-radius: 16px;
  display: grid;

  & h2 {
    font-weight: 600;
  }
}

.wiz-card-button {
  justify-self: center;
  white-space: normal;
}

.wiz-spinner {
  width: 14px;
  height: 14px;
}

.disabled {
  filter: saturate(0.2) contrast(0.5)
}

.wiz-step {
  margin-top: 4px;
}

.inline-center {
  display: inline-flex;
  align-items: center;
}