<ng-container *ngIf="localPkg; else install">
  <!-- not installing, updating, or removing -->
  <ng-container *ngIf="localPkg.state === PackageState.Installed">
    <ion-button
      *ngIf="(version | compareEmver: pkg.manifest.version) === -1"
      expand="block"
      (click)="presentModal('update')"
    >
      Update
    </ion-button>
    <ion-button
      *ngIf="(version | compareEmver: pkg.manifest.version) === 1"
      expand="block"
      color="warning"
      (click)="presentModal('downgrade')"
    >
      Downgrade
    </ion-button>
    <ng-container *ngIf="localStorageService.showDevTools$ | async">
      <ion-button
        *ngIf="(version | compareEmver: pkg.manifest.version) === 0"
        expand="block"
        (click)="tryInstall()"
      >
        Reinstall
      </ion-button>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #install>
  <ion-button expand="block" (click)="tryInstall()">Install</ion-button>
</ng-template>
