<ion-item style="--padding-start: 0">
  <form-label
    [data]="{
      name: spec.name,
      description: spec.description || null,
      edited: control.dirty
    }"
  ></form-label>
  <div slot="end">
    <ion-button
      *ngIf="!control.value; else hasFile"
      strong
      color="dark"
      size="small"
      (click)="uploadFile.click()"
    >
      Browse...
    </ion-button>
    <input
      type="file"
      [accept]="spec.extensions.join(',')"
      style="display: none"
      #uploadFile
      (change)="handleFileInput($event)"
    />
    <ng-template #hasFile>
      <div class="inline">
        <p class="ion-padding-end">{{ control.value.name }}</p>
        <div style="cursor: pointer" (click)="clearFile()">
          <ion-icon name="close"></ion-icon>
        </div>
      </div>
    </ng-template>
  </div>
</ion-item>
<p class="error-message">
  <span *ngIf="control.errors as errors">
    {{ errors | getError }}
  </span>
</p>
