<div
  class="rounded-xl bg-gradient-to-bl from-zinc-400/75 to-zinc-600 p-px shadow-lg shadow-zinc-400/10"
>
  <div *ngIf="pkg$ | async as pkg" class="bg-zinc-800 rounded-xl p-7">
    <div class="grid grid-flow-row items-center gap-6">
      <div class="flex justify-between">
        <h3 class="text-lg font-bold small-caps">
          What's new in
          <b>{{ pkg.manifest.version }}</b>
        </h3>
        <p
          *ngIf="pkg['published-at'] as published"
          class="text-base font-light small-caps mb-1 text-zinc-300"
        >
          Latest Release - {{ published | date : 'medium' }}
        </p>
      </div>
      <div class="flex flex-wrap justify-between gap-6">
        <p
          class="text-base mt-1 flex-wrap"
          [innerHTML]="pkg.manifest['release-notes']"
        ></p>
        <button
          tuiButton
          type="button"
          appearance="secondary"
          size="m"
          class="mt-3 place-self-end sm:place-self-start md:place-self-start lg:place-self-end"
          (click)="showReleaseNotes(template)"
        >
          Previous releases
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #template let-observer>
  <ng-container *ngIf="notes$ | async as notes; else loading">
    <tui-accordion
      class="max-w-lg"
      [closeOthers]="false"
      *ngFor="let note of notes | keyvalue : asIsOrder"
    >
      <tui-accordion-item class="my-1">
        {{ note.key | displayEmver }}
        <ng-template tuiAccordionItemContent>
          <p safeLinks [innerHTML]="note.value | markdown | dompurify"></p>
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
  </ng-container>

  <ng-template #loading>
    <text-spinner text="Loading Release Notes"></text-spinner>
  </ng-template>
</ng-template>
