.box-container {
  background-color: rgb(39 39 42);
  border-radius: 0.75rem;
  padding: 1.75rem;
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  gap: 1.5rem;

  &-title {
    display: block;

    h3 {
      font-size: 1.125rem;
      line-height: 1.75rem;
      font-weight: 700;
    }

    p {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 300;
      margin-bottom: 0.25rem;
      color: rgb(212 212 216);
    }

    &-date {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }

  &-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;

    &-version {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    &-notes {
      flex-wrap: wrap;
      margin-top: 0.25rem;
    }

    button {
      margin-top: 0.75rem;
      place-self: end;

      // @media (min-width: 640px) {
      //   place-self: start;
      // }

      @media (min-width: 768px) {
        place-self: start;
      }

      @media (min-width: 1024px) {
        place-self: end;
      }
    }
  }
}