<div class="background-border box-shadow-lg">
  <div class="box-container">
    <div class="box-container-title">
      <h3 class="small-caps">What's new</h3>
      <p *ngIf="pkg['published-at'] as published">
        <span class="small-caps">Latest Release</span>
        &nbsp;-&nbsp;
        <span class="box-container-title-date">
          {{ published | date: 'medium' }}
        </span>
      </p>
    </div>
    <div class="box-container-details">
      <div class="box-container-details-version">
        <p>Version {{ pkg.manifest.version }}</p>
        <p
          safeLinks
          class="box-container-details-notes"
          [innerHTML]="pkg.manifest['release-notes'] | markdown | dompurify"
        ></p>
      </div>
      <button
        tuiButton
        type="button"
        appearance="secondary"
        size="m"
        (click)="showReleaseNotes(template)"
      >
        Previous releases
      </button>
    </div>
  </div>
</div>

<ng-template #template let-observer>
  <ng-container *ngIf="notes$ | async as notes; else loading">
    <tui-accordion
      class="max-width-lg"
      style="max-width: 32rem"
      [closeOthers]="false"
      *ngFor="let note of notes | keyvalue: asIsOrder"
    >
      <tui-accordion-item style="margin: 0.25rem 0">
        {{ note.key | displayEmver }}
        <ng-template tuiAccordionItemContent>
          <p safeLinks [innerHTML]="note.value | markdown | dompurify"></p>
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
  </ng-container>

  <ng-template #loading>
    <tui-loader textContent="Loading Release Notes" />
  </ng-template>
</ng-template>
