<ion-content color="light">
  <ion-grid style="padding-top: 32px; height: 100%; max-width: 540px;">
    <ion-row style="height: 100%;">
      <ion-col class="ion-text-center">

        <div style="padding-bottom: 32px;">
          <img src="assets/png/logo.png" style="max-width: 240px;" />
        </div>

        <ion-card color="dark">
          <ion-card-header class="ion-text-center" style="padding-bottom: 8px;">
            <ion-card-title>{{ loading ? 'Loading Recovery Drives' : 'Select Recovery Drive'}}</ion-card-title>
          </ion-card-header>


          <ion-card-content class="ion-margin">
            <ng-container *ngIf="!loading && !recoveryDrives.length">
              <h2 color="light">No recovery drives found</h2>
              <p color="light">Please connect a recovery drive to your embassy and refresh the page.</p>
              <ion-button 
                (click)="window.location.reload()"
                style="text-align:center"
                class="claim-button"
              >
                Refresh
              </ion-button>
            </ng-container>

            <ion-item-group>
              <ng-container *ngIf="loading">
                <ion-item button color="light" lines="none">
                  <ion-avatar slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-avatar>
                  <ion-label class="ion-text-wrap">
                    <ion-skeleton-text style="width: 80%; margin: 13px 0;" animated></ion-skeleton-text>
                    <ion-skeleton-text style="width: 60%; margin: 10px 0;" animated></ion-skeleton-text>
                    <ion-skeleton-text style="width: 30%; margin: 8px 0;" animated></ion-skeleton-text>
                  </ion-label>
                </ion-item>
              </ng-container>
              <ng-container *ngIf="recoveryDrives.length">
                <ion-item (click)="chooseDrive(drive)" class="ion-margin-bottom" button color="light" lines="none" *ngFor="let drive of recoveryDrives" [ngClass]="drive.logicalname === selectedDrive?.logicalname ? 'selected' : null">
                  <ion-icon slot="start" name="save-outline"></ion-icon>
                  <ion-label class="ion-text-wrap">
                    <h1>{{ drive.logicalname }}</h1>
                    <h2>{{ drive['embassy-os'].name }}</h2>
                    <p> Embassy version: {{drive['embassy-os'].version}}</p>
                  </ion-label>
                  <ion-icon *ngIf="drive['embassy-os'].version.startsWith('0.2') || passwords[drive.logicalname]" color="success" slot="end" name="lock-open-outline"></ion-icon>
                  <ion-icon *ngIf="!drive['embassy-os'].version.startsWith('0.2') && !passwords[drive.logicalname]" color="danger" slot="end" name="lock-closed-outline"></ion-icon>

                </ion-item>
              </ng-container>
              <ion-button 
                  (click)="selectRecoveryDrive()"
                  [disabled]="!selectedDrive || (!passwords[selectedDrive.logicalname] && !selectedDrive['embassy-os'].version.startsWith('0.2'))"
                  class="claim-button"
                >
                  Next
                </ion-button>
            </ion-item-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
