<a
  class="tab"
  routerLink="desktop"
  routerLinkActive="tab_active"
  [routerLinkActiveOptions]="{ exact: true }"
>
  <tui-svg src="tuiIconHomeLarge" class="icon"></tui-svg>
</a>
<a
  *ngFor="let tab of tabs$ | async"
  #rla="routerLinkActive"
  class="tab"
  routerLinkActive="tab_active"
  [routerLinkActiveOptions]="{ exact: true }"
  [routerLink]="tab.routerLink"
>
  <tui-svg
    *ngIf="tab.icon.startsWith('tuiIcon'); else url"
    class="icon"
    [src]="tab.icon"
  ></tui-svg>
  <ng-template #url>
    <img class="icon" [src]="tab.icon" [alt]="tab.title" />
  </ng-template>
  <button
    tuiIconButton
    size="xs"
    iconLeft="tuiIconClose"
    appearance="icon"
    class="close"
    (click.stop.prevent)="removeTab(tab, rla.isActive)"
  >
    Close
  </button>
</a>
