:host {
  height: 3rem;
  display: flex;
  // TODO: Theme
  background: rgb(97 95 95 / 84%);
}

.tab {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5rem;

  &_active {
    // TODO: Theme
    background: #373a3f;
  }
}

.icon {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}

.home {
  color: var(--tui-base-08);
}
