<a
  class="tab"
  routerLink="desktop"
  routerLinkActive="tab_active"
  [routerLinkActiveOptions]="{ exact: true }"
>
  <tui-svg src="tuiIconHomeLarge" class="home"></tui-svg>
</a>
<a
  *ngFor="let tab of tabs$ | async"
  #rla="routerLinkActive"
  class="tab"
  routerLinkActive="tab_active"
  [routerLinkActiveOptions]="{ exact: true }"
  [routerLink]="tab.routerLink"
>
  <img class="icon" [src]="tab.icon" [alt]="tab.title" />
  <button
    tuiIconButton
    size="xs"
    icon="tuiIconClose"
    appearance="icon"
    class="close"
    (click.stop.prevent)="removeTab(tab, rla.isActive)"
  >
    Close
  </button>
</a>
