ion-item-divider {
	padding-bottom: 12px;
	padding-left: 16px;
}

ion-item-group {
	background-color: #1e2024;
	border: 1px solid #717171;
	border-radius: 6px;
}

ion-item {
	--background: #1e2024;
}
