<ion-item
  button
  *ngIf="pkg.entry.manifest as manifest"
  detail="false"
  class="service-card"
  [routerLink]="['/services', manifest.id]"
>
  <app-list-icon slot="start" [pkg]="pkg"></app-list-icon>
  <ion-thumbnail slot="start">
    <img alt="" [src]="pkg.entry.icon" />
  </ion-thumbnail>
  <ion-label>
    <h2 ticker>{{ manifest.title }}</h2>
    <p>{{ manifest.version | displayEmver }}</p>
    <status
      [rendering]="pkg.primaryRendering"
      [installProgress]="pkg.entry['install-progress']"
      weight="bold"
      size="small"
    ></status>
  </ion-label>
  <ng-container *ngIf="pkg.entry.installed as installed">
    <ion-button
      *ngIf="installed['address-info'] | hasUi"
      slot="end"
      fill="clear"
      color="primary"
      (click)="openPopover($event)"
      [disabled]="status !== 'running'"
    >
      <ion-icon slot="icon-only" name="open-outline"></ion-icon>
    </ion-button>
    <ion-popover
      #popover
      [isOpen]="isPopoverOpen"
      (didDismiss)="isPopoverOpen = false"
      mode="ios"
      type="event"
    >
      <ng-template>
        <ion-content>
          <ion-item-group>
            <ng-container
              *ngFor="let uiAddress of installed['address-info'] | uiAddresses"
            >
              <ion-item-divider>{{ uiAddress.name }}</ion-item-divider>
              <ion-item button *ngFor="let address of uiAddress.addresses">
                <ion-label>
                  <h2>{{ address | addressType }}</h2>
                  <p>{{ address }}</p>
                </ion-label>
              </ion-item>
            </ng-container>
          </ion-item-group>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ng-container>
</ion-item>
