<ion-item button detail="false" [routerLink]="['/services', manifest.id]">
  <app-list-icon slot="start" [pkg]="pkg"></app-list-icon>
  <ion-thumbnail slot="start">
    <img alt="" [src]="pkg.entry['static-files'].icon" />
  </ion-thumbnail>
  <ion-label>
    <h2>{{ manifest.title }}</h2>
    <p>{{ manifest.version | displayEmver }}</p>
    <status
      [rendering]="pkg.primaryRendering"
      [installProgress]="pkg.entry['install-progress']"
      weight="bold"
      size="small"
      [sigtermTimeout]="manifest.main['sigterm-timeout']"
    ></status>
  </ion-label>
  <ion-button
    *ngIf="manifest.interfaces | hasUi"
    slot="end"
    fill="clear"
    color="primary"
    (click)="launchUi($event)"
    [disabled]="!(pkg.entry.state | isLaunchable: status:manifest.interfaces)"
  >
    <ion-icon slot="icon-only" name="open-outline"></ion-icon>
  </ion-button>
</ion-item>
