<ion-header>
  <ion-toolbar>
    <ion-title>Updates</ion-title>
    <ion-buttons slot="end">
      <badge-menu-button></badge-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="hosts$ | async as hosts">
    <ng-container *ngIf="updateRequests$ | async as requests">
      <ng-container *ngIf="marketplaceCache$ | async as cache">
        <ng-container *ngIf="localPkgs$ | async as localPkgs">
          <ion-item-group>
            <ng-container *ngFor="let reqMap of requests | keyvalue">
              <ion-item-divider
                >{{ hosts[reqMap.key] ? hosts[reqMap.key] : reqMap.key
                }}</ion-item-divider
              >

              <skeleton-list
                *ngIf="requests[reqMap.key] === RequestStatus.Active"
                [showAvatar]="true"
              ></skeleton-list>

              <ion-item *ngIf="requests[reqMap.key] === RequestStatus.Failed">
                <ion-text color="danger">Request Failed</ion-text>
              </ion-item>

              <ng-container
                *ngIf="requests[reqMap.key] === RequestStatus.Complete"
              >
                <ng-container
                  *ngIf="cache[reqMap.key].packages | filterUpdates: localPkgs as updates"
                >
                  <ng-container *ngIf="updates.length; else noUpdates">
                    <ion-item *ngFor="let pkg of updates">
                      <ion-avatar slot="start">
                        <img
                          [src]="'data:image/png;base64,' + pkg.icon | trustUrl"
                        />
                      </ion-avatar>
                      <ion-label>
                        <h1>{{ pkg.manifest.title }}</h1>
                        <h2 class="inline">
                          <span
                            >{{ localPkgs[pkg.manifest.id].manifest.version
                            }}</span
                          >
                          &nbsp;<ion-icon name="arrow-forward"></ion-icon>&nbsp;
                          <ion-text color="success">
                            {{ pkg.manifest.version }}</ion-text
                          >
                        </h2>
                        <p
                          [innerHTML]="pkg.manifest['release-notes'] | markdown"
                        ></p>
                      </ion-label>
                      <ion-button
                        slot="end"
                        fill="clear"
                        (click)="update(pkg.manifest.id, reqMap.key)"
                      >
                        Update
                      </ion-button>
                    </ion-item>
                  </ng-container>

                  <ng-template #noUpdates>
                    <ion-item>
                      <p>All services are up to date</p>
                    </ion-item>
                  </ng-template>
                </ng-container>
              </ng-container>
            </ng-container>
          </ion-item-group>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ion-content>
