.item-container {
  border-bottom: 1px solid #373737;
  padding: 12px 0;
}

.notes {
  margin-left: 20px;

  h5 {
    font-weight: 600;
  }
}

ion-item-divider {
  --padding-top: 8px;
  --padding-bottom: 8px;
  --background: var(--ion-color-medium-tint);
}

ion-item {
  --background-hover: none;
  
  &::part(native) {
    cursor: context-menu;
  }
}