.header {
  padding: .7rem;
  background: #2c2f33;

  &_items {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  &_title {
    padding-left: 16px;
    h2 {
      font-weight: 600;
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
}

.item-container {
  border-bottom: 1px solid #373737;
  padding: 12px 0;
}

img {
  height: 85%;
  width: 85%;
}

.notes {
  margin-left: 20px;

  h5 {
    font-weight: 600;
  }
}

ion-item {
  --background-hover: none;
  
  &::part(native) {
    cursor: context-menu;
  }
}