<ion-header>
  <ion-toolbar>
    <ion-title>Select Server to Restore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item
    *ngFor="let server of servers"
    button
    (click)="select(server)"
    lines="none"
  >
    <ion-label>
      <h2>
        <b>Local Hostname</b>
        : {{ server.hostname }}.local
      </h2>
      <h2>
        <b>StartOS Version</b>
        : {{ server.version }}
      </h2>
      <h2>
        <b>Created</b>
        : {{ server.timestamp | date : 'medium' }}
      </h2>
    </ion-label>
  </ion-item>
</ion-content>
