<ion-item style="--padding-start: 0">
  <form-label
    [data]="{
      name: spec.name,
      description: spec.description || null,
      edited: control.dirty
    }"
  ></form-label>
  <!-- boolean -->
  <ion-toggle
    *ngIf="spec.type === 'boolean'"
    formWarning
    #warning="formWarning"
    slot="end"
    [formControl]="control"
    (ionChange)="warning.onChange(name, spec, undefined, cancelBool)"
  ></ion-toggle>
  <!-- select -->
  <!-- adding class enter-click disables the enter click on the modal behind the select -->
  <ion-select
    *ngIf="spec.type === 'select' || spec.type === 'multiselect'"
    [interfaceOptions]="{
      header: spec.name,
      message: spec.warning | toWarningText,
      cssClass: 'enter-click'
    }"
    slot="end"
    placeholder="Select"
    [multiple]="spec.type === 'multiselect'"
    [formControl]="control"
    [selectedText]="
      spec.type === 'multiselect' && control.value?.length > 1
        ? '[' + control.value.length + ' selected]'
        : spec.values[control.value]
    "
  >
    <ion-select-option
      *ngFor="let option of spec.values | keyvalue"
      [value]="option.key"
    >
      {{ option.value }}
    </ion-select-option>
  </ion-select>
</ion-item>
<p class="error-message">
  <span *ngIf="control.errors as errors">
    {{ errors | getError }}
  </span>
</p>
