ion-content {
  --padding-top: 2.2rem;
  --padding-bottom: 2.2rem;
  --padding-start: 2.2rem;
  --padding-end: 2.2rem;
}

.title {
  font-size: 28px;
  font-weight: 600;
}

.subtitle {
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 30px;
  margin-top: 0;
}

ol {
  font-size: 17px;
  line-height: 25px;

  li {
    padding-bottom: 24px;
  }

  ion-button {
    margin-top: 8px;
  }
}

a {
  cursor: pointer;
  color: aquamarine;
  text-decoration: underline;
}

.wiz-icon {
  font-size: 64px;
}
