<h1 class="heading">
  Widgets
  <ion-button class="edit" fill="clear" color="primary" (click)="toggle()">
    <ion-icon [name]="edit ? 'checkmark-outline' : 'pencil-outline'"></ion-icon>
  </ion-button>
  <ion-button fill="clear" color="primary" (click)="add()">
    <ion-icon name="duplicate-outline"></ion-icon>
  </ion-button>
  <ion-button
    fill="clear"
    color="primary"
    class="close"
    (click)="context?.$implicit?.complete()"
  >
    <ion-icon name="close-outline"></ion-icon>
  </ion-button>
</h1>
<!-- TODO: Fix resize lag in Taiga UI -->
<tui-tiles
  *tuiLet="isMobile$ | async as isMobile"
  class="wrapper"
  [debounce]="500"
  [(order)]="order"
>
  <tui-tile
    *ngFor="let item of items; let index = index"
    class="item"
    [class.item_edit]="edit"
    [width]="isMobile ? 1 : item.w"
    [height]="getHeight(!!isMobile, index)"
    [style.order]="order.get(index)"
  >
    <div class="content">
      <ng-container [ngSwitch]="item.content">
        <ng-container *ngSwitchCase="'health'">
          <iframe
            class="iframe"
            src="https://angular-izrx5j.stackblitz.io"
            title="Health widget"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </ng-container>
        <ng-container *ngSwitchCase="'backup'">
          <h2 class="title">Backup status</h2>
          Last backup was 1 day ago
          <ion-icon name="archive-outline" class="icon"></ion-icon>
        </ng-container>
        <ng-container *ngSwitchCase="'achievements'">
          <h2 class="title">Achievements</h2>
          Unlock new levels in your self-hosting journey
          <ion-icon name="trophy-outline" class="icon"></ion-icon>
        </ng-container>
        <ng-container *ngSwitchCase="'rick'">
          <iframe
            class="iframe"
            src="https://www.youtube.com/embed/dQw4w9WgXcQ"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </ng-container>
        <ng-container *ngSwitchCase="'network'">
          <iframe
            class="iframe"
            src="https://angular-pmru5y.stackblitz.io"
            title="Network widget"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </ng-container>
        <ng-container *ngSwitchCase="'stats'">
          <div class="stats" [class.stats_mobile]="isMobile">
            <div class="stat">
              <ion-icon class="stat-icon" name="server-outline"></ion-icon>
              <div>
                30%
                <div class="description">Storage</div>
              </div>
            </div>
            <div class="stat">
              <ion-icon
                class="stat-icon"
                name="hardware-chip-outline"
              ></ion-icon>
              <div>
                10%
                <div class="description">CPU</div>
              </div>
            </div>
            <div class="stat">
              <ion-icon class="stat-icon" name="stats-chart-outline"></ion-icon>
              <div>
                10%
                <div class="description">Memory</div>
              </div>
            </div>
            <div class="stat">
              <ion-icon class="stat-icon" name="thermometer-outline"></ion-icon>
              <div>
                50.6⁰C
                <div class="description">Temp</div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <ion-icon name="move" tuiTileHandle class="handle"></ion-icon>
    <ion-icon
      name="trash-outline"
      class="remove"
      (click)="onRemove(index)"
    ></ion-icon>
  </tui-tile>
</tui-tiles>
