.wrapper {
  gap: 24px;
  grid-auto-rows: 100px;
  margin: 40px;
}

.item {
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.1);
  border-radius: 24px;

  @media screen and (max-width: 991px) {
    --tui-width: 1;
    --tui-height: var(--mobile-height, 2);
  }
}

.content {
  height: 100%;
  text-align: center;
  background: #333;
  border-radius: 24px;
  padding: 24px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
}

.rick {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
}

.handle {
  position: absolute;
  left: 24px;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
  opacity: 0;
  transition: opacity 0.3s;

  &:active,
  .item:hover & {
    opacity: 1;
  }

  tui-tile._dragged & {
    pointer-events: none;
  }
}

.ring {
  margin: 0 auto;
  transform: scale(0.75);
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.3));

  --tui-chart-0: #e5d53e;
  --tui-chart-1: #3a7be0;
  --tui-chart-2: #27be5a;
}

.icon {
  display: block;
  margin: 20px auto;
  font-size: 100px;
  color: #27be5a;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.3));
}

.network {
  display: flex;
  align-items: center;
  justify-content: space-around;

  --tui-chart-0: #27be5a;

  @media screen and (max-width: 991px) {
    flex-direction: column;
    height: 100%;
  }
}

.progress {
  color: #27be5a;
}

.label {
  font-size: 13px;
  font-weight: bold;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  text-align: center;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 991px) {
    width: 50%;
  }
}

.stat-icon {
  font-size: 32px;
  margin: 12px;
}

.description {
  color: #3a7be0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
