:host {
  overflow: auto;
}

.title {
  margin-right: auto;
}

.loader {
  width: 24px;
  color: var(--ion-color-tertiary);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 14px 0;
  padding-left: 40px;

  :host.dialog & {
    margin: 0;
    padding: 0;
    font-size: 24px;
  }
}

.wrapper {
  gap: 24px;
  grid-auto-rows: 100px;
  grid-auto-columns: 1fr;
  margin: 40px;

  :host.dialog & {
    margin: 40px 0;
  }
}

.item {
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.1);
  border-radius: 24px;
}

.content {
  height: 100%;
  text-align: center;
  background: #333;
  border-radius: 24px;
  padding: 24px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s;

  .item_edit & {
    opacity: var(--tui-disabled-opacity);
    pointer-events: none;
  }
}

.handle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: move;

  .item:not(.item_edit) & {
    pointer-events: none;
  }
}

.remove,
.settings,
.pending {
  position: absolute;
  right: 24px;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  padding: 10px;
  box-sizing: content-box;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;

  .item_edit & {
    pointer-events: auto;
    opacity: 1;
  }
}

.settings {
  left: 24px;
}
