.wrapper {
  gap: 24px;
  grid-auto-rows: 100px;
  grid-auto-columns: 1fr;
  margin: 40px;
}

.item {
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.1);
  border-radius: 24px;
}

.content {
  height: 100%;
  text-align: center;
  background: #333;
  border-radius: 24px;
  padding: 24px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: inherit;
}

.handle {
  position: absolute;
  left: 24px;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: inherit;
  opacity: 0;
  transition: opacity 0.3s;

  &:active,
  .item:hover & {
    opacity: 1;
  }

  @media (pointer: coarse) {
    opacity: 1;
  }
}

.icon {
  display: block;
  margin: 20px auto;
  font-size: 100px;
  color: #27be5a;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.3));
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  text-align: center;

  &_mobile .stat {
    width: 50%;
  }
}

.stat {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-icon {
  font-size: 32px;
  margin: 12px;
}

.description {
  color: #3a7be0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
