<alert *ngIf="show$ | async" header="Refresh Needed" (dismiss)="onDismiss()">
  <ng-container *ngIf="!onPwa; else pwa">
    Your user interface is cached and out of date. Hard refresh the page to get
    the latest UI.
    <ul>
      <li>
        <b>On Mac</b>
        : cmd + shift + R
      </li>
      <li>
        <b>On Linux/Windows</b>
        : ctrl + shift + R
      </li>
      <li>
        <b>On Android/iOS</b>
        : Browser specific, typically a refresh button in the browser menu.
      </li>
    </ul>
  </ng-container>
  <ng-template #pwa>
    Your user interface is cached and out of date. Attempt to reload the PWA
    using the button below. If you continue to see this message, uninstall and
    reinstall the PWA.
  </ng-template>
  <!-- alertButton needs to be a direct child of alert element for ionic styling -->
  <a *ngIf="!onPwa" alertButton class="enter-click" role="cancel">Ok</a>
  <a *ngIf="onPwa" alertButton (click)="pwaReload()" role="cancel">Reload</a>
</alert>
