<div class="action-buttons">
  <ion-button
    *ngIf="localPkg && localPkg.stateInfo.state !== 'removing'"
    expand="block"
    color="primary"
    [routerLink]="['/services', pkg.id]"
  >
    {{
      localPkg.stateInfo.state === 'installed'
        ? 'View Installed'
        : 'View Installing'
    }}
  </ion-button>
  <ng-container *ngIf="localPkg; else install">
    <ng-container
      *ngIf="
        localPkg.stateInfo.state === 'installed' &&
        (localPkg | toManifest) as manifest
      "
    >
      <ion-button
        *ngIf="(manifest.version | compareExver : pkg.version) === -1"
        expand="block"
        color="success"
        (click)="tryInstall()"
      >
        Update
      </ion-button>
      <ion-button
        *ngIf="(manifest.version | compareExver : pkg.version) === 1"
        expand="block"
        color="warning"
        (click)="tryInstall()"
      >
        Downgrade
      </ion-button>
      <ng-container *ngIf="showDevTools$ | async">
        <ion-button
          *ngIf="(manifest.version | compareExver : pkg.version) === 0"
          expand="block"
          color="success"
          (click)="tryInstall()"
        >
          Reinstall
        </ion-button>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #install>
    <ion-button
      expand="block"
      [color]="localFlavor ? 'warning' : 'success'"
      (click)="tryInstall()"
    >
      {{ localFlavor ? 'Switch' : 'Install' }}
    </ion-button>
  </ng-template>
</div>
