<ion-item
  button
  *ngIf="pkg.entry | toManifest as manifest"
  detail="false"
  class="service-card"
  [routerLink]="['/services', manifest.id]"
>
  <app-list-icon slot="start" [pkg]="pkg"></app-list-icon>
  <ion-thumbnail slot="start">
    <img alt="" [src]="pkg.entry.icon" />
  </ion-thumbnail>
  <ion-label>
    <h2 ticker>{{ manifest.title }}</h2>
    <p>{{ manifest.version }}</p>
    <status
      [rendering]="pkg.primaryRendering"
      [installingInfo]="$any(pkg.entry.stateInfo).installingInfo"
      weight="bold"
      size="small"
      [sigtermTimeout]="sigtermTimeout"
    ></status>
  </ion-label>
  <ion-button
    *ngIf="pkg.entry.serviceInterfaces | hasUi"
    slot="end"
    fill="clear"
    color="primary"
    (click)="launchUi($event, pkg.entry.serviceInterfaces)"
    [disabled]="
      !(pkg.entry.stateInfo.state | isLaunchable : pkgMainStatus.status)
    "
  >
    <ion-icon slot="icon-only" name="open-outline"></ion-icon>
  </ion-button>
</ion-item>
