<ion-item
  button
  *ngIf="pkg.entry | toManifest as manifest"
  detail="false"
  class="service-card"
  [routerLink]="['/services', manifest.id]"
>
  <app-list-icon slot="start" [pkg]="pkg"></app-list-icon>
  <ion-thumbnail slot="start">
    <img alt="" [src]="pkg.entry.icon" />
  </ion-thumbnail>
  <ion-label>
    <h2 ticker>{{ manifest.title }}</h2>
    <p>{{ manifest.version | displayEmver }}</p>
    <status
      [rendering]="pkg.primaryRendering"
      [installingInfo]="$any(pkg.entry['state-info'])['installing-info']"
      weight="bold"
      size="small"
      [sigtermTimeout]="sigtermTimeout"
    ></status>
  </ion-label>
  <ion-button
    *ngIf="pkg.entry['service-interfaces'] | hasUi"
    slot="end"
    fill="clear"
    color="primary"
    (click)="launchUi($event, pkg.entry['service-interfaces'])"
    [disabled]="
      !(pkg.entry['state-info'].state | isLaunchable: pkgMainStatus.status)
    "
  >
    <ion-icon slot="icon-only" name="open-outline"></ion-icon>
  </ion-button>
</ion-item>
