<ion-app appEnter>
  <ion-content>
    <ion-split-pane
      contentId="main-content"
      [disabled]="!(authService.isVerified$ | async)"
      (ionSplitPaneVisible)="splitPaneVisible($event)"
    >
      <ion-menu contentId="main-content" type="overlay">
        <ion-content color="light" scrollY="false">
          <app-menu *ngIf="authService.isVerified$ | async"></app-menu>
        </ion-content>
      </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>

    <section appPreloader></section>
  </ion-content>
  <ion-footer>
    <footer appFooter></footer>
  </ion-footer>
  <ion-footer
    *ngIf="(authService.isVerified$ | async) && !(sidebarOpen$ | async)"
  >
    <connection-bar></connection-bar>
  </ion-footer>
  <toast-container></toast-container>
</ion-app>
