<ion-app>
  <ion-content>
    <ion-split-pane
      contentId="main-content"
      [disabled]="!showMenu"
      (ionSplitPaneVisible)="splitPaneVisible($event)"
    >
      <ion-menu contentId="main-content" type="overlay">
        <ion-content color="light" scrollY="false">
          <app-menu></app-menu>
        </ion-content>
      </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>

    <section appPreloader></section>
  </ion-content>
  <ion-footer>
    <footer appFooter></footer>
  </ion-footer>
</ion-app>
