:host {
  display: block;
  height: 100%;
}

tui-root {
  height: 100%;
}

.left-menu {
  --side-max-width: 280px;
}

.container {
  transition: filter 0.3s;

  &_offline {
    filter: saturate(0.75) contrast(0.85);
  }
}

.right-menu {
  --side-min-width: 300px;
  --side-max-width: min(calc(100vw - 700px), 800px);

  // For some reason *ngIf is broken upon first login
  &_hidden {
    display: none;
  }
}

.divider {
  height: 100%;
  width: 10px;
  pointer-events: none;

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  background: #e2e2e2;

  z-index: 10;
  opacity: 0.2;
  transition: opacity 0.3s;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -78px;
    left: 10px;
    width: 60px;
    height: 50px;
    border-bottom-left-radius: 14px;
    box-shadow: -10px 0 0 -1px #e2e2e2;
  }

  &:after {
    margin-top: 29px;
    border-radius: 0;
    border-top-left-radius: 14px;
  }

  &:hover {
    opacity: 0.4;
  }
}

.widgets-button {
  position: absolute;
  top: 50%;
  font-size: 0;
  left: 100%;
  width: 16px;
  height: 60px;
  margin-top: -30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: inherit;
  pointer-events: auto;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 3px;
    width: 2px;
    height: 8px;
    background: black;
    transform: rotate(-45deg);
    border-radius: 2px;
  }

  &:before {
    margin-top: -6px;
    transform: rotate(45deg);
  }

  &_collapse:before {
    transform: rotate(-45deg);
  }

  &_collapse:after {
    transform: rotate(45deg);
  }
}
