:host {
  display: block;
}

.logo {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.menu {
  padding: 30px 0;
}

.icon {
  margin-left: 10px;
}

.label {
  color: var(--ion-color-dark-shade);

  &_selected {
    color: #fff;
    font-weight: bold;
  }
}

.snek {
  position: absolute;
  bottom: 56px;
  right: 20px;
  width: 20px;
  cursor: pointer;
}

.bottom {
  position: absolute;
  bottom: 0;
}
