:host {
  display: block;
}

.logo {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.menu {
  padding: 30px 0;
}

.link {
  --border-radius: 0;

  :host-context(body[data-theme='Light']) &_selected {
    --ion-color-base: #333;
    --ion-color-contrast: #fff;
  }
}

.icon {
  margin-left: 10px;
}

.label {
  color: var(--ion-color-dark-shade);

  &_selected {
    color: var(--ion-color-dark);
    font-weight: bold;
  }
}

.snek {
  position: absolute;
  bottom: 56px;
  right: 20px;
  width: 20px;
  cursor: pointer;
}

.bottom {
  position: absolute;
  bottom: 0;
}
