<div class="background-border box-shadow-lg shadow-color-light">
  <div class="box-container">
    <h2 class="additional-detail-title">What's new</h2>
    <div class="box-container-details">
      <div class="box-container-details-version">
        <h3>Version {{ pkg.manifest.version }}</h3>
        <p
          safeLinks
          class="box-container-details-notes"
          [innerHTML]="pkg.manifest.releaseNotes | markdown | dompurify"
        ></p>
      </div>
      <button
        *ngIf="pkg.versions.length > 2"
        tuiButton
        type="button"
        appearance="secondary"
        size="m"
        (click)="showReleaseNotes(template)"
      >
        Previous releases
      </button>
    </div>
  </div>
</div>

<ng-template #template let-observer>
  <ng-container *ngIf="notes$ | async as notes; else loading">
    <tui-accordion
      class="max-width-lg"
      style="max-width: 32rem"
      [closeOthers]="false"
      *ngFor="
        let note of notes
          | filterVersions: pkg.manifest.version
          | keyvalue: asIsOrder
      "
    >
      <tui-accordion-item style="margin: 0.25rem 0">
        {{ note.key | displayEmver }}
        <ng-template tuiAccordionItemContent>
          <p safeLinks [innerHTML]="note.value | markdown | dompurify"></p>
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
  </ng-container>

  <ng-template #loading>
    <tui-loader textContent="Loading Release Notes" />
  </ng-template>
</ng-template>
