:host {
  display: block;
  padding: 2rem;
  overflow: auto;
  background: var(--tui-base-01);
}

.title {
  text-align: center;
  padding-bottom: 1.5rem;
  font-size: calc(2vw + 1rem);
}

.subtitle {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: calc(1vw + 0.75rem);
  font-weight: bold;
}

.code {
  display: block;
  color: var(--tui-success-fill);
  background: rgb(69, 69, 69);
  padding: 1px 1rem;
  margin-bottom: 2rem;
}

.warning {
  color: var(--tui-warning-fill);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
