<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <pwa-back-button></pwa-back-button>
    </ion-buttons>
    <ion-title>Config</ion-title>
    <ion-buttons slot="end">
      <badge-menu-button></badge-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="lines" refreshingSpinner="lines"></ion-refresher-content>
  </ion-refresher>

  <ion-item-group>
    <ion-item button (click)="presentModalValueEdit('name')">
      <ion-label>Device Name</ion-label>
      <ion-note slot="end">{{ server.name | async }}</ion-note>
    </ion-item>
    <!-- <ion-item style="word-break: break-all;" button (click)="presentModalValueEdit('password', true)">
      <ion-label>Change Password</ion-label>
      <ion-note slot="end">********</ion-note>
    </ion-item> -->
  </ion-item-group>

</ion-content>
