<div class="ion-padding-start">
  <h4 class="input-label">Job Name</h4>
  <ion-item color="dark">
    <ion-input placeholder="My Backup Job" [(ngModel)]="job.name"></ion-input>
  </ion-item>
</div>

<ion-item button (click)="presentModalTarget()">
  <ion-label>
    <h2>Target</h2>
  </ion-label>
  <ion-note slot="end" color="success">{{
    job.target.type || 'Select target'
  }}</ion-note>
</ion-item>

<ion-item button (click)="presentModalPackages()">
  <ion-label>
    <h2>Packages</h2>
  </ion-label>
  <ion-note slot="end" color="success">{{
    job['package-ids'].length + ' selected'
  }}</ion-note>
</ion-item>

<div class="ion-padding-start">
  <h4 class="input-label">Schedule</h4>
  <ion-item color="dark">
    <ion-input placeholder="* * * * *" [(ngModel)]="job.cron"></ion-input>
  </ion-item>
  <p *ngIf="job.cron | toHumanCron as human" style="padding-left: 6px">
    <ion-text [color]="human.color"> {{ human.message }} </ion-text>
  </p>
</div>
