@for (entry of spec | keyvalue: asIsOrder | filterHidden; track entry) {
  <ng-container [tuiTextfieldCleaner]="true">
    @switch (entry.value.type) {
      @case ('object') {
        <form-object
          class="g-form-control"
          [formGroupName]="entry.key"
          [spec]="$any(entry.value)"
        />
      }
      @case ('union') {
        <form-union
          class="g-form-control"
          [formGroupName]="entry.key"
          [spec]="$any(entry.value)"
        />
      }
      @case ('list') {
        <form-array [formArrayName]="entry.key" [spec]="$any(entry.value)" />
      }
      @default {
        <form-control
          class="g-form-control"
          [formControlName]="entry.key"
          [spec]="entry.value"
        />
      }
    }
  </ng-container>
}
