<ion-item
  button
  *ngIf="pkg.entry.manifest as manifest"
  detail="false"
  class="service-card"
  [routerLink]="['/services', manifest.id]"
>
  <app-list-icon slot="start" [pkg]="pkg"></app-list-icon>
  <ion-thumbnail slot="start">
    <img alt="" [src]="pkg.entry.icon" />
  </ion-thumbnail>
  <ion-label>
    <h2 ticker>{{ manifest.title }}</h2>
    <p>{{ manifest.version | displayEmver }}</p>
    <status
      [rendering]="pkg.primaryRendering"
      [installProgress]="pkg.entry['install-progress']"
      weight="bold"
      size="small"
    ></status>
  </ion-label>
  <ng-container *ngIf="pkg.entry.installed as installed">
    <ion-button
      *ngIf="installed['interfaceInfo'] | hasUi"
      slot="end"
      fill="clear"
      color="primary"
      (click)="openPopover($event)"
      [disabled]="status !== 'running'"
    >
      <ion-icon slot="icon-only" name="open-outline"></ion-icon>
    </ion-button>
    <launch-menu
      #launchMenu
      [interfaceInfo]="installed['interfaceInfo']"
    ></launch-menu>
  </ng-container>
</ion-item>
