<ion-item
  button
  *ngIf="pkg.entry.manifest as manifest"
  detail="false"
  class="service-card"
  [routerLink]="['/services', manifest.id]"
>
  <app-list-icon slot="start" [pkg]="pkg"></app-list-icon>
  <ion-thumbnail slot="start">
    <img alt="" [src]="pkg.entry.icon" />
  </ion-thumbnail>
  <ion-label>
    <h2 ticker>{{ manifest.title }}</h2>
    <p>{{ manifest.version | displayEmver }}</p>
    <status
      [rendering]="pkg.primaryRendering"
      [installProgress]="pkg.entry['install-progress']"
      weight="bold"
      size="small"
    ></status>
  </ion-label>
  <ng-container *ngIf="pkg.entry.installed as installed">
    <ng-container
      *ngIf="installed['interfaceInfo'] | launchableInterfaces as launchable"
    >
      <ion-button
        *ngIf="launchable.length"
        slot="end"
        fill="clear"
        color="primary"
        (click)="
          launchable.length > 1
            ? openPopover($event)
            : launchUI(launchable[0].address, $event)
        "
        [disabled]="status !== 'running'"
      >
        <ion-icon slot="icon-only" name="open-outline"></ion-icon>
      </ion-button>
      <launch-menu
        #launchMenu
        [launchableInterfaces]="launchable"
      ></launch-menu>
    </ng-container>
  </ng-container>
</ion-item>
