<ion-popover
  #popover
  (didDismiss)="popover.isOpen = false"
  mode="ios"
  type="event"
>
  <ng-template>
    <ion-content>
      <ion-item-group>
        <ng-container *ngFor="let address of addressInfo | uiAddresses">
          <ion-item-divider>{{ address.name }}</ion-item-divider>
          <ion-item
            button
            detail="false"
            *ngFor="let address of address.addresses"
            (click)="launchUI(address)"
          >
            <ion-label>
              <h2>{{ address | addressType }}</h2>
              <p>{{ address }}</p>
            </ion-label>
            <ion-icon slot="end" name="open-outline" size="small"></ion-icon>
          </ion-item>
        </ng-container>
      </ion-item-group>
    </ion-content>
  </ng-template>
</ion-popover>
