<tui-input
  [tuiTextfieldCustomContent]="spec.masked || spec.generate ? toggle : ''"
  [tuiHintContent]="spec | hint"
  [disabled]="!!spec.disabled"
  [readOnly]="readOnly"
  [pseudoInvalid]="invalid"
  [(ngModel)]="value"
  (focusedChange)="onFocus($event)"
>
  {{ spec.name }}
  @if (spec.required) {
    <span>*</span>
  }
  <input
    tuiTextfieldLegacy
    [class.masked]="spec.masked && masked"
    [placeholder]="spec.placeholder || ''"
    [attr.minLength]="spec.minLength"
    [attr.maxLength]="spec.maxLength"
    [attr.inputmode]="spec.inputmode"
  />
</tui-input>
<ng-template #toggle>
  @if (spec.generate) {
    <button
      tuiIconButton
      type="button"
      appearance="icon"
      title="Generate"
      size="xs"
      class="button"
      iconStart="@tui.refresh-ccw"
      (click)="generate()"
    ></button>
  }
  @if (spec.masked) {
    <button
      tuiIconButton
      type="button"
      appearance="icon"
      title="Toggle masking"
      size="xs"
      class="button"
      [iconStart]="masked ? '@tui.eye' : '@tui.eye-off'"
      (click)="masked = !masked"
    ></button>
  }
</ng-template>
