<div class="content" (tuiActiveZoneChange)="open = $event">
  <button class="toggle" (click)="open = !open" (mousedown.prevent)="(0)">
    <tui-svg src="tuiIconArrowUpCircleLarge" class="icon"></tui-svg>
    Toggle drawer
  </button>
  <tui-input
    class="search"
    tuiTextfieldAppearance="drawer"
    tuiTextfieldSize="m"
    tuiTextfieldIconLeft="tuiIconSearchLarge"
    [tuiTextfieldLabelOutside]="true"
    [(ngModel)]="search"
  >
    Enter service name
  </tui-input>
  <tui-scrollbar class="scrollbar">
    <h2 class="title">System Utilities</h2>
    <div class="items">
      <a
        *ngFor="
          let item of system | keyvalue | tuiFilter : bySearch : search;
          empty: empty
        "
        appCard
        [drawerItem]="item.key"
        [id]="item.key"
        [title]="item.value.title"
        [icon]="item.value.icon"
        [routerLink]="item.key"
        (click)="open = false"
      ></a>
    </div>
    <h2 class="title">Installed services</h2>
    <div class="items">
      <a
        *ngFor="
          let item of (services$ | async) || [] | tuiFilter : bySearch : search;
          empty: empty
        "
        appCard
        [drawerItem]="item.manifest.id"
        [id]="item.manifest.id"
        [icon]="item.icon"
        [title]="item.manifest.title"
        [routerLink]="getLink(item.manifest.id)"
        (click)="open = false"
      ></a>
    </div>
    <ng-template #empty>Nothing found</ng-template>
  </tui-scrollbar>
</div>
