.scrollable {
  overflow: auto;
  white-space: nowrap;
  // background-color: var(--ion-color-light);
  height: 60px;

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.eos-item {
  --border-style: none;
  --background: linear-gradient(45deg, var(--ion-color-dark) -380%, var(--ion-color-medium) 100%)
}

.selected {
  font-weight: bold;
}

.dim {
  font-weight: 300;
  color: var(--ion-color-dark-shade);
}
