[Unit]
Description=usb-storage daemon

[Service]
Type=simple
ExecStart=/usr/local/bin/usbstoraged
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
