<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/services/' + pkgId"></ion-back-button>
    </ion-buttons>
    <ion-title>Interfaces</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top with-widgets">
  <ion-item-group *ngIf="networkInterfaces$ | async as networkInterfaces">
    <ng-container *ngIf="networkInterfaces.ui.length">
      <ion-item-divider>User Interfaces (UI)</ion-item-divider>
      <app-interfaces-item
        *ngFor="let ui of networkInterfaces.ui"
        [iFace]="ui"
      ></app-interfaces-item>
    </ng-container>

    <ng-container *ngIf="networkInterfaces.api.length">
      <ion-item-divider>Application Program Interfaces (API)</ion-item-divider>
      <app-interfaces-item
        *ngFor="let api of networkInterfaces.api"
        [iFace]="api"
      ></app-interfaces-item>
    </ng-container>

    <ng-container *ngIf="networkInterfaces.p2p.length">
      <ion-item-divider>Peer-To-Peer Interfaces (P2P)</ion-item-divider>
      <app-interfaces-item
        *ngFor="let p2p of networkInterfaces.p2p"
        [iFace]="p2p"
      ></app-interfaces-item>
    </ng-container>
  </ion-item-group>
</ion-content>
