<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/services/' + pkgId"></ion-back-button>
    </ion-buttons>
    <ion-title>Interfaces</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top with-widgets">
  <ion-item-group
    *ngIf="serviceInterfacesWithHostInfo$ | async as serviceInterfaces"
  >
    <ng-container *ngIf="serviceInterfaces.ui.length">
      <ion-item-divider>User Interfaces</ion-item-divider>
      <app-interfaces-item
        *ngFor="let ui of serviceInterfaces.ui"
        [iFace]="ui"
        [pkgId]="pkgId"
      ></app-interfaces-item>
    </ng-container>

    <ng-container *ngIf="serviceInterfaces.api.length">
      <ion-item-divider>Application Program Interfaces</ion-item-divider>
      <app-interfaces-item
        *ngFor="let api of serviceInterfaces.api"
        [iFace]="api"
        [pkgId]="pkgId"
      ></app-interfaces-item>
    </ng-container>

    <ng-container *ngIf="serviceInterfaces.p2p.length">
      <ion-item-divider>Peer-To-Peer Interfaces</ion-item-divider>
      <app-interfaces-item
        *ngFor="let p2p of serviceInterfaces.p2p"
        [iFace]="p2p"
        [pkgId]="pkgId"
      ></app-interfaces-item>
    </ng-container>
  </ion-item-group>
</ion-content>
