.toolbar-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: white;
  padding: 8px 0px 8px 15px;
}

.toolbar-title {
  font-size: x-large;
  text-transform: capitalize;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #404040;
  font-family: 'Montserrat';
}

.center-spinner { 
  min-height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:white;
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  color:white;
  min-height: 40vh
}

.notes-content {
  text-align: left;
  margin: 32px;
}

.status-label {
  font-size: xx-large;
  font-weight: bold;
}

.long-message {
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  font-size: small;
  border-width: 0px 0px 1px 0px;
  border-color: #393b40;
  text-align: left;
}

@media (min-width:500px) {
  .long-message {
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    font-size: medium;
    border-width: 0px 0px 1px 0px;
    border-color: #393b40;
    text-align: left;
  }
}

.toolbar-button {
  text-transform: capitalize;
  font-weight: bolder;
}

.smaller-text {
  font-size: 14px;
}

.badge {
  position: absolute;
  width: 2vh;
  height: 2vh;
  border-radius: 50px;
  left: -0.75vh;
  top: -0.75vh;
}
