:root {
  height: 100%;
  overflow: hidden;

  --tui-stroke-width: 1.25px;
  --tui-text-action: #428bf9;
  --tui-text-action-hover: #165eca;
  --tui-background-accent-1: #428bf9;
  --tui-background-accent-1-hover: #126df7;
  --tui-background-accent-1-pressed: #156ed4;
}

[tuiTheme='dark'] {
  --tui-text-action: #428bf9;
  --tui-text-action-hover: #579afb;
}

body {
  height: 100%;
  isolation: isolate;
  overflow: hidden;
  background:
    conic-gradient(var(--tui-background-base)),
    radial-gradient(circle at top right, #5240a8, transparent 40%),
    radial-gradient(circle at bottom right, #9236c9, transparent),
    radial-gradient(circle at 25% 100%, #5b65d5, transparent 30%),
    radial-gradient(circle at bottom left, #0090c0, transparent 50%),
    radial-gradient(circle at top left, #2a5ba8, transparent 50%),
    linear-gradient(to bottom, #5654b2, transparent);
  background-blend-mode: hard-light;

  &:not([tuiTheme]) {
    background: var(--tui-background-base-alt);

    [data-appearance='neutral'] {
      background: var(--tui-background-base);
    }
  }
}

ul {
  padding-inline-start: 1rem;
}

li {
  margin-block-end: 0.5rem;
}

.g-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > article.g-form {
    min-height: 6rem;
    margin-block-end: 1rem;
  }
}

.g-primary {
  color: var(--tui-text-primary) !important;
}

.g-secondary {
  color: var(--tui-text-secondary) !important;
}

.g-action {
  color: var(--tui-text-action) !important;
}

.g-negative {
  color: var(--tui-text-negative) !important;
}

.g-positive {
  color: var(--tui-text-positive) !important;
}

.g-form {
  max-width: 50rem;

  hr {
    margin: 0;
    border: 0;
  }

  // TODO: Remove after Taiga UI 5.0
  fieldset {
    flex-wrap: wrap;

    &:first-child > legend {
      padding-top: 0 !important;
    }
  }

  section {
    display: flex;
    gap: inherit;
    flex-wrap: wrap;

    > *:has([tuiInput], [tuiSelect]) {
      display: flex;
      flex: 1;
      min-width: 12rem;
      max-width: 20rem;

      &:not(tui-textfield) {
        flex-direction: column;
        gap: inherit;
      }
    }
  }

  tui-error {
    font: var(--tui-font-text-xs);
  }

  label:has(input[type='checkbox'], input[type='radio']) {
    cursor: pointer;
    align-items: center;
  }

  [tuiCardLarge][tuiSurface][tuiAppearance][data-appearance='neutral'] {
    background: none;
    padding: 0;
    border-radius: 0;
  }

  .g-footer {
    position: absolute;
    inset: 100% 0 auto;
    margin-top: 1rem;
  }

  [tuiLabel] input[type='checkbox'][data-size='s'],
  [tuiLabel] input[type='radio'][data-size='s'] {
    margin-top: 0;
  }
}

.g-footer {
  display: flex;
  gap: 1rem;
  justify-content: start;

  &.tui-enter,
  &.tui-leave {
    animation-name: tuiFade;
  }

  .g-delete {
    margin-inline-start: auto;
  }

  tui-root._mobile & {
    justify-content: end;

    .g-delete {
      margin-inline-start: 0;
      margin-inline-end: auto;
      order: -1;
    }
  }
}

.g-aside {
  padding: 0 1rem 1rem;
  display: block;

  &:has(tui-accordion) {
    padding: 0;
  }
}

.g-table {
  width: 100%;
  border-radius: var(--tui-radius-l);
  background: var(--tui-background-neutral-1);
  box-shadow: inset 0 0 0 1px var(--tui-background-neutral-1);
  overflow: hidden;

  &:has(caption) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  caption {
    text-align: start;
    font: var(--tui-font-text-l);
    font-weight: bold;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: inset 0 1px var(--tui-border-normal);
  }

  thead tr {
    position: sticky;
    top: 0;
    background: var(--tui-background-neutral-1);
    z-index: 1;
    background: rgb(255 255 255 / 80%);
    box-shadow:
      inset 1px 0 var(--tui-background-neutral-1),
      inset -1px 0 var(--tui-background-neutral-1);

    [tuiTheme='dark'] & {
      background: rgb(255 255 255 / 10%);
    }
  }

  th,
  td {
    background: transparent;
    border: none;
    box-shadow: inset 0 1px var(--tui-background-neutral-1);
  }

  [tuiIconButton] {
    margin-block: -0.25rem;
  }
}

tui-dropdown[data-appearance='start-9'] {
  background: none;
  backdrop-filter: blur(1rem);
}

[tuiTheme='dark'] tui-dialog[data-appearance~='start-9'],
[tuiTheme='dark'] tui-sheet-dialog[data-appearance~='start-9'] .t-sheet {
  background:
    linear-gradient(45deg, #5240a89c, transparent),
    linear-gradient(to bottom, #5240a854, transparent),
    color-mix(in hsl, var(--tui-background-elevation-1) 90%, transparent 10%);
  background-blend-mode: multiply;

  header {
    background: transparent;
  }
}

[tuiTheme='dark'] tui-notification-middle[style] {
  &.tui-enter,
  &.tui-leave {
    --tui-scale: 0;
    animation-name: tuiScale;
  }

  &::before {
    background: var(--tui-background-neutral-1);
    backdrop-filter: blur(1rem);
    box-shadow: inset 0 1px 1px var(--tui-background-neutral-2);
  }

  tui-loader svg {
    stroke: white;
  }
}

[tuiCardLarge][tuiSurface][tuiAppearance][data-appearance='neutral'] {
  background: var(--tui-background-neutral-1);
}

tui-data-list {
  [tuiOption]:disabled {
    // For tooltips
    pointer-events: auto;
  }

  input {
    // Checkmark
    --tui-text-action: var(--tui-text-primary);
  }
}
