:root {
  height: 100%;
  overflow: hidden;

  --tui-text-action: #428bf9;
  --tui-text-action-hover: #165eca;
  --tui-background-accent-1: #428bf9;
  --tui-background-accent-1-hover: #126df7;
  --tui-background-accent-1-pressed: #156ed4;
}

[tuiTheme='dark'] {
  --tui-text-action: #428bf9;
  --tui-text-action-hover: #579afb;
}

body {
  height: 100%;
  isolation: isolate;
  overflow: hidden;
  background:
    conic-gradient(var(--tui-background-base)),
    radial-gradient(circle at top right, #5240a8, transparent 40%),
    radial-gradient(circle at bottom right, #9236c9, transparent),
    radial-gradient(circle at 25% 100%, #5b65d5, transparent 30%),
    radial-gradient(circle at bottom left, #0090c0, transparent 50%),
    radial-gradient(circle at top left, #2a5ba8, transparent 50%),
    linear-gradient(to bottom, #5654b2, transparent);
  background-blend-mode: hard-light;

  &:not([tuiTheme]) {
    background: var(--tui-background-base-alt);

    [data-appearance='neutral'] {
      background: var(--tui-background-base);
    }
  }
}

ul {
  padding-inline-start: 1rem;
}

li {
  margin-block-end: 0.5rem;
}

header[tuiHeader] {
  position: sticky;
  left: 1.5rem;
  max-width: calc(100vw - 3rem);

  + tui-tabs {
    margin-block-start: 1rem;
  }
}

.g-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}

.g-primary {
  color: var(--tui-text-primary) !important;
}

.g-secondary {
  color: var(--tui-text-secondary) !important;
}

.g-action {
  color: var(--tui-text-action) !important;
}

.g-negative {
  color: var(--tui-text-negative) !important;
}

.g-positive {
  color: var(--tui-text-positive) !important;
}

.g-form {
  &:is(form[data-size='m']) {
    gap: 2rem;
  }

  section {
    display: flex;
    gap: inherit;
    flex-wrap: wrap;

    > *:has([tuiTextfield]) {
      display: flex;
      flex: 1;
      min-width: 8rem;
      max-width: 20rem;

      &:not(tui-textfield) {
        flex-direction: column;
        gap: inherit;
      }
    }
  }

  tui-error {
    font: var(--tui-font-text-xs);
  }

  label:has(input[type='checkbox'], input[type='radio']) {
    cursor: pointer;
    align-items: center;
  }

  [tuiHeader] {
    left: unset;
  }

  [tuiCardLarge][data-space] {
    background: none;
    padding: 0;
    border-radius: 0;
  }

  .g-footer {
    position: absolute;
    inset: 100% 0 auto;
    margin-top: 1rem;
  }

  [tuiLabel] input[type='checkbox'][data-size='s'],
  [tuiLabel] input[type='radio'][data-size='s'] {
    margin-top: 0;
  }
}

.g-footer {
  display: flex;
  gap: 1rem;
  justify-content: end;

  &.tui-enter,
  &.tui-leave {
    animation-name: tuiFade;
  }

  &:last-child {
    padding-bottom: 2rem;
  }
}

.g-aside {
  padding: 1rem;
  display: block;
}

.g-table {
  width: 100%;
  border-radius: var(--tui-radius-s);
  background: var(--tui-background-neutral-1);
  box-shadow: inset 0 0 0 1px var(--tui-background-neutral-1);

  caption {
    text-align: start;
    font: var(--tui-font-text-l);
    font-weight: bold;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: inset 0 1px var(--tui-border-normal);
  }

  thead:first-child {
    tr {
      border-radius: var(--tui-radius-s) var(--tui-radius-s) 0 0;
    }

    th:first-child {
      border-radius: var(--tui-radius-s) 0 0 0;
    }

    th:last-child {
      border-radius: 0 var(--tui-radius-s) 0 0;
    }
  }

  thead tr {
    position: sticky;
    top: 0;
    background: var(--tui-background-neutral-1);
    backdrop-filter: blur(5rem);
    z-index: 1;
    background: rgb(255 255 255 / 80%);
    box-shadow:
      inset 1px 0 var(--tui-background-neutral-1),
      inset -1px 0 var(--tui-background-neutral-1);

    [tuiTheme='dark'] & {
      background: rgb(255 255 255 / 10%);
    }
  }

  tr:nth-child(even) {
    backdrop-filter: brightness(1.03);

    [tuiTheme='dark'] & {
      backdrop-filter: brightness(0.9);
    }
  }

  th,
  td {
    background: transparent;
    border: none;
    box-shadow: inset 0 1px var(--tui-background-neutral-1);

    &:last-child {
      text-align: end;
    }
  }
}

tui-dropdown[data-appearance='start-9'] {
  background: none;
  backdrop-filter: blur(1rem);
}

tui-dialog[new][data-appearance~='start-9'] {
  background: var(--tui-background-neutral-1);
  backdrop-filter: blur(5rem);
}

[tuiTheme='dark'] tui-notification-middle[style] {
  &.tui-enter,
  &.tui-leave {
    --tui-scale: 0;
    animation-name: tuiScale;
  }

  &::before {
    background: var(--tui-background-neutral-1);
    backdrop-filter: blur(1rem);
    box-shadow: inset 0 1px 1px var(--tui-background-neutral-2);
  }

  tui-loader svg {
    stroke: white;
  }
}

tui-data-list {
  --tui-text-action: var(--tui-text-primary);
}

// TODO: Remove in Taiga v5, use native scrollbars
tui-root > tui-scroll-controls {
  display: none !important;
}

// TODO: Remove in Taiga v5
[tuiForm][tuiForm] > fieldset {
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}
