<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="system"></ion-back-button>
    </ion-buttons>
    <ion-title>Addresses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="with-widgets">
  <div *ngIf="server$ | async as server" class="cap-width">
    <!-- clearnet -->
    <ion-item-divider>Clearnet</ion-item-divider>
    <ion-item-group>
      <ion-item>
        <ion-label>
          <h2>
            Optionally host your StartOS dashboard on a clearnet domain.
            <a
              href="https://docs.start9.com/latest/user-manual/os-addresses#clearnet"
              target="_blank"
              rel="noreferrer"
            >
              View instructions
            </a>
          </h2>
        </ion-label>
      </ion-item>
      <ng-container
        *ngIf="server.clearnetAddress as clearnetAddress; else noClearnet"
      >
        <ion-item>
          <ion-label>
            <h2>Clearnet Address</h2>
            <p>{{ 'https://' + clearnetAddress }}</p>
            <div class="ion-padding-top">
              <ion-button (click)="presentModalAddClearnet(server)">
                Update
              </ion-button>
              <ion-button
                class="ion-padding-start"
                (click)="presentAlertRemoveClearnet()"
                color="danger"
              >
                Remove
              </ion-button>
            </div>
          </ion-label>
          <div slot="end">
            <ion-button fill="clear" (click)="launch(clearnetAddress)">
              <ion-icon
                slot="icon-only"
                size="small"
                name="open-outline"
              ></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="copy(clearnetAddress)">
              <ion-icon
                slot="icon-only"
                size="small"
                name="copy-outline"
              ></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </ng-container>
      <ng-template #noClearnet>
        <div class="ion-padding">
          <ion-button (click)="presentModalAddClearnet(server)">
            <ion-icon slot="start" name="add"></ion-icon>
            Add Clearnet Address
          </ion-button>
        </div>
      </ng-template>
    </ion-item-group>

    <!-- local -->
    <ion-item-divider>Local</ion-item-divider>
    <ion-item-group>
      <ion-item>
        <ion-label>
          <h2>
            Your StartOS dashboard is accessible via the following URLs while
            connected to the same LAN. When using a VPN, only the IPv4 address
            will work. Download and trust your server's Root Certificate
            Authority for a secure connection.
            <a
              href="https://docs.start9.com/latest/user-manual/os-addresses#local"
              target="_blank"
              rel="noreferrer"
            >
              View instructions
            </a>
          </h2>
          <div class="ion-padding-top ion-padding-bottom">
            <ion-button
              (click)="installCert()"
              [disabled]="!(crtName$ | async)"
            >
              <ion-icon slot="start" name="download-outline"></ion-icon>
              Download Root CA
            </ion-button>
          </div>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="server['lan-address'] as lanAddress">
        <ion-label class="break-all">
          <h2>Local</h2>
          <p>{{ lanAddress }}</p>
        </ion-label>
        <div slot="end">
          <ion-button fill="clear" (click)="launch(lanAddress)">
            <ion-icon
              slot="icon-only"
              size="small"
              name="open-outline"
            ></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="copy(lanAddress)">
            <ion-icon
              slot="icon-only"
              size="small"
              name="copy-outline"
            ></ion-icon>
          </ion-button>
        </div>
      </ion-item>
      <ng-container *ngFor="let ip of server['ip-info'] | keyvalue">
        <ng-container *ngFor="let entry of ip.value | keyvalue">
          <ion-item *ngIf="entry.value as ipAddress">
            <ion-label>
              <h2>{{ ip.key }} ({{ entry.key }})</h2>
              <p>{{ ipAddress }}</p>
            </ion-label>
            <div slot="end">
              <ion-button fill="clear" (click)="launch(ipAddress)">
                <ion-icon
                  slot="icon-only"
                  size="small"
                  name="open-outline"
                ></ion-icon>
              </ion-button>
              <ion-button fill="clear" (click)="copy(ipAddress)">
                <ion-icon
                  slot="icon-only"
                  size="small"
                  name="copy-outline"
                ></ion-icon>
              </ion-button>
            </div>
          </ion-item>
        </ng-container>
      </ng-container>
    </ion-item-group>

    <ion-item-divider>Tor</ion-item-divider>
    <!-- tor -->
    <ion-item-group>
      <ion-item>
        <ion-label>
          <h2>
            You StartOS dashboard is available as a Tor hidden service and can
            be accessed from any Tor-enabled browser.
            <a
              href="https://docs.start9.com/latest/user-manual/os-addresses#tor"
              target="_blank"
              rel="noreferrer"
            >
              View instructions
            </a>
          </h2>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="server['tor-address'] as torAddress">
        <ion-label class="break-all">
          <h2>Tor Address</h2>
          <p>{{ torAddress }}</p>
        </ion-label>
        <div slot="end">
          <ion-button fill="clear" (click)="launch(torAddress)">
            <ion-icon
              slot="icon-only"
              size="small"
              name="open-outline"
            ></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="copy(torAddress)">
            <ion-icon
              slot="icon-only"
              size="small"
              name="copy-outline"
            ></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-item-group>
  </div>

  <!-- hidden element for downloading cert -->
  <a
    id="install-cert"
    href="/public/eos/local.crt"
    [download]="crtName$ | async"
  ></a>
</ion-content>
