.icon-spinner {
  height: 20px;
  width: 20px;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 0;
}

.label {
  width: 100px;
  margin-bottom: 10px;
}

.description {
  width: 150px;
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;
}
