.installed-card {
  margin: 0;
  background: linear-gradient(37deg, #333333, #131313);
  border-radius: 10px;
  text-align: center;

  ion-card-header {
    padding: 0;

    status {
      font-size: 9px;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      font-family: 'Montserrat';
      font-size: 11px;
      color: white;
      margin: 0px 12px 8px 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.main-img {
  width: 50%;
  margin: 9px;
  color: white;
  border-radius: var(--icon-border-radius);
}

.bulb-on {
  position: absolute !important;
  left: -7px !important;
  top: -7px !important;
  height: 25px !important;
  width: 25px !important;
  margin: 9px;
}

.bulb-off {
  position: absolute !important;
  left: -1px !important;
  top: -1px !important;
  height: 13px !important;
  width: 13px !important;
  margin: 9px;
}

.launch-button-opaque {
  position: absolute;
  z-index: 1;
  --border-radius: 100px;
  width: 42px;
  height: 42px;
  right: -5px;
  top: -5px;
  --background: #2b2a2b //linear-gradient(120deg, rgb(35, 178, 251, 0.7), transparent);
  box-shadow: 0 0 4px 2px rgb(91 200 255);
  border-radius: 100px;
}

.launch-button-transparent {
  position: absolute;
  z-index: 1;
  --border-radius: 100px;
  width: 42px;
  height: 42px;
  right: -5px;
  top: -5px;
  --background: linear-gradient(200deg, rgb(35, 178, 251, 1), rgb(35, 178, 251, 0.25));
}

.launch-button-off {
  --background: transparent;
  --box-shadow: none;
  ion-icon {
    color: var(--ion-color-medium);
  }
}