<div class="stats">
  <div class="stat">
    <ion-icon class="stat-icon" name="server-outline"></ion-icon>
    <div>
      30%
      <div class="description">Storage</div>
    </div>
  </div>
  <div class="stat">
    <ion-icon class="stat-icon" name="hardware-chip-outline"></ion-icon>
    <div>
      10%
      <div class="description">CPU</div>
    </div>
  </div>
  <div class="stat">
    <ion-icon class="stat-icon" name="stats-chart-outline"></ion-icon>
    <div>
      10%
      <div class="description">Memory</div>
    </div>
  </div>
  <div class="stat">
    <ion-icon class="stat-icon" name="thermometer-outline"></ion-icon>
    <div>
      50.6⁰C
      <div class="description">Temp</div>
    </div>
  </div>
</div>
