<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-card
          *ngIf="{ decimal: progress$ | async } as progress"
          color="dark"
        >
          <ion-card-header>
            <ion-card-title>Initializing Embassy</ion-card-title>
            <div class="center-wrapper">
              <ion-card-subtitle *ngIf="progress.decimal as decimal">
                Progress: {{ (decimal * 100).toFixed(0)}}%
              </ion-card-subtitle>
            </div>
          </ion-card-header>

          <ion-card-content class="ion-margin">
            <ion-progress-bar
              color="tertiary"
              style="
                max-width: 700px;
                margin: auto;
                padding-bottom: 20px;
                margin-bottom: 40px;
              "
              [type]="progress.decimal ? 'determinate' : 'indeterminate'"
              [value]="progress.decimal || 0"
            ></ion-progress-bar>
            <p>{{ progress.decimal | toMessage }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
