<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-card color="dark">
          <ion-card-header>
            <ion-card-title>Initializing Embassy</ion-card-title>
            <div class="center-wrapper">
              <ion-card-subtitle *ngIf="stateService.dataProgress">
                Progress: {{ (stateService.dataProgress * 100).toFixed(0)}}%
              </ion-card-subtitle>
            </div>
          </ion-card-header>

          <ion-card-content class="ion-margin">
            <ion-progress-bar
              color="tertiary"
              style="
                max-width: 700px;
                margin: auto;
                padding-bottom: 20px;
                margin-bottom: 40px;
              "
              [type]="stateService.dataProgress ? 'determinate' : 'indeterminate'"
              [value]="stateService.dataProgress"
            ></ion-progress-bar>
            <p>Setting up your Embassy. This can take a while.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
