<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="system"></ion-back-button>
    </ion-buttons>
    <ion-title>Sideload Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding with-widgets">
  <!-- invalid -->
  <div *ngIf="invalid; else valid" class="drop-area_filled">
    <h4>
      <ion-icon
        name="close-circle-outline"
        color="danger"
        class="inline"
      ></ion-icon>
      Invalid package file
    </h4>
    <ion-button color="primary" (click)="clear()">Try again</ion-button>
  </div>

  <!-- valid -->
  <ng-template #valid>
    <!-- uploaded -->
    <div class="ion-padding" *ngIf="pkgData?.pkg as pkg; else empty">
      <div class="ion-text-right">
        <ion-button color="danger" (click)="clear()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </div>
      <marketplace-package></marketplace-package>
      <marketplace-show-controls [pkg]="pkg"></marketplace-show-controls>
      <marketplace-show-dependent [pkg]="pkg"></marketplace-show-dependent>
      <ion-item-group>
        <marketplace-about [pkg]="pkg"></marketplace-about>
        <marketplace-dependencies
          *ngIf="!(pkg.manifest.dependencies | empty)"
          [pkg]="pkg"
        ></marketplace-dependencies>
      </ion-item-group>
      <marketplace-additional [pkg]="pkg"></marketplace-additional>
    </div>
    <!-- empty -->
    <ng-template #empty>
      <div
        class="drop-area"
        [class.drop-area_mobile]="isMobile"
        appDnd
        (onFileDropped)="handleFileDrop($event)"
      >
        <ion-icon
          name="cloud-upload-outline"
          color="dark"
          style="font-size: 42px"
        ></ion-icon>
        <h4>Upload .s9pk package file</h4>
        <p *ngIf="onTor">
          <ion-text color="success">
            Tip: switch to LAN for faster uploads.
          </ion-text>
        </p>
        <ion-button color="primary" type="file" class="ion-margin-top">
          <label for="upload-photo">Browse</label>
          <input
            type="file"
            style="position: absolute; opacity: 0; height: 100%"
            id="upload-photo"
            (change)="handleFileInput($event)"
          />
        </ion-button>
      </div>
    </ng-template>
  </ng-template>
</ion-content>
