<div [@tuiFadeIn]="getAnimation(speed)">
  <div class="grid gap-8 mb-16 p-4 lg:px-16 lg:pb-8 pt-20 justify-center">
    <marketplace-package-hero [pkg]="pkg"></marketplace-package-hero>
    <marketplace-package-screenshots
      [pkg]="pkg"
    ></marketplace-package-screenshots>
    <div class="grid grid-cols-1 2xl:grid-cols-12 gap-x-8">
      <div class="col-span-12 2xl:col-span-8">
        <marketplace-about [pkg]="pkg"></marketplace-about>
        <marketplace-dependencies
          *ngIf="!(pkg.manifest.dependencies | empty)"
          [pkg]="pkg"
        ></marketplace-dependencies>
        <release-notes [pkg]="pkg"></release-notes>
      </div>
      <div class="col-span-12 2xl:col-span-4 mt-6 2xl:mt-0">
        <marketplace-additional
          class="additional"
          [pkg]="pkg"
          (version)="version$.next($event)"
        ></marketplace-additional>
      </div>
    </div>
  </div>
</div>
