[Unit]
Description=StartOS Container Runtime
OnFailure=container-runtime-failure.service

[Service]
Type=simple
ExecStart=/usr/bin/node --experimental-detect-module --trace-warnings --unhandled-rejections=warn /usr/lib/startos/init/index.js
Restart=no

[Install]
WantedBy=multi-user.target