.sidebar_selected {
  font-weight: bold;
}

@media (min-width: 600px) {
  .sidebar_selected {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: #222428;
    opacity: 90;
  }
}