<sidebar [iconConfig]="marketplace">
  <button
    slot="desktop"
    tuiButton
    type="button"
    appearance="icon"
    icon="tuiIconRepeatLarge"
    class="hover:opacity-70 bg-zinc-600 rounded-lg -mt-3"
    (click)="presentModalMarketplaceSettings()"
  ></button>
  <a
    slot="mobile"
    class="flex gap-2 relative hover:no-underline p-5"
    (click)="presentModalMarketplaceSettings()"
  >
    <img
      alt="Change Registry Icon"
      width="24"
      height="24"
      class="opacity-70 invert"
      src="svg/repeat-outline.svg"
    />
    <span
      class="text-base text-zinc-50 text-ellipsis overflow-hidden whitespace-nowrap"
    >
      Change Registry
    </span>
  </a>
  <a
    safeLinks
    slot="updates"
    class="flex gap-2 p-2 hover:no-underline sm:hover:bg-[#222428] hover:cursor-pointer sm:w-[120%] z-50 rounded-l-lg ease-in-out delay-75 duration-300"
    routerLink="updates"
  >
    <img
      alt="Rocket Icon"
      width="24"
      height="24"
      class="opacity-70 invert"
      src="svg/globe-outline.svg"
    />
    <span
      class="text-base text-zinc-50 text-ellipsis overflow-hidden whitespace-nowrap"
    >
      Updates
    </span>
  </a>
</sidebar>
