<sidebar
  [iconConfig]="marketplace"
  (toggleMenu)="toggleMenu($event)"
  [menuState]="open"
>
  <button
    slot="registry-desktop"
    tuiButton
    type="button"
    appearance="icon"
    icon="tuiIconRepeatLarge"
    class="hover:opacity-70 bg-zinc-600 rounded-lg -mt-3"
    (click)="presentModalMarketplaceSettings()"
  ></button>
  <a
    slot="registry-mobile"
    class="flex gap-2 relative hover:no-underline p-5"
    (click)="presentModalMarketplaceSettings()"
  >
    <img
      alt="Change Registry Icon"
      width="24"
      height="24"
      class="opacity-70 invert"
      src="svg/repeat-outline.svg"
    />
    <span
      class="text-base text-zinc-50 text-ellipsis overflow-hidden whitespace-nowrap"
    >
      Change Registry
    </span>
  </a>
  <button
    slot="sideload-desktop"
    class="flex relative gap-2 hover:no-underline hover:cursor-pointer sm:hover:bg-[#222428] sm:hover:opacity-90 sm:w-[120%] rounded-l-lg ease-in-out delay-75 duration-300 mb-5 sm:p-2 sm:mb-3 z-50"
    routerLink="/marketplace/sideload"
    (click)="resetCategories()"
    [ngClass]="selected('/marketplace/sideload')"
  >
    <img
      alt="Push Icon"
      width="24"
      height="24"
      class="opacity-70 invert"
      src="svg/push-outline.svg"
    />
    <span
      class="text-base text-zinc-50 text-ellipsis overflow-hidden whitespace-nowrap"
    >
      Sideload package
    </span>
  </button>
  <button
    slot="sideload-mobile"
    class="flex relative gap-2 hover:no-underline px-5 pt-5"
    routerLink="/marketplace/sideload"
    (click)="resetCategories(); toggleMenu(false)"
    [ngClass]="selected('/marketplace/sideload')"
  >
    <img
      alt="Push Icon"
      width="24"
      height="24"
      class="opacity-70 invert"
      src="svg/push-outline.svg"
    />
    <span
      class="text-base text-zinc-50 text-ellipsis overflow-hidden whitespace-nowrap"
    >
      Sideload package
    </span>
  </button>
  <button
    safeLinks
    slot="updates-desktop"
    class="flex relative gap-2 hover:no-underline hover:cursor-pointer sm:hover:bg-[#222428] sm:hover:opacity-90 sm:w-[120%] rounded-l-lg ease-in-out delay-75 duration-300 mb-5 sm:p-2 sm:mb-3 z-50"
    routerLink="/marketplace/updates"
    (click)="resetCategories()"
    [ngClass]="selected('/marketplace/updates')"
  >
    <img
      alt="Globe Icon"
      width="24"
      height="24"
      class="opacity-70 invert"
      src="svg/globe-outline.svg"
    />
    <span
      class="text-base text-zinc-50 text-ellipsis overflow-hidden whitespace-nowrap"
    >
      Updates
    </span>
  </button>
  <button
    slot="updates-mobile"
    class="flex relative gap-2 hover:no-underline px-5 pt-5"
    routerLink="/marketplace/sideload"
    (click)="resetCategories(); toggleMenu(false)"
    [ngClass]="selected('/marketplace/updates')"
  >
    <img
      alt="Globe Icon"
      width="24"
      height="24"
      class="opacity-70 invert"
      src="svg/globe-outline.svg"
    />
    <span
      class="text-base text-zinc-50 text-ellipsis overflow-hidden whitespace-nowrap"
    >
      Updates
    </span>
  </button>
</sidebar>
