<sidebar [iconConfig]="marketplace">
  <button
    slot="desktop"
    tuiButton
    type="button"
    appearance="icon"
    icon="tuiIconRepeatLarge"
    class="hover:opacity-70 bg-zinc-600 rounded-lg -mt-3"
    (click)="presentModalMarketplaceSettings()"
  ></button>
  <a
    slot="mobile"
    class="flex gap-2 relative hover:no-underline p-5"
    (click)="presentModalMarketplaceSettings()"
  >
    <img
      alt="Change Registry Icon"
      width="24"
      height="24"
      class="opacity-70 invert"
      src="svg/repeat-outline.svg"
    />
    <span
      class="text-base text-zinc-50 text-ellipsis overflow-hidden whitespace-nowrap"
    >
      Change Registry
    </span>
  </a>
</sidebar>
