<ng-container *ngIf="!restarted; else refresh">
  <h1 class="title">StartOS - Diagnostic Mode</h1>

  <ng-container *ngIf="error">
    <h2 class="subtitle">StartOS launch error:</h2>
    <code class="code warning">
      <p>{{ error.problem }}</p>
      <p *ngIf="error.details">{{ error.details }}</p>
    </code>

    <a tuiButton routerLink="logs">View Logs</a>

    <h2 class="subtitle">Possible solutions:</h2>
    <code class="code"><p>{{ error.solution }}</p></code>

    <div class="buttons">
      <button tuiButton (click)="restart()">Restart Server</button>

      <button
        *ngIf="error.code === 15 || error.code === 25"
        tuiButton
        appearance="secondary"
        (click)="forgetDrive()"
      >
        {{ error.code === 15 ? 'Setup Current Drive' : 'Enter Recovery Mode'}}
      </button>

      <button
        tuiButton
        appearance="secondary-warning"
        (click)="presentAlertSystemRebuild()"
      >
        System Rebuild
      </button>

      <button
        tuiButton
        appearance="secondary-destructive"
        (click)="presentAlertRepairDisk()"
      >
        Repair Drive
      </button>
    </div>
  </ng-container>
</ng-container>

<ng-template #refresh>
  <h1 class="title">Server is restarting</h1>
  <h2 class="subtitle">
    Wait for the server to restart, then refresh this page.
  </h2>
  <button tuiButton (click)="refreshPage()">Refresh</button>
</ng-template>
