<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ type === 'create' ? 'Create Backup' : 'Restore Backup' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentAlertHelp()" color="primary">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="lines" refreshingSpinner="lines"></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngIf="error" style="margin-bottom: 16px;">
    <ion-text class="ion-text-wrap" color="danger">{{ error }}</ion-text>
  </ion-item>

  <ion-spinner *ngIf="loading" class="center" name="lines" color="warning"></ion-spinner>

  <ng-container *ngIf="!loading">
    <ion-item *ngIf="allPartitionsMounted">
      <ion-text *ngIf="type === 'create'" class="ion-text-wrap" color="warning">No partitions available. To begin a backup, insert a storage device into your Embassy.</ion-text>
      <ion-text *ngIf="type === 'restore'" class="ion-text-wrap" color="warning">No partitions available. Insert the storage device containing the backup you wish to restore.</ion-text>
    </ion-item>
    <ion-item-group *ngFor="let d of disks">
      <ion-item-divider>{{ d.logicalname }} ({{ d.size }})</ion-item-divider>
      <ion-item-group>
        <ion-item button [disabled]="p.isMounted" *ngFor="let p of d.partitions" (click)="presentAlert(d, p)">
          <ion-icon slot="start" name="save-outline"></ion-icon>
          <ion-label>
            <h2>{{ p.label || p.logicalname }}</h2>
            <p>{{ p.size || 'unknown size' }}</p>
            <p *ngIf="!p.isMounted"><ion-text color="success">Available</ion-text></p>
            <p *ngIf="p.isMounted"><ion-text color="danger">Unvailable</ion-text></p>
          </ion-label>
        </ion-item>
      </ion-item-group>
    </ion-item-group>
  </ng-container>

</ion-content>
