<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <pwa-back-button></pwa-back-button>
    </ion-buttons>
    <ion-title>Preferences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item-group *ngrxLet="patch.watch$('ui') as ui">
    <ion-item button (click)="presentModalValueEdit('name', ui['server-name'])">
      <ion-label>Embassy Name</ion-label>
      <ion-note slot="end">{{ ui['server-name'] }}</ion-note>
    </ion-item>
    <ion-item button (click)="presentModalValueEdit('autoCheckUpdates', ui['auto-check-updates'])">
      <ion-label>Auto Check for Updates</ion-label>
      <ion-note slot="end">{{ ui['auto-check-updates'] }}</ion-note>
    </ion-item>
    <!-- <ion-item style="word-break: break-all;" button (click)="presentModalValueEdit('password', ui.password)">
      <ion-label>Change Password</ion-label>
      <ion-note slot="end">********</ion-note>
    </ion-item> -->
  </ion-item-group>

</ion-content>
