<div *ngFor="let cat of categories">
  <button
    class="flex relative gap-2 hover:no-underline rounded-r-lg transition-colors before:transition-colors ease-in-out mb-2 p-2 scale sm:pl-6 sm:border-l-0 sm:before:absolute sm:before:h-[calc(100%-4px)] sm:before:top-[2px] sm:before:left-[-5px] sm:before:w-[10px] sm:before:rounded-full sm:before:transition-colors text-black/70 sm:hover:before:bg-[#FF4961]/25 2xl:before:hidden false"
    [class.category_selected]="cat === category"
    (click)="switchCategory(cat)"
  >
    <div class="relative flex flex-shrink-0">
      <img
        alt="Category Icon"
        width="24"
        height="24"
        class="transition block opacity-70 invert"
        style="color: transparent"
        src="/svg/{{ determineIcon(cat) }}.svg"
      />
    </div>
    <span class="text-zinc-50 text-ellipsis overflow-hidden whitespace-nowrap">
      {{ cat | titlecase }}
    </span>
  </button>
</div>
