<div
  *ngFor="let cat of categories"
  class="sm:relative sm:hover:bg-[#222428] hover:cursor-pointer sm:w-[200%] rounded-l-lg transition-all ease-in-out delay-75 duration-75"
>
  <button
    class="flex relative gap-2 hover:no-underline mb-2 p-2"
    [class.category_selected]="cat === category"
    (click)="switchCategory(cat)"
  >
    <div class="relative flex flex-shrink-0">
      <img
        alt="Category Icon"
        width="24"
        height="24"
        class="transition block opacity-70 invert"
        style="color: transparent"
        src="/svg/{{ determineIcon(cat) }}.svg"
      />
    </div>
    <span class="text-zinc-50 text-ellipsis overflow-hidden whitespace-nowrap">
      {{ cat | titlecase }}
    </span>
  </button>
</div>
