<ng-container
  *ngIf="packageData$ | toOptions : backupInfo['package-backups'] | async as options"
>
  <div tuiGroup orientation="vertical" class="items">
    <tui-checkbox-block
      *ngFor="let option of options"
      [disabled]="option.installed || option['newer-eos']"
      [(ngModel)]="option.checked"
      (ngModelChange)="handleChange(options)"
    >
      <div class="label">
        <strong class="title">{{ option.title }}</strong>
        <div>Version {{ option.version }}</div>
        <div>Backup made: {{ option.timestamp | date : 'medium' }}</div>
        <div *ngIf="!option.installed && !option['newer-eos']" class="success">
          Ready to restore
        </div>
        <div *ngIf="option.installed" class="warning">
          Unavailable. {{ option.title }} is already installed.
        </div>
        <div *ngIf="option['newer-eos']" class="danger">
          Unavailable. Backup was made on a newer version of StartOS.
        </div>
      </div>
    </tui-checkbox-block>
  </div>

  <button
    tuiButton
    class="button"
    [disabled]="!hasSelection"
    (click)="restore(options)"
  >
    Restore Selected
  </button>
</ng-container>
