<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/backups"></ion-back-button>
    </ion-buttons>
    <ion-title>Backup History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-item-group>
    <div class="grid-fixed">
      <ion-grid class="ion-padding">
        <ion-row class="grid-headings">
          <ion-col size="2.5">Started At</ion-col>
          <ion-col size="2">Duration</ion-col>
          <ion-col size="1.5">Result</ion-col>
          <ion-col size="2.5">Job</ion-col>
          <ion-col size="2.5">Packages</ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>

        <ion-row
          *ngFor="let run of runs$ | async; let i = index"
          class="ion-align-items-center grid-row-border"
        >
          <ion-col size="2.5"
            >{{ run['started-at'] | date : 'medium' }}</ion-col
          >
          <ion-col size="2"
            >{{ run['started-at']| duration : run['completed-at'] }}
            Minutes</ion-col
          >
          <ion-col size="1.5">
            <ion-text *ngIf="run.report | hasError; else noError" color="danger"
              >Error</ion-text
            >
            <ng-template #noError>
              <ion-text color="success">Success</ion-text>
            </ng-template>
          </ion-col>
          <ion-col size="2.5">{{ run.job?.name || 'No job' }}</ion-col>
          <ion-col size="2.5">
            <a (click)="presentModalReport(run)">
              {{ run['package-ids'].length }} Packages
            </a>
          </ion-col>
          <ion-col size="1">
            <ion-buttons style="float: right">
              <ion-button size="small" (click)="presentAlertDelete(run.id, i)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-item-group>
</ion-content>
