<div *ngIf="loading; else loaded" style="padding: 32px">
  <ion-spinner color="warning" name="lines"></ion-spinner>
  <p>Checking for installed services which depend on {{ params.title }}...</p>
</div>

<ng-template #loaded>
  <h1><ion-text color="warning">Warning</ion-text></h1>
  <p>{{ warningMessage }}</p>

  <ng-container *ngIf="pkgs$ | async as pkgs">
    <ion-item-group>
      <ion-item-divider class="ion-padding-bottom">
        Affected Services
      </ion-item-divider>
      <ion-item *ngFor="let dep of breakages | keyvalue">
        <ion-thumbnail slot="start">
          <img alt="" [src]="pkgs[dep.key]['static-files'].icon" />
        </ion-thumbnail>
        <ion-label>
          {{ pkgs[dep.key].manifest.title }}
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ng-container>
</ng-template>
