<ion-list>
  <ion-item *ngFor="let item of (menuItems$ | async)" style="--inner-padding-end: 5px;" button (click)="autoFill(item)">
    <div style="font-size: small; width: 100%; display: flex; justify-content: space-between; align-items: center;">
      <ion-label style="
        font-size: smaller;
        color: var(--ion-color-medium);
        max-width: 75%;
      ">
        <div style="color: white;" class="text-ellipses">{{item[0]}}</div>
        <div class="text-ellipses">{{!item[1].masked ? item[1].value : item[1].value | mask}}</div>
      </ion-label>
      <ion-button color="primary" fill="clear" size="small" (click)="copy(item, $event)">
        <ion-icon name="copy-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-item>
</ion-list>