<ion-list>
  <ion-item style="padding-top: 5px" detail="false" lines="none" *ngFor="let item of (menuItems$ | async)" button (click)="copy(item)">
    <div style="font-size: small; width: 100%; display: flex; justify-content: space-between; align-items: center;">
      <ion-label style="padding-right: 2px; max-width: 85%;">
        {{item[0]}}
      </ion-label>
      <ion-icon color="dark" name="copy-outline"></ion-icon>
    </div>
  </ion-item>
  <div class="menu-divider-line"></div>
  <ion-item lines="none" button detail="false" (click)="logs()">
    <div style="font-size: small; width: 100%; display: flex; justify-content: space-between; align-items: center;">
      <ion-label style="max-width: 75%;">
        <div style="color: white;" class="text-ellipses">Logs</div>
      </ion-label>
      <ion-icon color="dark" name="chevron-forward"></ion-icon>
    </div>
  </ion-item>
  <div class="menu-divider-line"></div>
  <ion-item lines="none" style="font-size: small;" button detail="false" (click)="quit()">
    <ion-icon name="close-outline"></ion-icon>
    <ion-label style="margin-left: 5px; margin-top: 8px;" color="danger">
      Quit
    </ion-label>
  </ion-item>
</ion-list>