<div
  class="outer-wrapper"
  #outerWrapper
  [ngStyle]="{ height: outerHeight, width: outerWidth }"
>
  <div
    class="inner-wrapper"
    #innerWrapper
    [ngStyle]="{ transform: innerTransform }"
  >
    <ion-card>
      <any-link [link]="cardDetails.link" [qp]="cardDetails.qp">
        <ion-card-header>
          <ion-card-title>{{ cardDetails.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon
            [name]="cardDetails.icon"
            [style.color]="cardDetails.color"
          ></ion-icon>
        </ion-card-content>
        <ion-footer>
          <p>{{ cardDetails.description }}</p>
        </ion-footer>
      </any-link>
    </ion-card>
  </div>
</div>
