<ion-item>
  <ion-thumbnail slot="start">
    <img alt="" [src]="rec.icon" />
  </ion-thumbnail>
  <ion-label>
    <h2>{{ rec.title }}</h2>
    <p>{{ rec.version | displayEmver }}</p>
  </ion-label>
  <ion-spinner *ngIf="loading$ | async; else actions"></ion-spinner>
  <ng-template #actions>
    <div slot="end">
      <ion-button fill="clear" color="danger" (click)="deleteRecovered(rec)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        <!-- Remove -->
      </ion-button>
      <ion-button fill="clear" color="success" (click)="install$.next(rec)">
        <ion-icon slot="icon-only" name="download-outline"></ion-icon>
        <!-- Install -->
      </ion-button>
    </div>
  </ng-template>
</ion-item>
