name: Automated Tests

on:
  push:
    branches:
      - master
      - next/*
  pull_request:
    branches:
      - master
      - next/*

env:
  NODEJS_VERSION: "22.17.0"
  ENVIRONMENT: dev-unstable

jobs:
  test:
    name: Run Automated Tests
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODEJS_VERSION }}

      - name: Build And Run Tests
        run: make test
