<form [formGroup]="form" (ngSubmit)="submit()">
  <tui-input formControlName="hostname">
    Hostname
    <input tuiTextfield placeholder="'My Computer' OR 'my-computer.local'" />
  </tui-input>
  <tui-error
    formControlName="hostname"
    [error]="['required'] | tuiFieldError | async"
  ></tui-error>

  <tui-input formControlName="path" class="input">
    Path
    <input tuiTextfield placeholder="/Desktop/my-folder'" />
  </tui-input>
  <tui-error
    formControlName="path"
    [error]="[] | tuiFieldError | async"
  ></tui-error>

  <tui-input formControlName="username" class="input">
    Username
    <input tuiTextfield placeholder="Enter username" />
  </tui-input>
  <tui-error
    formControlName="username"
    [error]="[] | tuiFieldError | async"
  ></tui-error>

  <tui-input-password formControlName="password" class="input">
    Password
  </tui-input-password>

  <footer class="modal-buttons">
    <button tuiButton appearance="secondary" type="button" (click)="cancel()">
      Cancel
    </button>
    <button tuiButton [disabled]="form.invalid">Verify</button>
  </footer>
</form>
