p {
  color: var(--ion-color-light);
}

a {
  text-decoration: none;
}

.toggle-label {
  padding: 24px 0 8px 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  * {
    display: inline-block;
    vertical-align: middle;
  }

  h2 {
    font-weight: bold;
  }

  ion-icon {
    text-align: right;
    font-size: 24px;
  }
}
