.widget-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.backup-color {
  stroke: var(--ion-color-success);
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.backup-detail {
  font-size: 15px;

  p {
    margin: 0;
  }

  &_highlight {
    color: #3a7be0;
    font-weight: bold;
  }
}

.server-vector {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 8rem;
  height: 8rem;

  &_icon {
    color: var(--fill-color);
    height: 75%;
    width: 75%;
  }

  &_detail {
    position: absolute;
    top: 11%;
    left: 35%;
  }
}

img {
  border-radius: 0;
  width: 100%;
  height: auto;
}