.heading {
  font-size: 42px;
  margin: 32px 0;
}

.divider {
  margin: 24px;
}

.ion-padding {
  text-align: center;
}

.status {
  font-size: 14px;
}

.description {

  ion-label {
    padding-left: 8px;
    font-size: 1.3rem;
    
    @media small {
      font-size: 1rem;
    }
  }
}