<ion-grid>
  <ion-row *ngIf="selected">
    <ion-col size-lg="10" offset-lg="1" size-sm="12">
      <ion-item class="description" color="tertiary">
        <ion-icon size="large" name="information-circle-outline"></ion-icon>
        <ion-label *ngIf="selected; else defaultMsg">
          Welcome to an alternative marketplace! Services in this marketplace
          are packaged and maintained by members of the Start9 community.
          <b>Install at your own risk</b>. If you experience an issue or have a
          question related to a service in this marketplace, please reach out to
          the package developer for assistance.
        </ion-label>
        <ng-template #defaultMsg>
          <ion-label>
            Welcome to the official Start9 Marketplace! Services in this
            marketplace are packaged and maintained by the Start9 team. If you
            experience an issue or have a questions related to a service in this
            marketplace, one of our dedicated support staff will be happy to
            assist you.
          </ion-label>
        </ng-template>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <h1 class="heading montserrat ion-text-center">{{ name }}</h1>
      <marketplace-search [(query)]="query"></marketplace-search>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col size="12">
      <ng-container *ngIf="pkgs && categories; else loading">
        <marketplace-categories
          [categories]="categories"
          [category]="category"
          [updatesAvailable]="
            (pkgs | filterPackages: '':'updates':localPkgs).length
          "
          (categoryChange)="onCategoryChange($event)"
        ></marketplace-categories>

        <div class="divider"></div>

        <ion-grid
          *ngIf="pkgs | filterPackages: query:category:localPkgs as filtered"
        >
          <div
            *ngIf="!filtered.length && category === 'updates'"
            class="ion-padding"
          >
            <h1>All services are up to date!</h1>
          </div>

          <ion-row>
            <ion-col
              *ngFor="let pkg of filtered"
              sizeXs="12"
              sizeSm="12"
              sizeMd="6"
            >
              <marketplace-item [pkg]="pkg">
                <marketplace-status
                  class="status"
                  [version]="pkg.manifest.version"
                  [localPkg]="localPkgs[pkg.manifest.id]"
                ></marketplace-status>
              </marketplace-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>

      <ng-template #loading>
        <marketplace-skeleton></marketplace-skeleton>
      </ng-template>
    </ion-col>
  </ion-row>
</ion-grid>
