<h1 class="heading montserrat ion-text-center">{{ name }}</h1>

<marketplace-search [(query)]="query"></marketplace-search>

<ng-container *ngIf="pkgs && categories; else loading">
  <marketplace-categories
    [categories]="categories"
    [category]="category"
    [updatesAvailable]="(pkgs | filterPackages: '':'updates':localPkgs).length"
    (categoryChange)="onCategoryChange($event)"
  ></marketplace-categories>

  <div class="divider"></div>

  <ion-grid *ngIf="pkgs | filterPackages: query:category:localPkgs as filtered">
    <div *ngIf="!filtered.length && category === 'updates'" class="ion-padding">
      <h1>All services are up to date!</h1>
    </div>

    <ion-row>
      <ion-col *ngFor="let pkg of filtered" sizeXs="12" sizeSm="12" sizeMd="6">
        <marketplace-item [pkg]="pkg">
          <marketplace-status
            class="status"
            [version]="pkg.manifest.version"
            [localPkg]="localPkgs[pkg.manifest.id]"
          ></marketplace-status>
        </marketplace-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>

<ng-template #loading>
  <marketplace-skeleton></marketplace-skeleton>
</ng-template>
